<!-- dashboard page -->
<div class="page page-dashboard padding0">
	<div class="page-wrap clearfix">
		<div class="col-md-12 no-padding">
			<div class="row no-marging"> 
				<!-- dashboard header -->
				<div class="col-md-12 no-padding">
					<div class="dash-head clearfix mt15 mb20">
						<div class="left">
							<h4 class="mb5 text-light">Welcome to Power Cozmo</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
<div class="row no-marging">
	<div class="col-md-12">

		<div class="reg-turb">
			<div class="col-md-3 reg-tig">
				<span class="ti-angle-left"></span>
				<h5>
					<% if @result.enquiry_type == "question" %>
						Question about <%= @result.equipment.name %>
					<% elsif @result.enquiry_type == "bid" %>
						Bid for <%= @result.equipment.name %>
					<% elsif @result.enquiry_type == "buy" %>
						Order request for <%= @result.equipment.name %>
					<% end %>
				</h5>
			</div>

			<div class="col-md-9 action-btuns text-right pading-right-non">
				<a class="profile-box" href="javascript:void(0);" id="delete_inquiry_btn"><span class="ti-trash"></span> Delete</a>
				<a class="profile-box" href="javascript:void(0);" id="add_to_contact_btn"><span class="ti-plus"></span> Add to contact</a>
				<a class="profile-box" href="javascript:void(0);" id="reject_inquiry_btn"><span class="ti-cut"></span> Reject the inquiry</a>
				<a class="profile-box" href="javascript:void(0);" id="report_spam_inquiry_btn"> <span class="ti-announcement"></span> Report as spam</a>
				<a class="profile-box" href="javascript:void(0);" id="mark_unread_inquiry_btn"><span class="ti-check-box"></span> Mark as unread</a>
				<a class="profile-box" href="<%= seller_detail_inquiry_center_path(@result.id) %>"><span class="ti-reload"></span> Refresh</a>
			</div>

		</div>

		<div class="main-box top-margin-15 bottom-margin-15px border-botm-none">

			<div class="main-heding no-t-padding">
				<div class="bred-crumbs">
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 1) ? 'active' : '' %>">NEGOTIATING</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 2) ? 'active' : '' %>">CONFIRMED</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 4) ? 'active' : '' %>">FUNDED TO POWER COZMO</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 5) ? 'active' : '' %>">SHIPPED</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 6) ? 'active' : '' %>">PAYMENT RELEASED</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 7) ? 'active' : '' %>">FULL PROTECTION</a>
				</div>
			</div>

		</div>

	</div>

	<div class="col-md-8">

		<div class="ord-req">
			<b>Order Request</b>
			<p>Send an Order request to this Seller, Fine Negotation will lead to successful business!</p>
		</div>

		<%= render partial: "contact_detail" %>

		<div class="first-actordian">
			<button type="button" data-toggle="collapse" data-target="#demo-1" aria-expanded="false">Equipment  <span class="ti-angle-down"></span></button>
			<div id="demo-1" class="collapse" aria-expanded="false" style="height: 0px;">

				<div class="main-box">
					<div class="panel-body padding0 dashboard-table">
						<table class="table">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Product	</th>
									<th>Condition           </th>
									<th>Link on site</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= @result.equipment.identifier %></td>
									<td>
										<% if @result.equipment.images.present? %>
										  <%= image_tag(@result.equipment.images.first.try(:image), width: '50', alt: @result.equipment.name) %>
										<% else %>
										  <i class="fa fa-file-image-o"></i>
										<% end %>
										<%= @result.equipment.name %>
									</td>
									<td><%= @result.equipment.condition %></td>
									<td><%= link_to truncate(equipment_details_url(@result.equipment.id), :length => 30), equipment_details_path(@result.equipment.id), class: "", target: "_blank" %></td>
									<td><%=truncate(@result.equipment.description, :length => 50) %></td>
								</tr>
							</tbody>
						</table>
					</div>

					<% if @result.equipment.try(:pdf_attachment).try(:url).present? %>
						<a class="download-" target="_blank" href="<%= root_url %><%= @result.equipment.pdf_attachment.url %>" download="<%= File.basename(@result.equipment.pdf_attachment.url) %>">Download PDF <span class="ti-download"></a>
					<% end %>
				</div>

			</div>
		</div>

		<%= render partial: "shipping_detail" %>

<% if @result.order.present? %>
		<div class="first-actordian">
			<button type="button" data-toggle="collapse" data-target="#demo-3" aria-expanded="false">Terms  <span class="ti-angle-down"></span></button>
			<div id="demo-3" class="collapse" aria-expanded="false" style="height: 0px;">
	<%= form_for(@result.order, url: seller_orders_update_path(@result.order.id), html: { method: :put, :id => "update_remark" }) do |f| %>
				<div class="text-arss-">

					<% if current_user.id == @result.order.equipment.user_id %>							
						<%= f.text_area :seller_remark, autocomplete: "off", id: 'seller_remark', placeholder: 'Please leave any remarks related to products, payment, shipping of other terms related to this order here, other then the information provided above' %>
					<% else %>
						<%= f.text_area :buyer_remark, autocomplete: "off", id: 'buyer_remark', placeholder: 'Please leave any remarks related to products, payment, shipping of other terms related to this order here, other then the information provided above' %>
					<% end %>

				</div>
	<% end %>

			</div>
		</div>
<% end %>

		<% if !@result.question? %>
			<div class="first-actordian">
				<button type="button" data-toggle="collapse" data-target="#demo4" aria-expanded="false">Price <span class="ti-angle-down"></span></button>
				<div id="demo4" class="collapse" aria-expanded="false" style="height: 0px;">
					<ul class="cont-info totl-price">
						<li><i>Amount Paid to Seller</i><b><em><%= raw(@result.equipment.currency) %></em><%= @seller_amount %></b></li>
						<li><i>Power Cozmo commission</i><b><em><%= raw(@result.equipment.currency) %></em><%= @commission_val %></b></li><li class="tol-rp">
							<i>Total Amount to be paid by Buyer</i><b><em><%= raw(@result.equipment.currency) %></em><%= @total_amount %></b></li>
					</ul>
				</div>
			</div>
		<% end %>

		<a href="#" class="send-ord orang-gradient">Send an Order Request</a>

	</div>

	<div class="col-md-4 pading-left-none">
		<%= render partial: "right_section_detail" %>
	</div>
</div>

<script type="text/javascript">

	inquiry_data = [<%= @result.id %>];

	$("#delete_inquiry_btn").click(function(){
		if (confirm("Are you sure you want to delete this Inquiry?")){
			$.ajax({
		      	url: "/seller/delete-inquiry",
		      	type : 'Post',
		      	data: {
		        	inquiry_data: inquiry_data
		      	},
		      	success: function( data ) {
		      		refresh_url = '<%= seller_inquiry_center_path %>';
		      		window.location.href = refresh_url;
		      	}
		    });
		}
	});

	$("#mark_unread_inquiry_btn").click(function(){
		if (confirm("Are you sure you want to mark unread this Inquiry?")){
			$.ajax({
		      	url: "/seller/mark-unread-inquiry",
		      	type : 'Post',
		      	data: {
		        	inquiry_data: inquiry_data
		      	},
		      	success: function( data ) {
		      		refresh_url = '<%= seller_detail_inquiry_center_path(@result.id) %>';
		      		window.location.href = refresh_url;
		      	}
		    });
		}
		
	});

	$("#reject_inquiry_btn").click(function(){
		if (confirm("Are you sure you want to reject this Inquiry?")){
			$.ajax({
		      	url: "/seller/reject-inquiry",
		      	type : 'Post',
		      	data: {
		        	inquiry_data: inquiry_data
		      	},
		      	success: function( data ) {
		      		refresh_url = '<%= seller_detail_inquiry_center_path(@result.id) %>';
		      		window.location.href = refresh_url;
		      	}
		    });
		}
	});

	$("#report_spam_inquiry_btn").click(function(){
		if (confirm("Are you sure you want to report as spam this Inquiry?")){
			$.ajax({
		      	url: "/seller/report-spam-inquiry",
		      	type : 'Post',
		      	data: {
		        	inquiry_data: inquiry_data
		      	},
		      	success: function( data ) {
		      		refresh_url = '<%= seller_detail_inquiry_center_path(@result.id) %>';
		      		window.location.href = refresh_url;
		      	}
		    });
		}
	});

	$("#add_to_contact_btn").click(function(){
		contact_data = [];
		if (confirm("Are you sure you want to add this partner in contact?")){
			$.ajax({
		      	url: "/seller/add-user-contact",
		      	type : 'Post',
		      	data: {
		        	contact_data: contact_data
		      	},
		      	success: function( data ) {
		      		refresh_url = '<%= seller_detail_inquiry_center_path(@result.id) %>';
		      		window.location.href = refresh_url;
		      	}
		    });
		}
	});
 
</script>
