<!-- dashboard page -->
<div class="page page-dashboard padding0">
	<div class="page-wrap clearfix">
		<div class="col-md-12 no-padding">
			<div class="row no-marging"> 
				<!-- dashboard header -->
				<div class="col-md-12 no-padding">
					<div class="dash-head clearfix mt15 mb20">
						<div class="left">
							<h4 class="mb5 text-light">Welcome to Power Cozmo</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
  
<div class="row no-marging">
	<div class="col-md-12">

		<div class="reg-turb">
			<div class="col-md-3 reg-tig">
				<span class="ti-angle-left"></span>
				<h5>
					<% if @result.enquiry_type == "question" %>
						Question about <%= @result.equipment.name %>
					<% elsif @result.enquiry_type == "bid" %>
						Bid for <%= @result.equipment.name %>
					<% elsif @result.enquiry_type == "buy" %>
						Order request for <%= @result.equipment.name %>
					<% end %>
				</h5>
			</div>

			<div class="col-md-9 action-btuns text-right pading-right-non">
				<a class="profile-box" href="javascript:void(0);" id="delete_inquiry_btn"><span class="ti-trash"></span> Delete</a>
				<a class="profile-box" href="javascript:void(0);" id="add_to_contact_btn"><span class="ti-plus"></span> Add to contact</a>
				<a class="profile-box" href="javascript:void(0);" id="reject_inquiry_btn"><span class="ti-cut"></span> Reject the inquiry</a>
				<a class="profile-box" href="javascript:void(0);" id="report_spam_inquiry_btn"> <span class="ti-announcement"></span> Report as spam</a>
				<a class="profile-box" href="javascript:void(0);" id="mark_unread_inquiry_btn"><span class="ti-check-box"></span> Mark as unread</a>
				<a class="profile-box" href="<%= seller_detail_inquiry_center_path(@result.id) %>"><span class="ti-reload"></span> Refresh</a>
			</div>

		</div>

		<div class="main-box top-margin-15 bottom-margin-15px border-botm-none">

			<div class="main-heding no-t-padding">
				<div class="bred-crumbs">
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 1) ? 'active' : '' %>">NEGOTIATING</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 2) ? 'active' : '' %>">CONFIRMED</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 4) ? 'active' : '' %>">FUNDED TO POWER COZMO</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 5) ? 'active' : '' %>">SHIPPED</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 6) ? 'active' : '' %>">PAYMENT RELEASED</a>
					<a href="javascript:void(0);" class="<%= (@result['replied_as'] == 7) ? 'active' : '' %>">FULL PROTECTION</a>
				</div>
			</div>

		</div>

	</div>

	<div class="col-md-8">

		<div class="ord-req">
			<b>Order Request</b>
			<p>Send an Order request to this Seller, Fine Negotation will lead to successful business!</p>
		</div>

		<div class="first-actordian">
			<button type="button" data-toggle="collapse" data-target="#demo" aria-expanded="false">Contact <span class="ti-angle-down"></span></button>
			<div id="demo" class="collapse" aria-expanded="false" style="height: 0px;">
				<ul class="cont-info">
					<li>
						<i>Partner name</i>
						<b>
							<% if @result.user_id == current_user.id %>
								<%= @result.try(:equipment).try(:user).try(:profile).try(:first_name) %> <%= @result.try(:equipment).try(:user).try(:profile).try(:last_name) %>
							<% else %>
								<%= @result.try(:name) %>
							<% end %>
						</b>
					</li>
				</ul>
			</div>
		</div>

		<div class="first-actordian">
			<button type="button" data-toggle="collapse" data-target="#demo-1" aria-expanded="false">Equipment  <span class="ti-angle-down"></span></button>
			<div id="demo-1" class="collapse" aria-expanded="false" style="height: 0px;">

				<div class="main-box">
					<div class="panel-body padding0 dashboard-table">
						<table class="table">
							<thead>
								<tr>
									<th>S.No.</th>
									<th>Product	</th>
									<th>Condition           </th>
									<th>Link on site</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><%= @result.equipment.identifier %></td>
									<td>
										<% if @result.equipment.images.present? %>
										  <%= image_tag(@result.equipment.images.first.try(:image), width: '50', alt: @result.equipment.name) %>
										<% else %>
										  <i class="fa fa-file-image-o"></i>
										<% end %>
										<%= @result.equipment.name %>
									</td>
									<td><%= @result.equipment.condition %></td>
									<td><%= link_to truncate(equipment_details_url(@result.equipment.id), :length => 30), equipment_details_path(@result.equipment.id), class: "", target: "_blank" %></td>
									<td><%=truncate(@result.equipment.description, :length => 50) %></td>
								</tr>
							</tbody>
						</table>
					</div>

					<% if @result.equipment.try(:attachment).try(:url).present? %>
						<a class="download-" target="_blank" href="<%= root_url %><%= @result.equipment.attachment.url %>" download="<%= File.basename(@result.equipment.attachment.url) %>">Download <span class="ti-download"></a>
					<% end %>
				</div>

			</div>
		</div>

		<div class="first-actordian">
			<button type="button" data-toggle="collapse" data-target="#demo-2" aria-expanded="false">Shipping  <span class="ti-angle-down"></span></button>
			<div id="demo-2" class="collapse" aria-expanded="false" style="height: 0px;">
				<ul class="cont-info">
					<li>
						<i>Number of Packages</i>   
						<b>
							<% if @result.equipment.shipping_package.present? %>	
								<% no_of_package = @result.equipment.shipping_package.count %>
					
								<% if no_of_package > 0 %>	
									<%= no_of_package %>
								<% end %>
							<% end %>						
						</b>
					</li>
					<li>
						<i>Shipping Method</i><b><%= @result.try(:shipping_method) %></b>
					</li>
				</ul>

				<div class="pack-detals">
					<div class="tabl-pro">
						<ul class="tab-hd">
							<li>Package Dimensions :</li>
							<li>Length</li>
							<li>Width</li>
							<li>Height</li>
							<li>Weight</li>
						</ul>
						
						<% i = 0 %>
						<% if @result.equipment.shipping_package.present? %>	
							<% @result.equipment.shipping_package.each_with_index do |s_package,index| %>
								<% i = i + 1 %>
								<ul>
									<li>Package <%= i %></li>
									<li><%= s_package.length %></li>
									<li><%= s_package.width %></li>
									<li><%= s_package.height %></li>
									<li><%= s_package.weight %></li>
								</ul>
							<% end %>
						<% end %>
					</div>
				</div>

				<div class="loacito-adr">
					<div class="locat-sec">
						<ul class="cont-info">
							<li><b class="tit">Pickup Location</b></li>
							<li><i>Country</i><b><%= @result.equipment.try(:country).try(:name) %></b></li>
							<li><i>City</i><b><%= @result.equipment.city %></b></li>
							<li><i>Port</i><b><%= @result.equipment.pickup_port %></b></li>
						</ul>

						<ul class="cont-info">
							<li><b class="tit">Drop Location</b></li>
							<li><i>Country</i><b><%= @result.try(:country).try(:name) %></b></li>
							<li><i>City</i><b><%= @result.try(:delivery_city) %></b></li>
							<li><i>Port</i><b><%= @result.try(:delivery_port) %></b></li>
						</ul>

					</div>
					<a class="ed-s" href="javascript:void(0);" data-toggle="modal" data-target="#edit_shipping_popup"><span class="ti-pencil"></span> Edit</a>
				</div>
			</div>
		</div>

<% if @result.order.present? %>
		<div class="first-actordian">
			<button type="button" data-toggle="collapse" data-target="#demo-3" aria-expanded="false">Terms  <span class="ti-angle-down"></span></button>
			<div id="demo-3" class="collapse" aria-expanded="false" style="height: 0px;">
	<%= form_for(@result.order, url: seller_orders_update_path(@result.order.id), html: { method: :put, :id => "update_remark" }) do |f| %>
				<div class="text-arss-">

					<% if current_user.id == @result.order.equipment.user_id %>							
						<%= f.text_area :seller_remark, autocomplete: "off", id: 'seller_remark', placeholder: 'Please leave any remarks related to products, payment, shipping of other terms related to this order here, other then the information provided above' %>
					<% else %>
						<%= f.text_area :buyer_remark, autocomplete: "off", id: 'buyer_remark', placeholder: 'Please leave any remarks related to products, payment, shipping of other terms related to this order here, other then the information provided above' %>
					<% end %>

				</div>
	<% end %>

			</div>
		</div>
<% end %>

		<div class="first-actordian">
			<button type="button" data-toggle="collapse" data-target="#demo4" aria-expanded="false">Price <span class="ti-angle-down"></span></button>
			<div id="demo4" class="collapse" aria-expanded="false" style="height: 0px;">
				<ul class="cont-info totl-price">
					<li><i>Amount Paid to Seller</i><b><em><%= raw(@result.equipment.currency) %></em><%= @seller_amount %></b></li>
					<li><i>Power Cozmo commission</i><b><em><%= raw(@result.equipment.currency) %></em><%= @commission_val %></b></li><li class="tol-rp">
						<i>Total Amount to be paid by Buyer</i><b><em><%= raw(@result.equipment.currency) %></em><%= @total_amount %></b></li>
				</ul>
			</div>
		</div>

		<a href="#" class="send-ord orang-gradient">Send an Order Request</a>

	</div>

	<div class="col-md-4 pading-left-none">
		<div class="chatn-box">
			<div class="tlt-sec-chat">
				<b> <% if @result.user_id == current_user.id %>
						<%= @result.try(:equipment).try(:user).try(:profile).try(:first_name) %> <%= @result.try(:equipment).try(:user).try(:profile).try(:last_name) %>
					<% else %>
						<%= @result.try(:name) %>
					<% end %>
				</b>
				<span><i class="ti-location-pin"></i> <% if @result.user_id == current_user.id %>
										<%= @result.try(:equipment).try(:user).try(:profile).try(:country).try(:name) %>
									<% else %>
										<%= @result.try(:country).try(:name) %>
									<% end %>
				</span>
			</div>
			<div class="clearfix"></div>

			<div class="comment-chates">

				<% msg_style = (@result.user_id == current_user.id) ? '' : 'cust' %>
				<div class="user-chat-sec <%= msg_style %>">
					<div class="text-are">
						<p><%= @result.message.to_s.html_safe %>
						</p>
						<em><%=format_time(@result.created_at)%><!-- 10/03/2016 --></em>
					</div>
					<span class="user-img">
						<% if (@result.user.try(:image).blank? || @result.user.try(:image).try(:image).blank?)%>
							<img src="/assets/seller/myprofile-placeholder-img.png" class="img-circle" alt="User Image">
						<% else %>
							<%= image_tag(@result.user.try(:image).try(:image).try(:thumb).try(:url), class: "img-circle",alt: "User Image") %>
						<% end %>
					</span>	
				</div>

<% @result.responses.each_with_index do |enquiry_response,index| %>

	<% if enquiry_response.status == 'forwarded' || enquiry_response.user_id == current_user.id %>

		<% msg_style = (enquiry_response.user_id == current_user.id) ? '' : 'cust' %>

				<div class="user-chat-sec <%= msg_style %>">
					<div class="text-are">
						<p><%= enquiry_response.message.to_s.html_safe %>
							<% if enquiry_response.try(:attachment).try(:url).present? %>
											
								<a class="clearfix" target="_blank" href="<%= root_url %><%= enquiry_response.attachment.url %>" download="<%= File.basename(enquiry_response.attachment.url) %>"><%= File.basename(enquiry_response.attachment.url) %></a>
											
							<% end %>
						</p>
						<em><%=format_time(enquiry_response.created_at)%><!-- 10/03/2016 --></em>
					</div>
					<span class="user-img">
						<% if (enquiry_response.user.image.blank? || enquiry_response.user.image.try(:image).blank?)%>
							<img src="/assets/seller/myprofile-placeholder-img.png" class="img-circle" alt="User Image">
						<% else %>
							<%= image_tag(enquiry_response.user.image.try(:image).try(:thumb).try(:url), class: "img-circle",alt: "User Image") %>
						<% end %>						
					</span>





				</div>	


	<% end %>
<% end %>

			</div>

<% if @result.question? %>
	<%= form_for @result.responses.new, url: seller_reply_to_question_path do |f| %>			

			<div class="butns-sec-chat">
				
				<div class="text-updrte">
					<%= f.text_area :message, class: '', id: "message", maxlength: "2000", placeholder: 'Writing e-mail address, telephone numbers or contacts details is not allowed.', value: params[:enquiry_response].present? ? params[:enquiry_response][:message] : '' %>
				</div>
				<div class="count">
					<p><i id="message_length">0</i>/2000(Min.20)</p>
				</div>
				<span class="error-msg"><%= @error%></span>
				<div class="make-ofer">
					<!--<% if(@result.user_id == current_user.id) %>
						<a href="javascript:void(0);" id="make_offer">Make Offer</a>
					<% end %>-->
					<a href="javascript:void(0);" id="make_offer">Make Offer</a>

					<span>
						<%= f.file_field :attachment, class: "" %>
						<b><img src="/assets/seller/attach-.png" alt=""> Attach Files</b>
					</span>
					<button type="submit" value="Reply" name="commit">Send</button>
					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>
				<!--
				<% if(@result.user_id == current_user.id) %>
					<div id="make_offer_submit" style="display: none;">
						<div>Bidding Price: <input type="text" /></div>
						<div><button>Submit</button></div>
					</div>
				<% end %>-->

			</div>

	<% end %>
<% elsif @result.bid? || @result.buy? %>
	<% if @result.equipment.availble_for >= Date.today %>
		<%= form_for @result.responses.new, url: seller_respond_to_offer_path(@result), method: :put do |f|%>

			<div class="butns-sec-chat">

				<% if(@result.user_id != current_user.id) %>
					<% if @result.replied_as=="Negotiating" && @result.equipment.try(:availble_for).present? && @result.equipment.try(:availble_for) >= Date.today %>

						<div class="butn-text">
							<i class="fa fa-fw" aria-hidden="true" title="Copy to use angle-down"></i>
							<span>
								 

								<button type="submit" class="green-button" value="Confirm" name="commit">Accept</button>
								<button type="submit" class="red-button" value="Reject" name="commit">Reject</button>
							</span>
						</div>

					<% end %>
				<% end %>

				<div class="text-updrte">
					<%= f.text_area :message, class: '', id: "message", maxlength: "2000", placeholder: 'Writing e-mail address, telephone numbers or contacts details is not allowed.', value: params[:enquiry_response].present? ? params[:enquiry_response][:message] : '' %>
				</div>
				<div class="count">
					<p><i id="message_length">0</i>/2000(Min.20)</p>
				</div>
				<span class="error-msg"><%= @error%></span>
				<div class="make-ofer">
					<a href="javascript:void(0);" id="make_offer">Make Offer</a>
					<span>
						<%= f.file_field :attachment, class: "" %>
						<b><img src="/assets/seller/attach-.png" alt=""> Attach Files</b>
					</span>
					<button type="submit" value="Reply" name="commit">Send</button>
					<div class="clearfix"></div>
				</div>

			</div>

		<% end %>
	<% end %>
<% end %>	
		
		</div>
	</div>
</div>



<div id="edit_shipping_popup" class="modal fade" role="dialog">
	<div class="modal-dialog">

<!-- Modal content-->
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
			<div class="modal-header">

				<h4 class="modal-title">Update Shipping</h4>
			</div>
			<div class="modal-body">

<% if current_user.id == @result.equipment.user_id %>		
	<%= form_for(@result.equipment, url: seller_save_shipping_inquiry_path(@result), html: { method: :post, :id => "update_shipping" }) do |f| %>
		<%= hidden_field_tag "equipment[update_type]", 'seller' %>
			
			<div class="panel panel-default panel-hovered panel-stacked mb30">
				<div class="panel-body">
					
					<div class="form-group">
						<label class="col-md-4 control-label text-bold">Pickup Country</label>
						<div class="col-md-8">
							<%= f.select :country_id, @countries.map{|id,name| [name,id] }, {prompt: 'Select Country'} %>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">Pickup City</label>
						<div class="col-md-8">
							<%= f.text_field :city, autocomplete: "off", class: 'form-control', id: 'pickup_city', placeholder: 'Enter Pickup City' %>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">Pickup Port</label>
						<div class="col-md-8">
							<%= f.text_field :pickup_port, autocomplete: "off", class: 'form-control', id: 'pickup_port', placeholder: 'Enter Pickup port' %>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt30">
						<div class="col-md-12">
							<label class="control-label text-bold">Packages Detail :</label>
							<%= link_to 'javascript:void(0);', class: "pull-right add-package", title: "Add More Packages"  do %>
										<i class="fa fa-plus"></i><span> Add More</span>
									<% end %>
						</div>
						<div class="col-md-12 basic-table">
							
							<table class="table">
								<thead>
									<tr>
										<th>Length</th>
										<th>Width</th>
										<th>Height</th>
										<th>Weight</th>										
										<th></th>	
									</tr>
								</thead>
								
								<tbody id="package-list">
									
									<% i = 0 %>
									<%= f.fields_for :shipping_package do |s| %>
									
										<% @result.equipment.shipping_package.each_with_index do |s_package,index| %>
											<% i = index + 1 %>
											
											<tr id="package-list-<%= index %>">
											
												<td>
													<%= s.text_field :length, autocomplete: "off", class: 'form-control', id: 'length' + index.to_s, placeholder: 'Enter Length', value: s_package.length, name: 'equipment[shipping_package][' + index.to_s + '][length]' %>
												</td>
												
												<td>
													<%= s.text_field :width, autocomplete: "off", class: 'form-control', id: 'width' + index.to_s, placeholder: 'Enter Width', value: s_package.width, name: 'equipment[shipping_package][' + index.to_s + '][width]' %>
												</td>
												
												<td>
													<%= s.text_field :height, autocomplete: "off", class: 'form-control', id: 'height' + index.to_s, placeholder: 'Enter Height', value: s_package.height, name: 'equipment[shipping_package][' + index.to_s + '][height]' %>
												</td>
								
												<td>
													<%= s.text_field :weight, autocomplete: "off", class: 'form-control', id: 'weight' + index.to_s, placeholder: 'Enter Weight', value: s_package.weight, name: 'equipment[shipping_package][' + index.to_s + '][weight]' %>
												</td>
												<td>
													<%= link_to 'javascript:void(0);', class: "pull-right remove-package", title: "Remove Package", data_reference: 'package-list-' + index.to_s  do %>
														<i class="fa fa-remove"></i>
													<% end %>
												</td>
											
											</tr>
											
										<% end %>	
									<% end %>
				
									<input type="hidden" id="package-counter" value="<%= i %>">
									
								</tbody>
							</table>
							
						</div>
					</div>
					
					<div class="clearfix mt20 right">
					   <button type="submit" class="btn btn-success mr5" value="Update" name="commit">Update</button>
					</div>	
								
				</div>	
			</div>	
	<% end %>	

	<script type="text/javascript">
	    $(document).ready(function(){
	               
	        $('.add-package').click(function () {
	            var i = $('#package-counter').val();
	            var html_data = '<tr id="package-list-' + i + '"><td><input autocomplete="off" class="form-control" id="length' + i + '" placeholder="Enter Length"  name="equipment[shipping_package][' + i + '][length]" type="text"></td><td><input autocomplete="off" class="form-control" id="width' + i + '" placeholder="Enter Width" name="equipment[shipping_package][' + i + '][width]" type="text"></td><td><input autocomplete="off" class="form-control" id="height' + i + '" placeholder="Enter Height" name="equipment[shipping_package][' + i + '][height]" type="text"></td><td><input autocomplete="off" class="form-control" id="weight' + i + '" placeholder="Enter Weight" name="equipment[shipping_package][' + i + '][weight]" type="text"></td><td><a class="pull-right remove-package" title="Remove Package" data_reference="package-list-' + i + '" href="javascript:void(0);"><i class="fa fa-remove"></i></a></td></tr>';
	            
	            $("#package-list").append(html_data);
	            
	            i++;
	            $('#package-counter').val(i);
	            
	        });
	        
	    });
	    
	     $(document).on('click', '.remove-package', function () {
	            var ref = $(this).attr('data_reference');
	            $("#" + ref).remove();
	      });
	</script>

<% else %>
	<%= form_for(@result, url: seller_save_shipping_inquiry_path(@result), html: { method: :post, :id => "update_shipping" }) do |f| %>
		<%= hidden_field_tag "equipment[update_type]", 'buyer' %>
	
			<div class="panel panel-default panel-hovered panel-stacked mb30">
				<div class="panel-body">
					
					<div class="form-group">
						<label class="col-md-4 control-label text-bold">Shipping Method</label>
						<div class="col-md-8">
							<%= f.select :shipping_method, options_for_select(Order::SHIPPING_METHOD, @result.try(:shipping_method)), {prompt: 'Select Shipping Method'} %>							
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">Delivery Country</label>
						<div class="col-md-8">
							<%= f.select :country_id, @countries.map{|id,name| [name,id] }, {prompt: 'Select Country'} %>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">Delivery City</label>
						<div class="col-md-8">
							<%= f.text_field :delivery_city, autocomplete: "off", class: 'form-control', id: 'delivery_city', placeholder: 'Enter Delivery City' %>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">Delivery Port</label>
						<div class="col-md-8">
							<%= f.text_field :delivery_port, autocomplete: "off", class: 'form-control', id: 'delivery_port', placeholder: 'Enter Delivery port' %>
						</div>
					</div>
					
					<div class="clearfix mt20 right">
					   <button type="submit" class="btn btn-success mr5" value="Update" name="commit">Update</button>
					</div>	
								
				</div>	
			</div>	
		
	<% end %>
<% end %>	

			</div>

		</div>

	</div>
</div>


<script type="text/javascript">

inquiry_data = [<%= @result.id %>];

	$("#delete_inquiry_btn").click(function(){

		if (confirm("Are you sure you want to delete this Inquiry?")){
			$.ajax({
		      	url: "/seller/delete-inquiry",
		      	type : 'Post',
		      	data: {
		        	inquiry_data: inquiry_data
		      	},
		      	success: function( data ) {

		      		refresh_url = '<%= seller_inquiry_center_path %>';

		      		window.location.href = refresh_url;
		      	}
		    });
		}
	
	});

	$("#mark_unread_inquiry_btn").click(function(){

		if (confirm("Are you sure you want to mark unread this Inquiry?")){

			$.ajax({
		      	url: "/seller/mark-unread-inquiry",
		      	type : 'Post',
		      	data: {
		        	inquiry_data: inquiry_data
		      	},
		      	success: function( data ) {

		      		refresh_url = '<%= seller_detail_inquiry_center_path(@result.id) %>';

		      		window.location.href = refresh_url;
		      	}
		    });
		}
		
	});

	$("#reject_inquiry_btn").click(function(){

		if (confirm("Are you sure you want to reject this Inquiry?")){
			$.ajax({
		      	url: "/seller/reject-inquiry",
		      	type : 'Post',
		      	data: {
		        	inquiry_data: inquiry_data
		      	},
		      	success: function( data ) {

		      		refresh_url = '<%= seller_detail_inquiry_center_path(@result.id) %>';

		      		window.location.href = refresh_url;
		      	}
		    });
		}

	});

	$("#report_spam_inquiry_btn").click(function(){

		if (confirm("Are you sure you want to report as spam this Inquiry?")){
			$.ajax({
		      	url: "/seller/report-spam-inquiry",
		      	type : 'Post',
		      	data: {
		        	inquiry_data: inquiry_data
		      	},
		      	success: function( data ) {

		      		refresh_url = '<%= seller_detail_inquiry_center_path(@result.id) %>';

		      		window.location.href = refresh_url;
		      	}
		    });
		}

	});

	$("#add_to_contact_btn").click(function(){

		
		contact_data = [];
		
		if (confirm("Are you sure you want to add this partner in contact?")){
			$.ajax({
		      	url: "/seller/add-user-contact",
		      	type : 'Post',
		      	data: {
		        	contact_data: contact_data
		      	},
		      	success: function( data ) {

		      		refresh_url = '<%= seller_detail_inquiry_center_path(@result.id) %>';

		      		window.location.href = refresh_url;
		      	}
		    });
		}

	});

	$(document).ready(function(){  
		$.validator.addMethod("regexEmail", function(value, element, regexpr) {
	   
			if(regexpr.test(value)){
				return false;
			}else{
				return true;
			}
		}, "Please remove email from message");
	  
		$.validator.addMethod("regexPhone", function(value, element, regexpr) {

			if(regexpr.test(value)){	
				return false;
			}else{
				return true;
			}
		}, "Please remove phone number from message");
		  
		
		var validator = $("#new_enquiry_response").validate({
		  //debug: true,
		  errorElement: 'div',
		  errorClass: 'error-msg',
		  ignore: "",
		  rules: {    
			'enquiry_response[message]': {
			  required: true,
			  minlength: 20,
			  maxlength: 2000,
			  regexPhone: /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im,
			  regexEmail: /(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/
			}
		  },
		  messages:{    
			'enquiry_response[message]': {
			  required: "Message can't be blank",
			  maxlength: "Please enter maximum 2000 characters",
			  minlength: "Please enter minimum 20 characters",
			  regexEmail: "Please remove email from message",
			  regexPhone: "Please remove phone number from message"
			}
		  }, 
		  errorPlacement: function(error, element) {
			error.insertAfter(element);
		  }, 
		  submitHandler: function(form) {  
			//Hack for form submit
			if ($(form).valid()) 
			  form.submit(); 
			return false; // prevent normal form posting
		  }
		});

		getMessageLength();
		$("#message").on('keyup', function(){
			getMessageLength();
		});

		function getMessageLength(){
			message_length = $("#message").val().length;
			$("#message_length").html(message_length);
		}

		$("#make_offer").click(function(){

			$("#make_offer_submit").toggle('700');

		});

		var validator_bidding = $("#equipment_enquiry_form").validate({
		    ignore: ':hidden:not(select)',
		    rules: {
		      "enquiry[bidding_price]": {
		        required: true,
		        number: true,
		        regex: /^[0-9]{0,10}[\.]*[0-9]{0,2}$/
		      }
		    },
		    messages: {
		      "enquiry[bidding_price]": {
		        required: "Bidding price can not be blank",
		        number: "Please enter number only",
		        regex: "Max value for price is 9999999999.99"
		      }
		    },
		    errorPlacement: function(error, element) {
		      if (element.attr("name") == "enquiry[country_id]") {
		        error.insertAfter("#country-error");
		      } else {
		        error.insertAfter(element);
		      }
		    }
		    		    
		  });
		

	});   
</script>
