<% if params[:action] == 'my_buying_request_list'  
	title = 'My Buying Request List';
else 
	title = 'Buying Request List';
end %>

<div class="page page-ui-tables page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active"><%= title %></li>
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light"><%= title %></h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<!-- row -->
		<div class="row">
			<!-- Basic Table -->
			<div class="col-md-12">
				<div class="panel panel-lined panel-hovered mb20 table-responsive basic-table">
					
					<div class="panel-body">
						<% if @buying_requests.present? %>
							<table class="table">
								<thead>
									<tr>
										<th>S.NO.</th>
										<th>Requester Name</th>
										<th>Title</th>
										<th>Type</th>
										<th>Description</th>
										<th>Added Date</th>
										<th>Expire Date</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								
								<tbody>
									<% @buying_requests.each do |br| %>
										<tr>
											<td><%= br.identifier%></td>
											<td><%= br.name%></td>
											<td><%= br.title%></td>
											<td><%= br.lead_type%></td>
											<td><%= truncate(br.description, length: 35)%></td>
											<td><%= br.created_at.strftime('%m/%d/%Y')%></td>
											<td><%= br.expiration_date.strftime('%m/%d/%Y')%></td>
											<td class="text-center">
												
												<% if params[:action] == 'my_buying_request_list' %>
													<%= link_to '<i class="ion-eye"></i>View'.html_safe, seller_my_buying_request_path(br), title: "View", class: "btn btn-info"%>
													
													<%= link_to '<i class="ion-ios-compose"></i>Edit'.html_safe, edit_buying_request_path(br), title: "Edit", class: "btn btn-info mt5" %>
													
													<%= link_to '<i class="ion-ios-trash"></i>Delete'.html_safe, seller_buying_request_path(br),method: :delete,data: { confirm: 'Are you sure?' }, title: "Delete", class: "btn btn-danger mt5" %>
												
												<% else %>
													<%= link_to '<i class="ion-eye"></i>View'.html_safe, seller_buying_request_path(br), title: "View", class: "btn btn-info"%>
													
													<% if br.user_id != current_user[:id] && br.email != current_user[:email] %>
														<% if br.expiration_date >= Date.today %>
														  <%= link_to '<i class="ion-edit"></i>Request Info'.html_safe, seller_request_for_more_info_path(buying_request_id: br.id), title: "Request For Info", class: "btn btn-info mt5"%>
														<% end %>
														<% if br.expiration_date >= Date.today %>
														  <%= link_to '<i class="ion-edit"></i>Submit Proposal'.html_safe, new_seller_buying_proposal_path(buying_request_id: br.id), title: "Submit Your Proposal", class: "btn btn-info mt5"%>
														<% end %>
													<% end %>
												
												<% end %>
											</td>				
																					
										</tr>
									<% end %>
								</tbody>
							</table>
							<%= paginate @buying_requests, :theme => 'listing_page_theme' %>
						 <% else %>
							<p class="no-result">No Buying Requests Found</p>
						 <% end %>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
