<% if params[:action] == 'my_buying_request_list'  
	title = 'My Buying Request List';
else 
	title = 'Buying Request List';
end %>

<div class="page page-ui-tables page-dashboard">
	
	
	<div class="page-wrap">

	<!-- <div class="row no-margin no-padding">
			
			<div class="col-md-12 no-padding">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">Welcome to Power Cozmo</h4>
					</div>
				</div>
			</div>
		</div> -->



		<div class="row no-marging">
			<div class="col-md-12">
				<div class="main-box top-margin-15">
					<div class="main-heding no-t-padding">
						<i class="fa fa-list" aria-hidden="true"></i> <p><%= title %></p> 
					</div>


					<div class="panel-body padding0 dashboard-table">
					
					 <% if @buying_requests.present? %>
							<table class="table">
								<thead>
									<tr>
										<th>S.NO.</th>
										<th>Requester Name</th>
										<th>Title</th>
										<th>Type</th>
										<th>Description</th>
										<th>Added Date</th>
										<th>Expire Date</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								
								<tbody>
									<% @buying_requests.each do |br| %>
										<tr>
											<td><%= br.identifier%></td>
											<td><%= br.name%></td>
											<td><%= br.title%></td>
											<td><%= br.lead_type%></td>
											<td><%= truncate(br.description, length: 35)%></td>
											<td><%= br.created_at.strftime('%m/%d/%Y')%></td>
											<td><%= br.expiration_date.strftime('%m/%d/%Y')%></td>
											<td class="text-center">
												
												<% if params[:action] == 'my_buying_request_list' %>
													<%= link_to '<span class="ti-eye"></span>'.html_safe, seller_my_buying_request_path(br), title: "View" %>
													
													<%= link_to '<span class="ti-pencil"></span>'.html_safe, edit_buying_request_path(br), title: "Edit" %>
													
													<%= link_to '<i class="fa fa-trash marginL5 redcolor"></i>'.html_safe, seller_buying_request_path(br),method: :delete,data: { confirm: 'Are you sure?' }, title: "Delete" %>
												
												<% else %>
													<%= link_to '<span class="ti-trash redcolor"></span>'.html_safe, seller_buying_request_path(br), title: "Delete" %>
													
													<% if br.user_id != current_user[:id] && br.email != current_user[:email] %>
														<% if br.expiration_date >= Date.today %>
														  <%= link_to '<span class="ti-info-alt"></span>'.html_safe, seller_request_for_more_info_path(buying_request_id: br.id), title: "Request For Info" %>
														<% end %>
														<% if br.expiration_date >= Date.today %>
														  <%= link_to '<span class="ti-back-right"></span>'.html_safe, new_seller_buying_proposal_path(buying_request_id: br.id), title: "Submit Your Proposal" %>
														<% end %>
													<% end %>
												
												<% end %>
											</td>				
																					
										</tr>
									<% end %>
								</tbody>
							</table>
							<%= paginate @buying_requests, :theme => 'listing_page_theme' %>
						 <% else %>
							<p class="no-result">No Buying Requests Found</p>
						 <% end %>	
							
							
					 
				</div>
				</div>
			</div>
		</div>
 
		
		 
	</div>
</div>
