<div class="page page-forms-elements page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active">Request More Information</li>
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">Request More Information</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<!-- row -->
		<div class="row">
			<section class="content new-msg-content">

<!-- user detail form start -->			
<%= form_for @request_for_more_info, url: seller_send_request_for_more_info_path do |f|%>
	 <%= f.hidden_field :status, value: 'New'%>
     <%= f.hidden_field :user_id, value: current_user.id%>
     <%= f.hidden_field :buying_request_id, value: @buying_request.id%>
				
				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
							
							<div class="form-group">
								<label class="col-md-12 control-label">To<sup>*</sup></label>
								<div class="col-md-12">
									<%= f.text_field :receiver, value: "info@powercozmo.com", class: 'form-control mailto-row', id: 'mailto', readonly: true %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Subject<sup>*</sup></label>
								<div class="col-md-12">
									<%= f.text_field :subject, value: @buying_request.title, class: 'form-control mailto-row', id: 'subject', readonly: true %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Message<sup>*</sup></label>
								<div class="col-md-12">
									<%= f.bootsy_area :message, class: 'form-control bootsy-height', id: 'message', placeholder: 'Enter Message', editor_options: { html: true } %>
									<%= error_message(@request_for_more_info, :message)%>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<div class="col-md-12">
									<a href="javascript:void(0)">
										<span class="label label-primary attch-btn" id="attach-btn"><i class="fa fa-paperclip"></i> Attachment</span>
										<%= f.file_field :attachment , style: "display:none;", id: "hidden-attach"%>
									</a>
									<span class="max-limit">Max.32MB</span> </div>
								</div>
							</div>
							
							<div class="clearfix mt20 right">
								<a href="<%= seller_buying_requests_path%>" class="btn btn-primary mr5">Back</a>
							   <button type="submit" class="btn btn-success mr5" value="Send" name="commit">Send</button>
							</div>
										
						</div>	
					</div>	
				</div>
<% end %>
<!-- user detail form end -->
				
			</section>
		</div>
	</div>
</div>

<script type="text/javascript">
  $( "#attach-btn" ).on( "click", function() {
    $('#hidden-attach').click();
  });
</script>
