<% unless @buying_request.expiration_date >= Date.today %>
  <div class="alert alert-danger">
    <div>You can't respond to this request as it is expired.</div>
  </div>
<% end %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Buying Request Details</h1>
    <ol class="breadcrumb">
      <li><a href="<%= seller_dashboard_path%>">Home</a></li>
      <li class="active">Buying Request Details</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content myprofile-content buy-req-more">
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-7 col-xs-12 myprofile-left">
          <div class="mp-form-box">
            <div class="form-group">
              <label for="fname">Equipment, part, system or service name</label>
              <%= @buying_request.title.present? ? @buying_request.title : "&nbsp".html_safe %>
            </div>

            <div class="form-group">
              <label for="fname">Request SNo</label>
              <%= @buying_request.identifier%>
            </div>

            <div class="form-group">
              <label for="select">Required origin</label>
                <%= @buying_request.origin.present? ? @buying_request.origin : "&nbsp".html_safe %>
               <%#= BuyingRequest::ORIGINS[@buying_request.origin_id]%>
            </div>

            <div class="form-group">
              <label for="select">Brand</label>
              <%= @buying_request.brand.try(:name).present? ? @buying_request.brand.try(:name) : "&nbsp".html_safe %>
            </div>

            <div class="form-group">
              <label for="select">Category</label>
              <%= @buying_request.category.try(:name) || @buying_request.category_name%>
            </div>

            <div class="form-group">
              <label for="select">Type of Lead</label>
               <%= @buying_request.lead_type%>
            </div>

            <div class="form-group">
              <label for="select">Condition</label>
              <%= @buying_request.condition.present? ? @buying_request.condition : "&nbsp".html_safe %>
            </div>

             <div class="form-group">
              <label for="fname">Attachment</label>
              <% if @buying_request.attachment.present? %>
                <%= link_to @buying_request.attachment.url.split('/').last, @buying_request.attachment.url, target: :blank%>
              <% else %>
                <%= "&nbsp".html_safe %>
              <% end %>
            </div>

             <div class="form-group">
              <label for="fname">Expiration Date</label>
              <%= @buying_request.expiration_date.present? ? @buying_request.expiration_date.strftime('%m/%d/%Y') : "&nbsp".html_safe %>
            </div>

            <div class="form-group">
              <label for="select">End user location</label>
               <%= @buying_request.location.try(:name).present? ? @buying_request.location.try(:name) : "&nbsp".html_safe %>
            </div>
          </div>
          <%# if @buying_request.expiration_date >= Date.today %>
          <!--   <div class="mp-form-box">
              <div class="form-group">
                  <%#= link_to 'Request for More Info', seller_request_for_more_info_path(buying_request_id: @buying_request.id), class: "more-info"%>
              </div>
            </div> -->
          <%# end %>
          <div class="form-group">
            <%=link_to "back", seller_buying_requests_path, class: "btn btn-default custom-btn fnone" %>
          </div>
        </div>
        <div class="col-lg-5 col-xs-12 myprofile-right">
          <div class="mp-form-box">
            <div class="upload-image">
              <div class="form-group mrg-btm-zero width-full">
                <label for="description">Photo</label>
                <% if @buying_request.images.present? %>
                  <% @buying_request.images.each do |image| %>
                    <div class="br-photo">
                      <%= image_tag(image.image.url(:profile))%>
                    </div>
                  <% end %>
                <% else %>
                  <%= "&nbsp".html_safe %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="mp-form-box">
            <div class="form-group">
              <label for="password">Description</label>
              <div class="long-descp">
                <p><%= @buying_request.description.present? ? @buying_request.description : "&nbsp".html_safe %></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->