<div class="page page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active">Buying Request Details</li>
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">Buying Request Details</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<!-- row -->
		<div class="row">
			<!-- Basic Table -->
			<div class="table-responsive col-md-12">
				<div class="panel-lined panel-hovered">
					
					<table class="table table-bordered table-striped">
								
						<tbody>
							<tr>
								<th class="text-nowrap" scope="row" style="width: 40%;">Equipment, part, system or service name</th>
								<td><%= @buying_request.title.present? ? @buying_request.title : "&nbsp".html_safe %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Request S.No.</th>
								<td><%= @buying_request.identifier%></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Required origin</th>
								<td><%= @buying_request.origin.present? ? @buying_request.origin : "&nbsp".html_safe %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Brand</th>
								<td><%= @buying_request.brand.try(:name).present? ? @buying_request.brand.try(:name) : "&nbsp".html_safe %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Category</th>
								<td><%= @buying_request.category.try(:name) || @buying_request.category_name%></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Type of Lead</th>
								<td><%= @buying_request.lead_type%></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Condition</th>
								<td><%= @buying_request.category.try(:name) || @buying_request.category_name%></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Attachment</th>
								<td>
									<% if @buying_request.attachment.present? %>
										<%= link_to @buying_request.attachment.url.split('/').last, @buying_request.attachment.url, target: :blank%>
									  <% end %>
								</td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Expiration Date</th>
								<td><%= @buying_request.expiration_date.present? ? @buying_request.expiration_date.strftime('%m/%d/%Y') : "&nbsp".html_safe %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">End user location</th>
								<td><%= @buying_request.location.try(:name).present? ? @buying_request.location.try(:name) : "&nbsp".html_safe %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Description</th>
								<td><%= @buying_request.description.present? ? @buying_request.description : "&nbsp".html_safe %></td>
							</tr>
							
							<% if @buying_request.images.present? %>
								<tr>
									<th class="text-nowrap" scope="row">Photo</th>
									<td>
										<% @buying_request.images.each do |image| %>
											<div class="br-photo">
												<%= image_tag(image.image.url(:profile))%>
											</div>
										<% end %>
									</td>
								</tr>
							<% end %>
							
							<tr>
								<td colspan="2" class="text-right">
									
									<% if params[:action] == 'my_buying_request_show' %>
										<%=link_to "Back", seller_my_buying_request_list_path, class: "btn btn-primary mr5" %>
									<% else %>
										<%=link_to "Back", seller_buying_requests_path, class: "btn btn-primary mr5" %>
									<% end %> 
									
								</td>
							</tr>
							
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</div>
