<%= stylesheet_link_tag 'bootstrap-select.min' %>

<!-- Inner Banner Start -->
<section class="innerbanner clearfix">
	<div class="container">
		<h2 class="text-center text-uppercase">SIGN UP</h2>
	</div>
</section>

<!-- Welcome to Power Cozmo -->
<section class="clearfix innerwrap">
	<div class="container">
		<div class="row">
			<div class="col-md-12 singup">
				<h2 class="marginB15">EASY TO SELL, QUICK SIGN UP</h2>
				<p>Register now to Power Cozmo and get in touch with thousands of buyers all over the world; advertise your equipment and plant.</p>
				<div class="row">
					<div class="col-md-5 col-sm-4">
						<div class="register_img"><img src="/assets/register_img.jpg" alt="Register Img" class="img-responsive" /></div>
					</div>
        
<%= form_for(resource_name, as: resource_name, url: registration_path(resource_name), :html => {:id => "sign_up_form"}) do |f| %>
	<%= f.fields_for :profile do |profile_form| %>        
        
					<div class="col-md-7 col-sm-8">
						<div class="row">
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= profile_form.text_field :first_name, placeholder: "First Name*", value: params[:user].present? ? params[:user][:profile][:first_name] : '', class: "form-control" %>
									<span class="err-msg"><%= error_message(resource.profile, :first_name)%></span>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= profile_form.text_field :last_name, placeholder: "Last Name*", value: params[:user].present? ? params[:user][:profile][:last_name] : '', class: "form-control" %>
									<span class="err-msg"><%= error_message(resource.profile, :last_name)%></span>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= profile_form.text_field :company_name, placeholder: "Company/Organization Name*", value: params[:user].present? ? params[:user][:profile][:company_name] : '', class: "form-control" %>
									<span class="err-msg"><%= error_message(resource.profile, :company_name)%></span>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= profile_form.text_field :phone_number, placeholder: "Phone Number*", value: params[:user].present? ? params[:user][:profile][:phone_number] : '', class: "form-control" %>
									<span class="err-msg"><%= error_message(resource.profile, :phone_number)%></span>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= f.text_field :email, placeholder: "Email Address*", class: "form-control" %>
									<span class="err-msg"><%= error_message(resource, :email)%></span>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= f.text_field :email_confirmation, placeholder: "Confirm Email address*", class: "form-control" %>
									<span class="err-msg"><%= error_message(resource, :email_confirmation)%></span>
								</div>
							</div>							
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= f.password_field :password, autocomplete: "off", placeholder: "Create Password*", class: "form-control" %>
									<span class="err-msg"><%= error_message(resource, :password)%></span>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password*", class: "form-control" %>
									<span class="err-msg"><%= error_message(resource, :password_confirmation)%></span>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB" id="iam-div">
									<%= f.select(:user_type, options_for_select(User::USERTYPE), {:prompt => "I am*"}, {'class' => 'selectpicker'})  %>
									<span id="user-type-error"></span>
									<span class="err-msg"><%= error_message(resource, :user_type)%></span>
								</div>
							</div>						
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= f.fields_for :image do |image_form| %>
										<%= image_form.file_field(:image, placeholder: "Upload a Picture", accept: 'image/png,image/gif,image/jpeg,image/jpg', class: "filestyle", "data-buttonName" => "btn-primary")%>
									<% end %>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB">
									<%= profile_form.text_field :website, placeholder: "Website", value: params[:user].present? ? params[:user][:profile][:website] : '', class: "form-control" %>
									<span class="err-msg"><%= error_message(resource.profile, :website)%></span>
								</div>
							</div>
							
							<div class="col-md-6 field-height">
								<div class="form-group marginB" id="country-div">
									
									<%= profile_form.select(:country_id, options_for_select(Country.active.pluck(:name, :id), params[:user].present? ? params[:user][:profile][:country_id] : ''), {:prompt => "Select Country*"}, {'class' => 'selectpicker'}) %>
									<span id="country-error"></span>
									<span class="err-msg"><%= error_message(resource.profile, :country_id)%></span>
									
								</div>
							</div>
							
							<div class="col-md-12">
								<div class="form-group">
									<%= profile_form.text_area :business_activity, placeholder: "Business Activity", value: params[:user].present? ? params[:user][:profile][:business_activity] : '', class: "form-control messages" %>
									<span class="err-msg"><%= error_message(resource.profile, :business_activity)%></span>
								</div>
							</div>
									
							<div class="col-md-12">
								<div class="form-group">
									<%= show_simple_captcha(placeholder: "Enter Security Code*") %>
									<span class="err-msg"><%= @captcha_error%></span>
								</div>
							</div>
							
							<div class="col-md-12">
								<div class="form-group">
									<label for="user_terms_of_service" class="chk-bx">
										<%= f.check_box :terms_of_service %>
										I have read and accepted the <%= link_to "terms and conditions", terms_conditions_path %>
									</label>
									
									<span class="err-msg clearfix"><%= error_message(resource, :terms_of_service)%></span>
									
								</div>
							</div>
													
							<div class="col-md-12 marginT20">
								<div class="form-group">
									<%= f.submit "REGISTER NOW", class: "btn-orange marginB5" %>
									<button type="button" class="default-btn marginB5" id="reset-btn">Reset</button>
								</div>
																
							</div>
							
							<div class="col-md-12">
								<div class="form_text">Do you have any problems registering? Please send an email <a href="mailto:support@powercozmo.com">support@powercozmo.com</a> to us, we will gladly help you. <%#= link_to('Already Member?', new_user_session_path) %><%= link_to('Already Member?', 'javascript:void(0);', id: 'login-link') %>
							</div>
						</div>
					</div>
				</div>
	<% end %>
<% end %>        
        
				</div>
			</div>
		</div>
	</div>
</section>

<%= javascript_include_tag 'bootstrap-filestyle.min', 'bootstrap-select.min' %>

<script type="text/javascript">
  $(document).ready(function(){
	  
		$('#login-link').click(function(){
			$('#login-popup-link').trigger('click');
		});
	  
	  
    $.validator.addMethod("regex", function(value, element, regexpr) {
      if (value.length > 0) {
        return regexpr.test(value);
      }else{
        return true;
      }
    }, "Please enter a valid name.");
    var validator = $("#sign_up_form").validate({
      ignore: ':hidden:not(select)',
      rules: {
        "user[email]": {
          required: true,
          maxlength: 35,
          regex: /^[\w+\-.]+@[a-z\d\-]+(\.[a-z\d\-]+)*\.[a-z]+$/i
        },
        "user[email_confirmation]": {
          required: true,
          maxlength: 35,
          regex: /^[\w+\-.]+@[a-z\d\-]+(\.[a-z\d\-]+)*\.[a-z]+$/i,
          equalTo: "#user_email"
        },
        "user[password]": "required",
        "user[password_confirmation]": {
          required: true,
          equalTo: "#user_password"
        },
        "user[user_type]": "required",
        "user[terms_of_service]": "required",
        "user[profile][first_name]": {
          required: true,
          maxlength: 35,
          regex: /^(?!\d)[a-zA-Z0-9_\s]+$/
        },
        "user[profile][last_name]": {
          required: true,
          maxlength: 35,
          regex: /^(?!\d)[a-zA-Z0-9_\s]+$/
        },
        "user[profile][company_name]": {
          required: true,
          maxlength: 50
        },
        "user[profile][phone_number]": {
          required: true,
          regex: /^[\+]*[0-9\-]*$/,
          minlength: 10,
          maxlength: 18
        },
        "user[profile][website]": {
          required: false,
          regex:  /^((http|https):\/\/|www[.])[^\s()<>]+[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/i
        },
        "user[user_type]": "required",
        "user[profile][country_id]": "required",
        "captcha": "required"
      },
      messages: {
        "user[email]": {
          required: "Email can't be blank",
          regex: "Please enter a valid email address"
        },
        "user[email_confirmation]": {
          required: "Email confirmation can't be blank",
          regex: "Please enter a valid email address",
          equalTo: "Email confirmation doesn't match"
        },
        "user[password]": {
          required: "Password can't be blank"
        },
        "user[password_confirmation]": {
          required: "Password confirmation can't be blank",
          equalTo: "Password confirmation doesn't match"
        },
        "user[profile][first_name]": {
          required: "First name can't be blank"
        },
        "user[profile][last_name]": {
          required: "Last name can't be blank"
        },
        "user[profile][company_name]": {
          required: "Company name can't be blank"
        },
        "user[profile][phone_number]": {
          required: "Phone number can't be blank",
          regex: "Please enter valid phone number",
          minlength: "Phone number must be at least 10 digits",
          maxlength: "Phone number must be at most 18 digits"
        },
        "user[user_type]": {
          required: "I am can't be blank"
        },
        "user[profile][country_id]": {
          required: "Country can't be blank"
        },
        "user[profile][website]": {
          required: "Website can't be blank",
          regex: "Please enter a valid website."
        },
        "user[terms_of_service]": {
          required: "You must accept our terms of service"
        },
        "captcha": {
          required: "Captcha can't be blank"
        }
      },
      errorPlacement: function(error, element) {
        if (element.attr("name") == "user[profile][country_id]") {
          error.insertAfter("#country-error");
        }
        else if(element.attr("name") == "user[user_type]")  {
          error.insertAfter("#user-type-error");
        }
        else if(element.attr("name") == "user[email]")  {
          error.insertAfter("span.error-mess");
        }
        else{
          error.insertAfter(element);
        }
      }
    });
  });

  $(document).ready(function() {
    $('#reset-btn').click(function(event){
      
      $('#iam-div .filter-option').html('I am*');
      $('#country-div .filter-option').html('Select Country*');
      
      $('#sign_up_form')[0].reset();
      validator.resetForm();
      
    });
  });

  $('#user_email, #user_email_confirmation').blur(function(e){
    $(this).val($(this).val().toLowerCase());
  });

  $('#user_profile_phone_number').keypress(function (e) {
    if ($(this).val().length<18){
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 43 && e.which != 45 ) {
        return false;
      }
    }
    else{
      if (e.which != 8 && e.which != 0 ) {
        return false;
      }
      return true
    }
  }); 

  $( "#user_image_image" ).change(function() {
    var filename = $(this).val();
     var lastIndex = filename.lastIndexOf("\\");
     if (lastIndex >= 0) {
         filename = filename.substring(lastIndex + 1);
     }
     var trim_file = filename.length > 17 ? filename.substring(0, 17 - 3) + '...' : filename
     var str = $('#upload-field').val(trim_file);
  });

</script>
<style>
	.simple_captcha .simple_captcha_field input{ width: 100% !important; height: 45px !important; }
	.form-group .simple_captcha .simple_captcha_image{ height: 47px !important; }
	/*.simple_captcha_image{ border: none !important; }*/
	.simple_captcha .simple_captcha_image img{ margin-top: 8px !important; }
	.chk-bx label.error{bottom: -14px !important; left: 14px !important;}
	.simple_captcha_field label.error{left: 14px !important;}
</style>
