<% 
	if current_user 
		data_target = '#myModal'
	else 
		data_target = '#myModalNotLogin'
	end		
%>
 
<% available = get_available_for(@equipment.availble_for) %>
<% (@equipment.status == 'closed' || available[:status] == 'closed' || @equipment.status == 'sold' || (current_user && current_user.id == @equipment.user_id) || !user_signed_in?) ? button_disabled = true : button_disabled = false %> 

<% content_for :head do %>
  <meta property="og:type" content="article" />
  <meta itemprop="og:headline" content="<%= @equipment.name %>" />
  <meta itemprop="og:description" content="<%= truncate(@equipment.description, length: 600) %>" />

  <meta property="og:title" content="<%= @equipment.name %>" />
  <meta property="og:description" content="<%= truncate(@equipment.description, length: 600) %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%=image_url(@equipment.try(:images).try(:first).try(:image).try(:url))%>" />
<% end %>

<!-- Inner Banner Start -->
<section class="innerbanner clearfix">
	<div class="container">
		<h2 class="text-center text-uppercase"><%= @equipment.name %></h2>
	</div>
</section>

<div class="clearfix postadwrap">
	<div class="container"> <i class="fa fa-pencil-square-o paddinT10" aria-hidden="true"></i> 
	<% if @content_data['get_started_top_text_description'] %>
		<%= @content_data['get_started_top_text_description'].html_safe %>
	<% else %>
		Are you ready to post your ad with us ?
	<% end %>
	<%= link_to 'Get started', new_user_registration_path, class: "pull-right text-uppercase" %> </div>
</div>

<!-- Welcome to Power Cozmo -->
<section class="clearfix innerwrap">
	<div class="container">
		<div class="marginB30"> 
			<a href="#">
				<% @top_bar_ad ||= "google-ad.jpg" %>
				<%= image_tag @top_bar_ad,class: "img-responsive" %>
			</a>
		</div>
		
		<div class="row">
			<div class="col-md-8 col-sm-12 col-xs-12 ListingdetailsWrap">
				<div class="row marginB15">
					<div class="col-md-6 col-sm-6 col-xs-12 product-title">
						<%= "#{@equipment.identifier} - #{@equipment.name}" %>
					</div>
					
					<div class="col-md-6 col-sm-6 col-xs-12 product-social"> 
						
						<!-- FB share -->
						<a class="btnShare" href="javascript:void(0)" data-url='<%= request.original_url%>' data-image="<%=image_url(@equipment.try(:images).try(:first).try(:image).try(:url))%>" data-title='<%=@equipment.name%>' data-desc="<%= truncate(@equipment.description, length: 600) %>"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
						
						<!-- Twitter share -->						
						<a href='https://twitter.com/intent/tweet?text=<%=@equipment.name%>&url=<%= request.original_url%>' onclick="return !window.open(this.href, 'Twitter', 'width=640,height=580')"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						
						<!-- Google Plus share -->
						<a href="https://plus.google.com/share?url=<%= request.original_url%>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
						
						<!-- LinkedIn share -->						
						<a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= request.original_url%>&title=<%=URI.encode(@equipment.name)%>&summary=<%=truncate(@equipment.description, length: 600)%>&source=PowerCozmo.com" onclick="return !window.open(this.href, 'LinkedIn', 'width=520,height=570')"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						
						<!-- Print -->					
						<a href="javascript:window.print()"><i class="fa fa-print" aria-hidden="true"></i></a>
						<%= link_to '<i class="fa fa-floppy-o" aria-hidden="true"></i>'.html_safe, equipment_details_path(@equipment, format: :pdf) %>
						
						<% if current_user %>
							<a href="javascript:void(0);">
								<% if @favorite_data %>
									<i class="fa fa-heart" title="Remove from favourite"></i>
								<% else %>
									<i class="fa fa-heart-o" title="Add to favourite"></i>
								<% end %>
							</a>
						<% end %>
						
					</div>
				</div>
					
				<div class="clearfix marginB30">
					<div class="slider product-slider">
						
<% if @equipment.images.length > 0 %>
	<% @equipment.images.each_with_index do |image,index| %>
						<div><%= image_tag image.image.try(:equipment_image).try(:url), class: "img-responsive img-thumbnail" %></div>
	<% end %>
<% else %>
						<div><%= image_tag "detail-noimage.png", class: "img-responsive img-thumbnail" %></div>
<% end %>
					</div>
				</div>
				
				<div class="clearfix ListingContent">
					<div class="ListingButton"> 
						
						<a href="javascript:void(0)" class="default-btn text-uppercase" data-toggle="modal" data-target="<%= data_target %>" data-enquiry-type="question" data-equipment='{"id": <%=@equipment.id%>, "identifier": "<%=@equipment.identifier%>", "location": "<%=@equipment.try(:country).try(:name)%>", "price": "<%= number_to_currency(@equipment.price, unit: raw(@equipment.currency)) %>", "name": "<%=@equipment.name%>"}' <%= 'disabled' if button_disabled%>>Contact Seller for Question</a>
						
						<a href="javascript:void(0)" class="btn-orange text-uppercase"  data-toggle="modal" data-target="<%= data_target %>" data-enquiry-type="bid" data-equipment='{"id": <%=@equipment.id%>, "identifier": "<%=@equipment.identifier%>", "location": "<%=@equipment.try(:country).try(:name)%>", "price": "<%= number_to_currency(@equipment.price, unit: raw(@equipment.currency)) %>", "name": "<%=@equipment.name%>"}' <%= 'disabled' if button_disabled%>>Bid now</a>
						
					</div>
					
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#Description">Description</a></li>
						<li><a data-toggle="tab" href="#Shipping">Shipping</a></li>
						
						<% if @equipment.faults && @equipment.faults != '' %>
							<li><a data-toggle="tab" href="#Faults">Faults </a></li>
						<% end %>
												
					</ul>
										
					<div class="tab-content panel panel-default marginT10">
						<div id="Description" class="text-overflow-wrap clearfix tab-pane fade in active padding10">
							<p><%= @equipment.description %></p>
						</div>
												
						<div id="Shipping" class="text-overflow-wrap clearfix tab-pane fade padding10">
							<div class="col-md-6 marginB10 padding">
								<span class="col-md-5 padding text-bold">Pickup Port</span>
								<span class="col-md-1">:</span>
								<span class="col-md-5 padding"><%= @equipment.pickup_port %></span>
							</div>
							<div class="col-md-6 marginB10 padding">
								<span class="col-md-5 paddingR text-bold">Pickup City</span>
								<span class="col-md-1">:</span>
								<span class="col-md-5 padding"><%= @equipment.city %></span>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-6 marginB10 padding">
								<span class="col-md-5 padding text-bold">Pickup Country</span>
								<span class="col-md-1">:</span>
								<span class="col-md-5 padding"><%= @equipment.try(:country).try(:name) %></span>
							</div>
							
							<% no_of_package = @equipment.shipping_package.count %>
							
							<% if no_of_package > 0 %>
								<div class="col-md-6 marginB10 padding">
									<span class="col-md-5 paddingR text-bold">No Of Packages</span>
									<span class="col-md-1">:</span>
									<span class="col-md-5 padding"><%= no_of_package %></span>
								</div>
								
								<div class="col-sm-12 col-md-12 marginT10 marginB5 padding text-bold">Packages Dimensions :</div>	
								<div class="col-sm-12 col-md-12 padding">
										
									<div class="panel panel-default panel-hovered panel-stacked mb30 basic-table">
										
										<div class="panel-body">				
													
											<table class="table">
												<thead>
													<tr>
														<th></th>
														<th>Length</th>
														<th>Width</th>
														<th>Height</th>
														<th>Weight</th>										
													</tr>
												</thead>
												
												<tbody>
													<% i = 0 %>
													<% @equipment.shipping_package.each_with_index do |s_package,index| %>
														<% i = i + 1 %>
														<tr>
															<td>Package <%= i %></td>
															<td><%= s_package.length %></td>
															<td><%= s_package.width %></td>
															<td><%= s_package.height %></td>
															<td><%= s_package.weight %></td>				
														</tr>
													<% end %>
												</tbody>
											</table>		
										</div>	
									</div>	
								</div>
							<% end %>
							
						</div>
						
						<% if @equipment.faults && @equipment.faults != '' %>
							<div id="Faults" class="text-overflow-wrap clearfix tab-pane fade padding10">
								<p><%= @equipment.faults %></p>
							</div>
						<% end %>
						
					</div>
				</div>
				
				<div class="clearfix ListingCall">
					<div class="panel panel-default">
						<div class="panel-body row">
							<div class="col-md-4 col-sm-5 col-xs-12"><span class="call-icon"><i class="fa fa-mobile fa-lg" aria-hidden="true"></i></span> <%= SiteSetting.last.try(:header_phone) || '+(646) 45321069' %></div>
							<div class="col-md-8 col-sm-7 col-xs-12"><span class="call-icon"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i></span> <a href="mailto:<%= SiteSetting.last.try(:header_email) || 'info@powercozmo.com'%>" class="detail-txt-color"><%= SiteSetting.last.try(:header_email) || 'info@powercozmo.com'%> </a></div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-4 col-sm-12 col-xs-12 ListingRightPanel">
				
				<h2 class="marginB15">Product Available For Next</h2>
					<div class="panel panel-default marginB15">
						<div class="panel-body">
							<div class="ListingDetailsTimer clearfix">
								
<% if ((@equipment.status == 'active' || @equipment.status == 'in_progress') && available[:status] == 'active') %>
								<div class="available_for_detail" data-date="<%=@equipment.availble_for.strftime("%Y-%m-%d %H:%M:%S")%>" data-total-duration="<%=(@equipment.availble_for - @equipment.created_at).to_i%>"></div>
<% elsif (@equipment.status == 'closed' || available[:status] == 'closed') %>
								<div class="close-deal">
									<span><%= image_tag "close.png" %></span>
								</div>
<% elsif @equipment.status == 'sold' %>
								<div class="avlble-close sold-arrow-btn"><%= image_tag "sold-arrow-btn.png" %></div>
<% end %>
								
							</div>
							<div class="clearfix ListingProfile">
								<% if @equipment.try(:user).try(:image).try(:image) %>
									<%= image_tag @equipment.try(:user).try(:image).try(:image), class: "img-circle img-thumbnail profile-img-detail" %>
								<% else %>
									<%= image_tag "seller/myprofile-placeholder-img.png", class: "img-circle img-thumbnail profile-img-detail" %></span>
								<% end %>
								<%= @equipment.try(:user).try(:name) %>
							</div>
								
							<div class="clearfix ListingAddress">
								<ul>
									<li class="col-md-6 col-sm-6 col-xs-6"><img src="/assets/location-icon.jpg" title="Location" alt="Location" class="marginR5"> <%= @equipment.try(:country).try(:name) %></li>
									<li class="col-md-6 col-sm-6 col-xs-6"><img src="/assets/brand-icon.jpg" class="marginR5" alt="Brand" title="Brand">
										<% if @equipment.equipment_type == "equipment"%>
										  <%= truncate(@equipment.try(:manufacturer).try(:name), length: 15)%>
										<% else %>
										  <%= truncate(@equipment.turbine_manufacturer_name, length: 12)%>
										<% end %>
									</li>
									<li class="col-md-6 col-sm-6 col-xs-6"><img src="/assets/manufacturing-icon.jpg" title="Year" class="marginR5" alt="Year"> 
										<% if @equipment.equipment_type == "equipment"%>
											<%= @equipment.manufacture_year%>
										  <% else %>
											<%= @equipment.power_plant_age%>
										  <% end %>
									</li>

									<li class="col-md-6 col-sm-6 col-xs-6"><img src="/assets/condition-icon.jpg" class="marginR5" alt="Condition" title="Condition"> 
										<%= @equipment.condition %>
									</li>
									
									<li class="col-md-6 col-sm-6 col-xs-6 paddingT15">Rating 
											
										<img src="<%= @equipment.try(:rating).to_i >= 1 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="1">
										<img src="<%= @equipment.try(:rating).to_i >= 2 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="2">
										<img src="<%= @equipment.try(:rating).to_i >= 3 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="3">
										<img src="<%= @equipment.try(:rating).to_i >= 4 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="4">
										<img src="<%= @equipment.try(:rating).to_i >= 5 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="5">
									
									</li>
									
								</ul>
							</div>
							
							<div class="clearfix PriceDetailswrap">

								<div class="col-md-6 col-sm-6 col-xs-6 PriceDetails">Price : <span class="gray-color"><%= number_to_currency(@equipment.price, unit: raw(@equipment.currency)) %></span></div>
								
								<div class="col-md-6 col-sm-6 col-xs-6">
									<a href="javascript:void(0)" data-toggle="modal" data-target="<%= data_target %>" class="btn-orange text-uppercase buynow-btn" data-enquiry-type="buy" data-equipment='{"id": <%=@equipment.id%>, "identifier": "<%=@equipment.identifier%>", "location": "<%=@equipment.try(:country).try(:name)%>", "price": "<%= number_to_currency(@equipment.price, unit: raw(@equipment.currency)) %>", "name": "<%=@equipment.name%>"}' <%='disabled' if button_disabled == true %> >Buy Now</a>
								</div>
								
							</div>
						</div>
        
					</div>
			<div class="clearfix">		  
				<a href="#">
					<% @side_panel_ad ||= "power-ad1.jpg"%>
					<%= image_tag @side_panel_ad, class: "img-responsive" %>
				</a> 
			</div>	
		</div>
    
		<div class="col-md-12 col-sm-12 col-xs-12 GetStarted hidden-xs hidden-sm">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="tab-progress btn-breadcrumb clearfix text-center">
						<div class="arrow-nav col-xs-10 text-left">
							
							<% if @content_data['get_started_bottom_text_description'] %>
								<%= @content_data['get_started_bottom_text_description'].html_safe %>
							<% else %>
								Can't find what you are looking for, post your buying request now
							<% end %>
							
						</div>
							<%= link_to 'GET STARTED', new_buying_request_path, class: "active-arrow arrow-nav col-xs-2 text-center" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<% if !button_disabled %>
	<%=render :partial => 'equipment_questions_modal'%>
<% end %>


<style>@media print{a[href]:after{content:none}}</style>
<script>

function postToFeed(title, desc, url, image){
  var obj = {method: 'feed',link: url, picture: image,name: title,description: desc};
  function callback(response){}
  FB.ui(obj, callback);
}
  $('.btnShare').click(function(){
    elem = $(this);
    postToFeed(elem.data('title'), elem.data('desc'), elem.data('url'), elem.data('image'));

    return false;
  });


// below codes are for fb sdk initialosation and share via facebook
window.fbAsyncInit = function() {
  FB.init({
    appId: <%= ENV['FB_APP_ID']%>,
    xfbml: true,
    version    : 'v2.5'
  });
};
(function(d){
  var js,
  id = 'facebook-jssdk',
  ref = d.getElementsByTagName('script')[0];
  if (d.getElementById(id)) {
    return;
  }
  js = d.createElement('script');
  js.id = id;
  js.async = true;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  ref.parentNode.insertBefore(js, ref);
}(document));

$(document).on('click', '.fa-heart-o', function () {
	
	$(this).removeClass('fa-heart-o');
	$(this).addClass('fa-heart');
	$(this).attr('title', 'Remove from favourite');
	$.getJSON("/add_favourite",{equipment_id: '<%= @equipment.id %>', ajax: 'true'}, function(response){
		alert(response.message);
	})
	
});

$(document).on('click', '.fa-heart', function () {
	
	$(this).removeClass('fa-heart');
	$(this).addClass('fa-heart-o');
	$(this).attr('title', 'Add to favourite');
	
	$.getJSON("/remove_favourite",{equipment_id: '<%= @equipment.id %>', ajax: 'true'}, function(response){
		alert(response.message);
	})
	
});

// Listing Details Slider
$('.product-slider').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
});

</script>
