<header id="hd" class="rlatv list-bnr">
  <div class="hd-srch">
    <h2>Listings</h2>
  </div>
</header>
<section id="md" class="lst-midd-cnt">
  <div class="wht-bg PT40 PB40 hide-block-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 add-bnr"><a href="#">
          <% @top_bar_ad ||= "lstadd-bnr.jpg" %>
          <%= image_tag @top_bar_ad, class: "img-responsive" %>
        </a></div>
      </div>
    </div>
  </div>
  <div class="wht-bg MB40 hide-block-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="btm-addbnr">
            <h3>Are you ready to post your ad with us ?</h3>
            <%= link_to 'Get started', new_user_registration_path, class: "started-btn" %> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wht-bg MB40">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 lst-lt-cnt hide-block-area">
          <% if (params[:filter] && (params[:filter].keys & ["category_id", "sub_category_id", "sub_sub_category_id"]).present?) %>
            <%= link_to 'Show all', listing_filter_path(:filter => params[:filter].except(:category_id, :sub_category_id, :sub_sub_category_id)), class: "clear_category" %>
          <% end %>
          <h2>categories </h2>
          <div id='cssmenu' style="height: 620px; overflow:auto;">
            <ul>
              <% if @categories.present? %>
                <% @categories.roots.each_with_index do |category,index| %>
                  <li class='<%= "active has-sub " if (category.children.count > 0);%><%= "more_category" if index > 15 %>' style='<%= "display: none;" if index > 15 %>' id= "category_<%= category.id%>">
                    <%=link_to category.name,listing_filter_path(filter: {category_id: category.id}) %>
                    <% if (category.children.count > 0) %>
                      <ul>
                        <% category.children.each do |sub_category| %>
                          <% if sub_category.status.present? && sub_category.status == "active" %>
                            <li class='<%= "has-sub" if (sub_category.children.count > 0) %>' id= "category_<%= sub_category.id%>"><%=link_to sub_category.name,listing_filter_path(filter: {category_id: category.id, sub_category_id: sub_category.id}) %>
                              <% if (sub_category.children.count > 0) %>
                                <ul>
                                  <% sub_category.children.each do |sub_sub_category| %>
                                    <% if sub_sub_category.status.present? && sub_sub_category.status == "active" %>
                                      <li id= "category_<%= sub_sub_category.id%>"><%=link_to sub_sub_category.name,listing_filter_path(filter: {category_id: category.id, sub_category_id: sub_category.id, sub_sub_category_id: sub_sub_category.id}) %></li>
                                    <% end %>
                                  <% end %>
                                </ul>
                              <% end %>
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    <% end %>
                  </li>
                <% end %>
              <% else %>
                <li style="margin: 10px 0px;">No categories </li>
              <% end %>
            </ul>
          </div>
          <a href="#" id="more_button" onclick="return toggleCategory();" style="display: <%= @categories.roots.count > 16 ? "" : "none" %>">View More</a>
          <div class="lst-add"><a href="#">
            <% @left_panel_ad ||= "lst-add.jpg" %>
            <%= image_tag @left_panel_ad, size: "270x249"  %>
          </a></div>
        </div>
        <div class="col-lg-9 lst-rt-cnt">
          <div class="hide-block-area">
		  <h2>Searched Products</h2>
          <%= form_tag(listing_filter_path, method: :get) do %>
            <div class="lst-slt-bx lst-slt-bx2">
              <%= select_tag "filter[country_id]", options_from_collection_for_select(@countries, "id", "name", params[:filter] ? params[:filter][:country_id] : ""),include_blank: "Select Country", class: "listing_filter" %>
            </div>
            <div class="lst-slt-bx lst-slt-bx3">
              <%= select_tag "filter[manufacturer_id]", options_from_collection_for_select(@manufacturers, "id", "name", params[:filter] ? params[:filter][:manufacturer_id] : ""),include_blank: "Select Manufacturer",class: "listing_filter" %>
            </div>
            <div class="lst-slt-bx">
              <%= select_tag "filter[manufacture_year]", options_for_select(@manufacture_year_range.present? ? @manufacture_year_range.collect{|y|[y,y.to_s]} : [],params[:filter] ? params[:filter][:manufacture_year] : ""),include_blank: "Select Year",class: "listing_filter" %>
            </div>
            <% ["category_id", "sub_category_id", "sub_sub_category_id"].each do |field| %>
              <% if params[:filter].present? && params[:filter][field.to_sym].present? %>
                <%= hidden_field_tag "filter[#{field}]", params[:filter][field.to_sym] %>
              <% end %>
            <% end %>
            <%= submit_tag "", :id => 'submit_filter', :style => "display: none;" %>
            <% if params[:filter].present? %>
              <%= link_to 'Clear filters', listing_filter_path(:filter => params[:filter].except(:country_id, :manufacturer_id, :manufacture_year)), class: "clear_filter" %>
            <% end %>
          <% end %></div>
          <ul class="srch-pdct">
            <% if @equipments.present? %>
              <% @equipments.each do |equipment| %>
                <% available = get_available_for(equipment.availble_for) %>
                <li class='<%= "disable-lst" if ((equipment.status != "active" && equipment.status != "in_progress") || available[:status] != "active") %>'>
                  <div class="post-equip">
                    <div class="post-equip-cnt">
                      <% if equipment.status == 'sold' %>
                        <span class="sold-img"><%= image_tag "sold-img.png" %></span>
                      <% end %>
                      <div class="post-equip-l">
                      <% if equipment.try(:images).try(:first).try(:image) %>
                        <%= image_tag equipment.try(:images).try(:first).try(:image).try(:card_image).try(:url) %>
                      <% else %>
                        <%= image_tag "equipment-noimage.png" %>
                      <% end %>
                      </div>
                      <div class="post-equip-r">
                        <h3><%= "#{equipment.name} - #{equipment.identifier}" %></h3>
                        <p><%= truncate(equipment.description, length: 140) %></p>
                        <p>
                        <% if equipment.equipment_type == "equipment"%>
                          Condition : - <%= equipment.condition %>
                        <% else %>
                          Power Plant type : - <%= equipment.power_plant_type %>
                        <% end %>
                        <span class="cdt-prfl"><% if equipment.try(:user).try(:image).try(:image) %>
                        <%= image_tag equipment.try(:user).try(:image).try(:image).try(:url)%>
                        <% else %>
                        <%= image_tag "seller/myprofile-placeholder-img.png" %></span>
                        <% end %></p>
                      </div>
                      <div class="avlble-bx">
                        <h3 class="hide-block-area">Available for</h3>
                        <% if ((equipment.status == 'active' || equipment.status == 'in_progress') && available[:status] == 'active') %>
                          <div class="available_for hide-block-area" data-date="<%=equipment.availble_for.strftime("%Y-%m-%d %H:%M:%S")%>" data-total-duration="<%=(equipment.availble_for - equipment.created_at).to_i%>"></div>
                        <% elsif (equipment.status == 'closed' || available[:status] == 'closed') %>
                          <div class="avlble-close">
                            <%= image_tag "close-btn.png" %>
                          </div>
                        <% elsif equipment.status == 'sold' %>
                          <div class="avlble-close sold-arrow-btn">
                          <%= image_tag "sold-arrow-btn.png" %></div>
                        <% end %>
                        <div class="price-info"><span><%= number_to_currency(equipment.price, unit: raw(equipment.currency)) %></span> <%= link_to 'MORE INFO', equipment_details_path(equipment) %></div>
                      </div>
                      <div class="clr"></div>
                      <div class="ad-gray-info">
                        <div class="ad-gray-l"><i class="fa fa-map-marker"></i> Location : <span><%= truncate(equipment.try(:country).try(:name), length: 25)%></span> </div>
                        <% if equipment.equipment_type == "equipment"%>
                          <div class="ad-gray-m">Manufacturing : <span><%= equipment.manufacture_year%></span></div>
                        <% else %>
                          <div class="ad-gray-m">Power Plant Age : <span><%= equipment.power_plant_age%></span></div>
                        <% end %>

                        <% if equipment.equipment_type == "equipment"%>
                          <div class="ad-gray-m">Brand : <span><%= truncate(equipment.try(:manufacturer).try(:name), length: 15)%></span></div>
                        <% else %>
                          <div class="ad-gray-m">Turbine Brand : <span><%= truncate(equipment.turbine_manufacturer_name, length: 12)%></span></div>
                        <% end %>
                        <div class="ad-gray-r"><span><a class="<%='active' if equipment.try(:rating).to_i >= 1 %>" href="#"><i class="fa fa-star"></i></a><a class="<%='active' if equipment.try(:rating).to_i >= 2 %>" href="#"><i class="fa fa-star"></i></a><a class="<%='active' if equipment.try(:rating).to_i >= 3 %>" href="#"><i class="fa fa-star"></i></a><a href="#" class="<%='active' if equipment.try(:rating).to_i >= 4 %>"><i class="fa fa-star"></i></a><a href="#" class="<%='active' if equipment.try(:rating).to_i >= 5 %>"><i class="fa fa-star"></i></a></span></div>
                        <div class="clr"></div>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            <% else %>
              <li style="margin: 20px 0;">No equipment found, <%= link_to 'Go back to all listings', listings_path %></li>
            <% end %>
          </ul>
          <%= paginate @equipments, :theme => 'listing_page_theme' %>
        </div>
      </div>
    </div>
  </div>
  <div class="wht-bg MB40 hide-block-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="btm-addbnr">
            <h3>Can't find what you are looking for, post your buying request now</h3>
            <%= link_to 'Get started', new_buying_request_path, class: "started-btn" %> </div>
        </div>
      </div>
    </div>
  </div>
  <div class="lghtgry-bg PT50 PB50">
    <div class="container">
      <div class="row ltestpost-cnt">
        <div class="col-lg-12">
          <h2 class="page-hd txtctr">Browse For <span>Latest Products</span></h2>
        </div>
        <div class="col-lg-12">
          <div id="myTabContent2" class="tab-content">
            <div class="tab-pane fade active in" id="post-one">
              <div id="owl-example" class="owl-carousel">
              <% max_carousal = (@recent_posts.length/4.0).ceil %>
                <% (1..max_carousal).each do |n| %>
                  <div class="item">
                    <% @recent_posts[(n-1)*4, 4].each do |post| %>
                      <div class="col-lg-6 col-md-6 post-equip">
                        <div class="post-equip-cnt">
                          <div class="PD10">
                            <div class="post-equip-l"><% if post.try(:images).try(:first).try(:image) %>
                              <%= image_tag post.try(:images).try(:first).try(:image).try(:card_image).try(:url) %>
                            <% else %>
                              <%= image_tag "equipment-noimage.png" %>
                            <% end %>
                            </div>
                            <div class="post-equip-r">
                              <h3><%= "#{truncate(post.name, length: 20)} - #{post.identifier}" %></h3>
                              <p><%= truncate(post.description, length: 140) %></p>
                              <div class="price-info"><%= number_to_currency(post.price, unit: raw(post.currency)) %><%= link_to 'MORE INFO', equipment_details_path(post) %></div>
                            </div>
                            <div class="clr"></div>
                          </div>
                          <div class="ad-gray-info ad-gray-info-big">
                            <div class="ad-gray-l"><i class="fa fa-map-marker"></i> Location : <span><%= truncate(post.country.name, length: 25)%></span>
                              <% if post.equipment_type == "equipment"%>
                              <div class="">Manufacturing : <span><%= post.manufacture_year%></span></div>
                            <% else %>
                              <div class="">Power Plant Age : <span><%= post.power_plant_age%></span></div>
                            <% end %>
                             </div>


                            <div class="ad-gray-r">
                            <% if post.equipment_type == "equipment"%>
                              <div class="">Brand : <span><%= truncate(post.try(:manufacturer).try(:name), length: 15)%></span></div>
                            <% else %>
                              <div class="">Turbine Brand : <span><%= truncate(post.turbine_manufacturer_name, length: 12)%></span></div>
                            <% end %>
                           Rating : <span><a class="<%='active' if post.try(:rating).to_i >= 1 %>" href="#"><i class="fa fa-star"></i></a><a class="<%='active' if post.try(:rating).to_i >= 2 %>" href="#"><i class="fa fa-star"></i></a><a class="<%='active' if post.try(:rating).to_i >= 3 %>" href="#"><i class="fa fa-star"></i></a><a href="#" class="<%='active' if post.try(:rating).to_i >= 4 %>"><i class="fa fa-star"></i></a><a href="#" class="<%='active' if post.try(:rating).to_i >= 5 %>"><i class="fa fa-star"></i></a></span></div>
                            <div class="clr"></div>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
$(document).ready(function($) {
  //auto submit filter form on value change
  $('.selectric-scroll>ul>li').on('click',function(){
    var form = $(this).parents('form').get(0);
    $(form).submit();
    //$('#submit_filter').click();
  });
});
</script>
