<%= stylesheet_link_tag 'circle', 'jquery.mCustomScrollbar' %>

<section class="innerbanner clearfix">
  <div class="container">
    <h2 class="text-center text-uppercase">LISTINGS</h2>
  </div>
</section>

<section class="clearfix innerwrap">
	<div class="container">
		<div class="row">
			<div class="col-md-3 hidden-sm hidden-xs ListingLeftPanel">
				<div class="panel panel-default marginB30">
					<div class="panel-heading">CATEGORIES</div>
					<div class="panel-body">
						<div class="CategoryLeft clearfix">
							<ul>
<% if @categories.present? %>
	<% @categories.roots.each_with_index do |category,index| %>		
	
	
								<li id= "category_<%= category.id%>">
									<%=link_to category.name,listing_filter_path(filter: {category_id: category.id}) %>
								</li>
	<% end %>
	
<% else %>
                <li class="text-center padding20">No categories</li>						
	
<% end %>						

							</ul>
						</div>
					</div>
				</div>
				
				<div>
					<a href="#">
						<% @left_panel_ad ||= "power-ad.jpg" %>
						<%= image_tag @left_panel_ad, class: "img-responsive", alt: "power Ad" %>
					</a>
				</div>
				
			</div>
      
			<div class="col-md-9 col-sm-12 col-xs-12 listingwrap">
				<div class="marginB15 clearfix">		
<%= form_tag(listing_filter_path, method: :get) do %>
				
	<%= select_tag "filter[country_id]", options_from_collection_for_select(@countries, "id", "name", params[:filter] ? params[:filter][:country_id] : ""),include_blank: "Select Country", class: "custom-select filter-search" %>
	
	<%= select_tag "filter[manufacturer_id]", options_from_collection_for_select(@manufacturers, "id", "name", params[:filter] ? params[:filter][:manufacturer_id] : ""),include_blank: "Select Manufacturer",class: "custom-select filter-search" %>
	
	<%= select_tag "filter[manufacture_year]", options_for_select(@manufacture_year_range.present? ? @manufacture_year_range.collect{|y|[y,y.to_s]} : [],params[:filter] ? params[:filter][:manufacture_year] : ""),include_blank: "Select Year",class: "custom-select filter-search" %>
	
	<% ["category_id", "sub_category_id", "sub_sub_category_id"].each do |field| %>
		<% if params[:filter].present? && params[:filter][field.to_sym].present? %>
			<%= hidden_field_tag "filter[#{field}]", params[:filter][field.to_sym] %>
		<% end %>
	<% end %>
	
	<%= submit_tag "", :id => 'submit_filter', :style => "display: none;" %>
	
	
	<% if params[:filter].present? %>	  
	  <%= link_to 'Clear filters', listings_path, class: "btn-orange text-uppercase paddingT15" %>
	<% end %>
<% end %>
				</div>
				
				<div class="clearfix row marginB30">
					<div class="col-md-10 col-sm-10 col-xs-10">
						<h2>Searched Products</h2>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-2 text-right">
						<%= link_to '<i class="fa fa-list-ul fa-lg" aria-hidden="true"></i>'.html_safe, listings_path, class: "meulist" %>
					</div>
				</div>
				
				<div class="clearfix">
					
					<ul class="serch_produc">

<% if @equipments.present? %>
	<% @equipments.each do |equipment| %>
		<% available = get_available_for(equipment.availble_for) %>					
						<li class="clearfix <%= 'sold_out' if (equipment.status == 'sold') %> <%= 'close-wrap' if ((equipment.status != "active" && equipment.status != 'in_progress') || available[:status] != 'active') %>">
							<div class="ListingIndent clearfix">
								<div class="col-md-2 col-sm-3 col-xs-12 paddingR">
									<center>
										<% if equipment.try(:images).try(:first).try(:image) %>
											<%= image_tag equipment.try(:images).try(:first).try(:image).try(:card_image).try(:url), class: 'img-responsive' %>
										<% else %>
											<%= image_tag "equipment-noimage.png", class: 'img-responsive' %>
										<% end %>
									</center>
								</div>
								
								<div class="col-md-6 col-sm-5 col-xs-12 paddingR">
									<div class="clearfix marginB15">
										<div class="profile-pic">
											<% if equipment.try(:user).try(:image).try(:image) %>
												<%= image_tag equipment.try(:user).try(:image).try(:image).try(:url), class: "img-responsive img-circle profile-img-list" %>
											<% else %>
												<%= image_tag "seller/myprofile-placeholder-img.png", class: "img-responsive img-circle profile-img-list" %>
											<% end %>
										</div>
										<div class="profile-box-top">
											<div class="pro-title"><%= "#{equipment.name} - #{equipment.identifier}" %></div>
											<div class="pro-txt"><%= truncate(equipment.description, length: 140) %></div>
										</div>
									</div>
								
									<div class="clearfix listwrap">
										<ul>
											<li>
												<div class="col-md-2 col-sm-2 col-xs-2 paddingL">
													<img src="/assets/location-icon.jpg" alt="Location" class="marginR5"> 
												</div>
												<div class="col-md-10 col-sm-10 col-xs-10 paddingL paddingR paddinT8">Location : <span class="gray-color"><%= truncate(equipment.try(:country).try(:name), length: 25)%></span>
												</div>
											</li>
											<li>
												<div class="col-md-2 col-sm-2 col-xs-2 paddingL">
													<img src="/assets/condition-icon.jpg" alt="Location" class="marginR5"> 
												</div>
												<div class="col-md-10 col-sm-10 col-xs-10 paddingL paddingR paddinT8">		
													<% if equipment.equipment_type == "equipment"%>
														Condition : <span class="gray-color"><%= equipment.condition %></span>
													<% else %>
														Power Plant type : <span class="gray-color"><%= equipment.power_plant_type %></span>
													<% end %>
												</div>
											</li>
											<li>
												<div class="col-md-2 col-sm-2 col-xs-2 paddingL">
													<img src="/assets/condition-icon.jpg" alt="Location" class="marginR5"> 
												</div>
												<div class="col-md-10 col-sm-10 col-xs-10 paddingL paddingR paddinT8">	
													<% if equipment.equipment_type == "equipment"%>
														Manufacturing : <span class="gray-color"><%= equipment.manufacture_year%></span>
													<% else %>
														Power Plant Age : <span class="gray-color"><%= equipment.power_plant_age%></span>
													<% end %>
												</div>	
											</li>
											<li>
												<div class="col-md-2 col-sm-2 col-xs-2 paddingL">
													<img src="/assets/condition-icon.jpg" alt="Location" class="marginR5"> 
												</div>
												<div class="col-md-10 col-sm-10 col-xs-10 paddingL paddingR paddinT8">	
													<% if equipment.equipment_type == "equipment"%>
														Brand : <span class="gray-color"><%= truncate(equipment.try(:manufacturer).try(:name), length: 15)%></span>
													<% else %>
														Turbine Brand : <span class="gray-color"><%= truncate(equipment.turbine_manufacturer_name, length: 12)%></span>
													<% end %>
												</div>	
											</li>
										</ul>
									</div>
								</div>
							
								<div class="col-md-4 col-sm-4 col-xs-12">
									<div class="available-title text-center marginB15">Available for</div>
									
									<% if ((equipment.status == 'active' || equipment.status == 'in_progress') && available[:status] == 'active') %>
									
										<div class="available_for" data-date="<%=equipment.availble_for.strftime("%Y-%m-%d %H:%M:%S")%>" data-total-duration="<%=(equipment.availble_for - equipment.created_at).to_i%>"></div>
									
									<% elsif (equipment.status == 'closed' || available[:status] == 'closed') %>
										<div class="close-deal">
											<span><%= image_tag "close.png" %></span>
										</div>
									<% elsif equipment.status == 'sold' %>
										<div class="avlble-close sold-arrow-btn"><%= image_tag "sold-arrow-btn.png" %></div>
									<% end %>
									
								</div>
							</div>
				  
							<div class="ListingIndentBottom clearfix txt16 black-color">
								<div class="col-md-4 col-sm-4 col-xs-6 paddinT10">Rating 
									<img src="<%= equipment.try(:rating).to_i >= 1 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="1">
									<img src="<%= equipment.try(:rating).to_i >= 2 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="2">
									<img src="<%= equipment.try(:rating).to_i >= 3 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="3">
									<img src="<%= equipment.try(:rating).to_i >= 4 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="4">
									<img src="<%= equipment.try(:rating).to_i >= 5 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="5">
								</div>
								<div class="col-md-4 col-sm-4 col-xs-6 paddingT15 text-center">Price : <span class="gray-color"><%= number_to_currency(equipment.price, unit: raw(equipment.currency)) %></span></div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<%= link_to 'MORE INFO', equipment_details_path(equipment), class: "text-uppercase btn-orange" %>
								</div>
							</div>
						</li>
						
					
<li style="display: none;" class='<%= "disable-lst" if ((equipment.status != "active" && equipment.status != "in_progress") || available[:status] != "active") %>'>
	<div class="post-equip">
		<div class="post-equip-cnt">
			<% if equipment.status == 'sold' %>
				<span class="sold-img"><%= image_tag "sold-img.png" %></span>
			<% end %>

			<div class="avlble-bx">
				<h3 class="hide-block-area">Available for</h3>
				<% if ((equipment.status == 'active' || equipment.status == 'in_progress') && available[:status] == 'active') %>
					<div class="available_for hide-block-area" data-date="<%=equipment.availble_for.strftime("%Y-%m-%d %H:%M:%S")%>" data-total-duration="<%=(equipment.availble_for - equipment.created_at).to_i%>"></div>
				<% elsif (equipment.status == 'closed' || available[:status] == 'closed') %>
					<div class="avlble-close"><%= image_tag "close-btn.png" %></div>
				<% elsif equipment.status == 'sold' %>
					<div class="avlble-close sold-arrow-btn"><%= image_tag "sold-arrow-btn.png" %></div>
				<% end %>
				
			</div>

		</div>
	</div>
</li>						
						
						
	<% end %>
<% else %>
						<li class="text-center padding20">No equipment found, <%= link_to 'Go back to all listings', listings_path %></li>
<% end %>
            
					</ul>
					<%= paginate @equipments, :theme => 'listing_page_theme' %>
				</div>
			</div>
			
			<div class="col-md-12 col-sm-12 col-xs-12 GetStarted hidden-xs hidden-sm">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="tab-progress btn-breadcrumb clearfix text-center">
							<div class="arrow-nav col-xs-10 text-left">Can't find what you are looking for, post your buying request now</div>
							<%= link_to 'GET STARTED', new_buying_request_path, class: "active-arrow arrow-nav col-xs-2 text-center" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%= javascript_include_tag 'jquery.mCustomScrollbar.concat.min'%>
<script>
	(function($){
	  $(window).on("load",function(){
		$(".ListingLeftPanel .CategoryLeft").mCustomScrollbar({
		  setHeight:560,
		   theme:"dark-3"
			});
		});
	})(jQuery);

	$(document).ready(function($) {
	  //auto submit filter form on value change 
	  $('.filter-search').on('change',function(){
		var form = $(this).parents('form').get(0);
		$(form).submit();
	  });
	});
</script>
