  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>My Favorites </h1>
    <ol class="breadcrumb">
      <li><a href="<%= seller_dashboard_path %>">Home</a></li>
      <li class="active">My Favorites</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content new-msg-content">
    <!-- /.row -->
    <div class="row">
      <div class="col-lg-12 msg-info-area">
        <div class="box box-info dsh-table-details">
          <div class="box-body">
          <% if @equipments.present? %>
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th style="text-align:center;">Image</th>
                    <th>Valid Till</th>
                    <th>Status</th>
                    <th style="text-align:center;">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @equipments.each_with_index do |favorite,index| %>
                    <tr>
                      <td><%= favorite.equipment.identifier %></td>
                      <td><%= favorite.equipment.name %></td>
                      <td><%=truncate(favorite.equipment.description, :length => 50) %></td>
                      <td align="center">
                        <% if favorite.equipment.images.present? %>
                          <%= image_tag(favorite.equipment.images.first.try(:image), width: '32', height: '32', alt: '') %>
                        <% else %>
                          <i class="fa fa-file-image-o"></i>
                        <% end %>
                      </td>
                      <td><%= favorite.equipment.availble_for.strftime("%d-%b-%Y %H:%M") if favorite.equipment.availble_for.present? %></td>
                      <td><span class="label label-<%= ['closed','sold','inactive'].include?(favorite.equipment.status.to_s) ? 'deactive' : 'active' %>"><%= favorite.equipment.status.humanize %></span></td>
                      <td class="table-links" style="text-align:center;">
						  
						<%= link_to 'View', equipment_details_path(favorite.equipment) %>  
						<%= link_to '<i class="fa fa-trash-o"></i> Remove'.html_safe, seller_remove_favorite_path(favorite),method: :delete,data: { confirm: 'Are you sure?' }, title: "Remove from favorite" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
            <% else %>
              <p style="text-align:center;margin-top: 8px;font-size:16px;">No Favorite Equipments Found</p>
            <% end %>
          </div>
          <!-- /.box-body -->
        <!-- /.box-footer -->
        </div>
      </div>
    </div>
    <%= paginate @equipments, :theme => 'listing_page_theme' %>
  <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
  <!-- /.content-wrapper -->

<!-- ./wrapper -->
