<div class="page page-ui-tables page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active">My Favourites</li>
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">My Favourites</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<!-- row -->
		<div class="row">
			<!-- Basic Table -->
			<div class="col-md-12">
				<div class="panel panel-lined panel-hovered mb20 table-responsive basic-table">
					
					<div class="panel-body">
						<% if @equipments.present? %>
							<table class="table">
								<thead>
									<tr>
										<th>Identifier</th>
										<th>Name</th>
										<th>Description</th>
										<th class="text-center">Image</th>
										<th>Valid Till</th>
										<th class="text-center">Status</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									<% @equipments.each_with_index do |favourite,index| %>
										<tr>
											<td><%= favourite.equipment.identifier %></td>
											<td><%= favourite.equipment.name %></td>
											<td><%=truncate(favourite.equipment.description, :length => 50) %></td>
											<td class="text-center">
												<% if favourite.equipment.images.present? %>
												  <%= image_tag(favourite.equipment.images.first.try(:image), width: '50', alt: favourite.equipment.name) %>
												<% else %>
												  <i class="fa fa-file-image-o"></i>
												<% end %>
											</td>
											<td><%= favourite.equipment.availble_for.strftime("%d-%b-%Y %H:%M") if favourite.equipment.availble_for.present? %></td>
											<td class="text-center">
												<label class="label label-<%= ['closed','sold','inactive'].include?(favourite.equipment.status.to_s) ? 'danger' : 'success' %> mr5"><%= favourite.equipment.status.humanize %></label>
												
											</td>
											<td class="text-center">
												<%= link_to '<i class="ion-eye"></i>'.html_safe, equipment_details_path(favourite.equipment), title: "View" %>
												<%= link_to '<i class="ion-ios-trash"></i>'.html_safe, seller_remove_favourite_path(favourite), method: :delete, data: { confirm: 'Are you sure?' }, title: "Remove from favourites" %>
											</td>
																						
										</tr>
									<% end %>
								</tbody>
							</table>
							<%= paginate @equipments, :theme => 'listing_page_theme' %>
						 <% else %>
							<p class="no-result">No Favourite Equipments Found</p>
						 <% end %>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
