<%= stylesheet_link_tag 'signature-pad', media: 'all'%>

<div class="page page-forms-elements page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active">My Profile</li>
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">My Profile</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<!-- row -->
		<div class="row">
			<section class="content myprofile-content">

<!-- user detail form start -->			
<%= form_for(@user, url: seller_profile_path(@user), html: { method: :put , :id => "edit_profile_form"}) do |f| %>
	<%= f.fields_for :profile do |profile_form| %>
		<%= hidden_field_tag "user[profile_attributes][digital_signature]", current_user.profile.digital_signature %>
				
				<div class="col-sm-12 col-md-6">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
							
							<div class="form-group">
								<label class="col-md-12 control-label">First Name<sup>*</sup></label>
								<div class="col-md-12">
									<%= profile_form.text_field :first_name, class: 'form-control', id: 'fname', placeholder: 'Enter First Name' %>
									<%= error_message(@user.profile, :first_name)%>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Last Name<sup>*</sup></label>
								<div class="col-md-12">
									<%= profile_form.text_field :last_name, class: 'form-control', id: 'lname', placeholder: 'Enter Last Name' %>
									<%= error_message(@user.profile,:last_name) %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Company/Organization Name<sup>*</sup></label>
								<div class="col-md-12">
									<%= profile_form.text_field :company_name, class: 'form-control', id: 'cmpname', placeholder: 'Enter Company/Organization Name' %>
									<%= error_message(@user.profile,:company_name) %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Company website</label>
								<div class="col-md-12">
									<%= profile_form.text_field :website, class: 'form-control', id: 'webname', placeholder: 'Enter Company website' %>
									<%= error_message(@user.profile,:website) %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Email Id<sup>*</sup></label>
								<div class="col-md-12">
									<%= f.text_field :email, class: 'form-control', id: 'emailid', placeholder: 'Enter Email Id' %>
									<%= error_message(@user,:email) %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Mobile Number<sup>*</sup></label>
								<div class="col-md-12">
									<%= profile_form.text_field :phone_number, class: 'form-control', id: 'mobnumber', placeholder: 'Enter Mobile Number' %>
									<%= error_message(@user.profile,:phone_number) %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Country<sup>*</sup></label>
								<div class="col-md-12">
									<%= profile_form.select(:country_id, options_for_select(Country.pluck(:name, :id), :selected => @user.profile.country_id), :prompt => "Select Country") %>
									<%= error_message(@user.profile,:country_id) %>
								</div>
							</div>
							
							<div class="clearfix mt20 right">
							   <button type="submit" class="btn btn-primary mr5" value="Done" name="commit">Done</button>
							</div>
										
						</div>	
					</div>	
				</div>
	<% end %>
<% end %>
<!-- user detail form end -->

<!-- update photo form start -->

<%= form_for(@user, url: seller_profile_path(@user), html: { method: :put, id: 'image_form' }) do |f| %>
	<%= f.fields_for :image do |image_form| %>

		<div class="col-sm-12 col-md-6">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
							<div class="mp-form-box">
								<div class="upload-image">   
									<div class="form-group">
										  <label class="col-md-12 control-label">Profile Photo<sup>*</sup></label>
											
											<% if @user.image.image.present? %>
												<div class="upload-image-input" style="background: url(<%= @user.image.image.event_small.url %>) no-repeat center center; background-size: 150px auto;">
											<% else %>
												<div class="upload-image-input">
											<% end %>
												<%= image_form.file_field(:image,class: "required", title: " ")%>
												<%= error_message(@user.image,:image) %>
											</div>
									</div>
								</div>
							</div>
									  							
							
							<div class="clearfix mt20 right">
							   <button type="submit" class="btn btn-primary mr5" value="Update Profile" name="commit">Update Profile</button>
							</div>
										
						</div>	
					</div>	
				</div>

	<% end %>
<% end %>
<!-- update photo form end -->

<!-- update password form start -->
<%= form_for(@user, url: seller_profile_path(@user), html: { method: :patch, :id => "change_password_form" }) do |f| %>
				
				<div class="col-sm-12 col-md-6">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
							
							<div class="form-group">
								<label class="col-md-12 control-label">Old Password<sup>*</sup></label>
								<div class="col-md-12">
									<%= f.password_field :current_password, autocomplete: "off", class: 'form-control', id: 'oldpassword', placeholder: 'Enter Old Password ' %>
									<label class="error"><%= @old_error_msg%></label>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">New Password<sup>*</sup></label>
								<div class="col-md-12">
									<%= f.password_field :password, class: 'form-control', id: 'newpassword', placeholder: 'Enter New Password' %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-12 control-label">Confirm Password<sup>*</sup></label>
								<div class="col-md-12">
									<%= f.password_field :password_confirmation, class: 'form-control', id: 'cnfpassword', placeholder: 'Enter Confirm Password' %>
									<label class="error"><%= @new_error_msg %></label>
								</div>
							</div>
							
							<div class="clearfix mt20 right">
							   <button type="submit" class="btn btn-primary mr5" value="Change Password" name="commit">Change Password</button>
							</div>
										
						</div>	
					</div>	
				</div>
				
<% end %>				
<!-- update password form end -->

				<div class="clearfix"></div>

<!-- digital signature form start -->				
				<div class="col-sm-12 col-md-6">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
							
<%= form_for(@user, url: seller_profile_path(@user), html: { method: :put , :id => "digital_signature_form"}) do |f| %>
	<%= f.fields_for :profile do |profile_form| %>
		<%= hidden_field_tag "profile[digital_signature]" %>
		<%= hidden_field_tag "is_digital_signature", '1'  %>
							
							<div class="form-group">
								<label class="col-md-12 control-label">Digital Signature<sup>*</sup></label>
								
								<% if current_user.profile.digital_signature %>  
									<div class="col-md-12">
										<img src="<%= current_user.profile.digital_signature %>" />
									</div> 
								<% end %>
								
								<div class="col-md-12 mb60">
									
									<div id="signature-pad" class="m-signature-pad col-md-12">
							
										<div class="m-signature-pad--body">
											<canvas></canvas>
										</div>
										<div class="clearfix mt155"></div>
										
										<div class="col-md-12"><label class="error" id="signature_err"></label></div>
										
										<div class="m-signature-pad--footer col-md-12">
																			
											<div class="col-md-4">
												<button type="button" class="btn btn-primary mr5 clear left" data-action="clear">Clear</button>
											</div>
											
											<div class="description col-md-4">Sign above</div>
											
											<div class="col-md-4">
												<button type="button" class="btn btn-primary mr5 save right" data-action="save">Save</button>
											</div>
											
										</div>
										
									</div>
																		
								</div>
							</div>
							
	<% end %>
<% end %>							
										
						</div>	
					</div>	
				</div>
<!-- digital signature form end -->				
				
			</section>
		</div>
	</div>
</div>


<script type="text/javascript">
  // Profile form validation
  $(document).ready(function(){
    $.validator.addMethod("regex", function(value, element, regexpr) {
      if (value.length > 0) {
        return regexpr.test(value);
      }else{
        return true;
      }
    }, "Please enter a valid name.");
    var validator = $("#edit_profile_form").validate({
      ignore: ':hidden:not(select)',
      rules: {
        "user[email]": {
          required: true,
          maxlength: 35,
          email: true
        },
        "user[profile_attributes][first_name]": {
          required: true,
          maxlength: 35,
          regex: /^(?!\d)[a-zA-Z0-9_\s]+$/
        },
        "user[profile_attributes][last_name]": {
          required: true,
          maxlength: 35,
          regex: /^(?!\d)[a-zA-Z0-9_\s]+$/
        },
        "user[profile_attributes][company_name]": {
          required: true,
          maxlength: 50
        },
        "user[profile_attributes][website]": {
          required: false,
          regex:  /^((http|https):\/\/|www[.])[^\s()<>]+[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$/i
        },
        "user[profile_attributes][country_id]": "required",
        "user[profile_attributes][phone_number]": {
          required: true,
          regex: /^[\+]*[0-9\-]*$/,
          minlength: 10,
          maxlength: 18
        },
      },
      messages: {
        "user[email]": {
          required: "Email can't be blank",
          email: "Please enter a valid email address"
        },
        "user[profile_attributes][first_name]": {
          required: "First name can't be blank"
        },
        "user[profile_attributes][last_name]": {
          required: "Last name can't be blank"
        },
        "user[profile_attributes][company_name]": {
          required: "Company name can't be blank"
        },
        "user[profile_attributes][website]": {
          required: "Website can't be blank",
          regex: "Please enter a valid website."
        },
        "user[profile_attributes][country_id]": {
          required: "Country can't be blank"
        },
        "user[profile_attributes][phone_number]": {
          required: "Phone number can't be blank",
          regex: "Please enter valid phone number",
          minlength: "Phone number must be at least 10 digits",
          maxlength: "Phone number must be at most 18 digits"
        }
      },
      errorPlacement: function(error, element) {
        if (element.attr("name") == "user[profile_attributes][country_id]") {
          error.insertAfter(".selectric");
        } else {
          error.insertAfter(element);
        }
      }
    });
  });

  // Image form validation
  $(document).ready(function(){
    $("#image_form").validate({
      rules: {
        "user[image_attributes][image]": {
          required: true
        },
      },
      messages: {
        "user[image_attributes][image]": {
          required: "Select an image"
        }
      },
      errorPlacement: function(error, element) {
        error.insertAfter(element);
      }
    });
  });

  // Change password form validation
  $(document).ready(function(){
    $("#change_password_form").validate({
      ignore: ':hidden:not(select)',
      rules: {
        "user[current_password]": "required",
        "user[password]": "required",
        "user[password_confirmation]": {
          required: true
        },
      },
      messages: {
        "user[current_password]": {
          required: "Current password can't be blank"
        },
        "user[password]": {
          required: "Password can't be blank"
        },
        "user[password_confirmation]": {
          required: "Password Confirmation can't be blank"
        }
      },
      errorPlacement: function(error, element) {
        error.insertAfter(element);
      }
    });
  });

  $('#mobnumber').keypress(function (e) {
    if ($(this).val().length<18){
      if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57) && e.which != 43 && e.which != 45 ) {
        return false;
      }
    }
    else{
      if (e.which != 8 && e.which != 0 ) {
        return false;
      }
      return true
    }
  });
  $("#user_image_attributes_image").change(function(){
    var input = this
    readURL(input)
  });
  function readURL (input) {
    var ext = input.files[0]['name'].substring(input.files[0]['name'].lastIndexOf('.') + 1).toLowerCase();
    if (input.files && input.files[0] && (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg" || ext == "jpe")) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(".upload-image-input").css('background', 'url('+e.target.result+') no-repeat center center');
        $(".upload-image-input").css('background-size', 'cover')
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<style>
  .error-msg, label.error {
    color: #cc0000 !important;
    font-size: 12px !important;
  }
</style>

<%= javascript_include_tag 'signature_pad' %>
<%= javascript_include_tag 'signature_app' %>
