<div class="row">
	<div class="RightPanel clearfix">

		<div class="RightUserTitle">User Guide</div>
		<div class="RightIndent">
			<div id="section_user_guide">
				<p>
					<% if @content_data['user_guide'] %>
					<%= @content_data['user_guide'].html_safe %>
					<% end %>
				</p>
			</div>
			<p class="text-right"><a href="javascript:void(0);" id="section_user_guide_link" class="view-link" data-reference="section_user_guide" data-view="more">View More</a></p> 
			<!-- <p class="text-right"><a href="#">Getting Started</a></p> -->
		</div>

		<div class="RightUserTitle">How it Works</div>
		<div class="RightIndent">
			<div class="howwork-title">For Seller</div>

			<div id="section_how_it_work_for_seller">
				<% if @content_data['how_it_work_for_seller'] %>
				<%= @content_data['how_it_work_for_seller'].html_safe %>
				<% end %>
			</div>
			<p class="text-right"><a href="javascript:void(0);" id="section_how_it_work_for_seller_link" class="view-link" data-reference="section_how_it_work_for_seller" data-view="more">View More</a></p> 

			<!-- <ul>
			<li>test</li>
			<li>test</li>
			<li>test</li>
			</ul> -->

			<div class="howwork-title">For Buyers</div>

			<div id="section_how_it_work_for_buyer">
				<% if @content_data['how_it_work_for_buyer'] %>
				<%= @content_data['how_it_work_for_buyer'].html_safe %>
				<% end %>
			</div>

			<p class="text-right"><a href="javascript:void(0);" id="section_how_it_work_for_buyer_link" class="view-link" data-reference="section_how_it_work_for_buyer" data-view="more">View More</a></p>

			<!-- <ul>
			<li>test</li>
			<li>test</li>
			<li>test</li>
			</ul>
			<p class="text-right"><a href="#">Getting Started</a></p> -->
		</div>

		<div class="tipwrap">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tipsseller">Tips for Seller</a></li>
				<li><a data-toggle="tab" href="#tipsbuyer">Tips for buyer</a></li>
			</ul>

			<div class="tab-content">
				<div id="tipsseller" class="tab-pane fade in active">
					<div class="RightIndent">
						<div id="section_tips_for_seller">	
							<p>
								<% if @content_data['tips_for_seller'] %>
								<%= @content_data['tips_for_seller'].html_safe %>
								<% end %>
							</p>
						</div>

						<p class="text-right"><a href="javascript:void(0);" id="section_tips_for_seller_link" class="view-link" data-reference="section_tips_for_seller" data-view="more">View More</a></p>

						<!-- <p>content here</p>
						<p class="text-right"><a href="#">Getting Started</a></p> -->
					</div>
				</div>
				<div id="tipsbuyer" class="tab-pane fade">
					<div class="RightIndent">
						<div id="section_tips_for_buyer" class="set-right-section-content">	
							<p>
								<% if @content_data['tips_for_buyer'] %>
								<%= @content_data['tips_for_buyer'].html_safe %>
								<% end %>
							</p>
						</div>

						<p class="text-right"><a href="javascript:void(0);" id="section_tips_for_buyer_link" class="view-link" data-reference="section_tips_for_buyer" data-view="more">View More</a></p>
						<!-- <p>content here</p>
						<p class="text-right"><a href="#">Getting Started</a></p> -->

					</div>
				</div>

			</div>
		</div>
	</div>
</div>