<!-- dashboard page -->
<div class="page page-dashboard padding0">
	<div class="page-wrap clearfix">
	<div class="col-md-9 col-sm-12 no-padding">
		<div class="row no-marging">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Welcome to Power Cozmo</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		<div class="row no-marging">
		<div class="col-md-12 col-sm-12 no-padding">
		 <div class="panel panel-default mb20 mini-box panel-hovered">
					<div class="line"></div>

					<div class="slider-patern">
					<div class="dashboard-tablenew panel-heading">To Do List</div>

					<div class="panel-body padding0">
						
						 <div class="owl-carousel" id="dash-slide">
			
							<div class="dashboar-slide-box text-center item"> 
								<a href="<%= inbox_seller_messages_path %>" title="<%= @received_messages.count %> Messages">
									<div class="dash-slide-count">
									<i><%= (@received_messages.count > 9999) ? "9999+" : @received_messages.count %></i>
									<span class="ti-email"></span></div>
									<div class="dash-slide-title">Message Center</div>
								</a>
							</div>

							<% offer_question_count = @offers.count + @questions.count %>	

							<div class="dashboar-slide-box text-center item" title="<%= offer_question_count %> Offers & Questions"> 
								<div class="dash-slide-count">
								<i><%= (offer_question_count > 9999) ? "9999+" : offer_question_count %> </i>
								<span class="ti-comments"></span></div>
								<div class="dash-slide-title">Offers & Questions</div>
							</div>

							<div class="dashboar-slide-box text-center item"> 
								<a href="<%= seller_orders_path%>" title="<%= @orders.count %> Orders"> 
									<div class="dash-slide-count">
									<i><%= (@orders.count > 9999) ? "9999+" : @orders.count %> </i>
									<span class="ti-clipboard"></span></div>
									<div class="dash-slide-title">Orders</div>
								</a>
							</div>

							<div class="dashboar-slide-box text-center item"> 
								<a href="<%=seller_buying_requests_path%>" title="<%= @buying_requests.count%> RFQ">
									<div class="dash-slide-count">
									<i><%= (@buying_requests.count > 9999) ? "9999+" : @buying_requests.count %></i>
									<span class="ti-write"></span></div>
									<div class="dash-slide-title">RFQ</div>
								</a>
							</div>

							<div class="dashboar-slide-box text-center item">
								<a href="<%= seller_received_proposals_path %>" title="<%= @received_proposals.count %> Received Quotations"> 
									<div class="dash-slide-count">
									<i><%= (@received_proposals.count > 9999) ? "9999+" : @received_proposals.count %></i>
									<span class="ti-bookmark-alt"></span></div>
									<div class="dash-slide-title">Received Quotations</div>
								</a>
							</div>		
						</div>
					</div>
				</div>
				<div class="line"></div>

			</div>
		</div>
	</div>

<div class="row no-marging">
<div class="col-md-12 col-sm-12 ">
		 <div class="main-box">
					
					<div class="main-heding">Start your online trade for power, oil & gas equipment with power Cozmo now!</div>
					<div class="panel-body">
				<div class="row">
					<div class="col-md-6 dashboard-search">
					<p>Search your query here</p>
						<div class="form-search form-with">						
							<%= form_tag(seller_listing_filter_path, method: :get) do %>
								<input type="search" class="form-control" placeholder="Type here for search..." name="q" value="<%=params[:q]%>">
								<button type="submit" class="sear-bun"></button>
							<% end %>
						</div>
					</div>
					<div class="col-md-3 post-btn"><a href="<%= new_seller_equipment_path %>"><span class="ti-settings"></span> Post your equipment</a></div>	
					<div class="col-md-3 post-btn"><a href="<%= new_buying_request_path %>"><span class="ti-notepad"></span> Post request for quotations</a></div>
				</div>		
	</div>
</div>
</div>
</div>

		
<script>
  $(document).ready(function() {
     
      var owl = $("#dash-slide");
     
      owl.owlCarousel({
         items : 4,
          itemsCustom : [
            [0, 1],
            [450, 1],
            [600, 2],
            [700, 3],
            [1000, 3],
            [1200, 4]
          ],
          navigation : true,
          autoPlay : true,
          dots: false
     
      });
     
    });


		</script>
		
		
		<!-- row -->
		<div class="row no-marging">
			<!-- Basic Table -->
			<div class="col-md-12">
				<div class="main-box">
					
				<div class="main-heding no-t-padding"><i class="fa fa-list" aria-hidden="true"></i> <p>My Listed Equipment</p> 
				<a class="ad-pod" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add New Product</a>
				</div>
					 
					<div class="panel-body padding0 dashboard-table">
						<% if @equipments.present? %>
							<table class="table">
								<thead>
									<tr>
										<th>Item ID</th>
										<th>Name</th>
										<th>Image</th>
										<th class="text-center">Status</th>
										<th>Validation Date</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									<% @equipments.each_with_index do |equipment,index| %>
										<tr>
											<td><%= equipment.identifier %></td>
											<td><%= equipment.name %></td>
											<td>
												
												<% if equipment.images.present? %>
												  <%= image_tag(equipment.images.first.try(:image), alt: equipment.name, style: 'width: 50px;') %>
												<% else %>
												  <i class="fa fa-file-image-o"></i>
												<% end %>

											</td>
											<td class="text-center">
												<label class="label label-<%= ['closed','sold','inactive'].include?(equipment.status.to_s) ? 'danger' : 'success' %>"><%= equipment.status.humanize %></label>
												
											</td>
											<td><%= equipment.availble_for.strftime("%d-%b-%Y %H:%M %p") if equipment.availble_for.present? %></td>
											<td class="text-center">
												<%= link_to '<span class="ti-pencil"></span>'.html_safe, edit_seller_equipment_path(equipment), title: "Edit Equipment" %>
												<%= link_to '<span class="ti-trash redcolor"></span>'.html_safe, seller_equipment_path(equipment),method: :delete,data: { confirm: 'Are you sure?' }, title: "Delete Equipment" %>
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>
						 <% else %>
							<p class="no-result">No Equipments Found</p>
						 <% end %>	
					</div>
				</div>
			</div>
		</div>


		<% if @buying_requests.present? %>
			<!-- row -->
			<div class="row no-marging">
				<!-- Basic Table -->
				<div class="col-md-12">
				 
					<div class="main-box">
						
					 
					<div class="main-heding no-t-padding"><i class="fa fa-list" aria-hidden="true"></i> <p>My Requests For Quotations</p> </div>
						 
						<div class="panel-body padding0 dashboard-table">
							<table class="table">
								<thead>
									<tr>
										<th>S.No.</th>
										<th>Title</th>
										<th>Description</th>
										<th>Valid Till</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								<tbody>
									<% @buying_requests.each_with_index do |br,index| 

										if index > 3 
											break
										end	
										%>
										<tr>
											<td><%= br.identifier%></td>
											<td><%= br.title%></td>
											<td><%= truncate(br.description, length: 35)%></td>
											<td><%= br.expiration_date.strftime('%m/%d/%Y')%></td>
											<td class="text-center">
												
												<%= link_to '<span class="ti-eye"></span>'.html_safe, seller_my_buying_request_path(br), title: "View"%>
												
												<% if br.user_id != current_user[:id] && br.email != current_user[:email] %>
													<% if br.expiration_date >= Date.today %>
													  <%= link_to '<span class="ti-info-alt redcolor"></span>'.html_safe, seller_request_for_more_info_path(buying_request_id: br.id), title: "Request For Info" %>
													<% end %>
													<% if br.expiration_date >= Date.today %>
													  <%= link_to '<span class="ti-back-right"></span>'.html_safe, new_seller_buying_proposal_path(buying_request_id: br.id), title: "Submit Your Proposal" %>
													<% end %>
												<% end %>
							
											</td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					</div>
				</div>
			 
		<% end %>
	
		
		<!-- row -->
		<div class="row no-marging">

			<!-- profile -->
			<div class="col-md-6 col-sm-6">
				<div class="main-box">
						
					 
					<div class="main-heding no-t-padding"><i class="fa fa-user" aria-hidden="true"></i><p>Profile</p>
<a class="ad-pod" href="<%= edit_seller_profile_path(current_user)%>"> Edit profile</a>
					</div>
					<div class="panel-body">
						<div class="clearfix">
							<div class="left-side">
								<h3 class="text-light mt0"><%= current_user.name.to_s.titleize %></h3>
								<p><strong>Email:&nbsp;</strong><%= current_user.email %></p>
								<p><strong>Company:&nbsp;</strong><%= current_user.profile.company_name.to_s.titleize %></p>
								<p><strong>Website:&nbsp;</strong><%= current_user.profile.website %></p>
								<p><strong>Mobile:&nbsp;</strong><%= current_user.profile.phone_number %></p>
								<p><strong>Country:&nbsp;</strong><%= current_user.profile.country.name %></p>
								
							</div>
							
						</div>
					</div> <!-- #end panel-body -->
				</div>
			</div>

			<!-- list widgets -->
			<div class="col-md-6 col-sm-12">
				<div class="main-box list-widget">
					<ul class="list-unstyled clearfix">
						<li>
							<a href="<%= seller_equipment_index_path %>">
								<span class="ti-settings"></span>
								<span class="text">My Equipments</span>
								<span class="badge badge-sm badge-primary right"><%= (@equipments.count > 9999) ? "9999+" : @equipments.count %></span>
							</a>
						</li>
						<li>
							<a href="<%= inbox_seller_messages_path %>">
								<span class="ti-comments"></span>
								<span class="text">Messages</span>
								<span class="badge badge-sm badge-info right"><%= (@received_messages.count > 9999) ? "9999+" : @received_messages.count %></span>
							</a>
						</li>
						<li>
							<a href="<%= seller_buying_proposals_path %>">
								<span class="ti-blackboard"></span>
								<span class="text">My Proposals</span>
								<span class="badge badge-sm badge-success right"><%= (@proposals.count > 9999) ? "9999+" : @proposals.count %></span>
							</a>
						</li>
						<li>
							<span class="ti-email"></span>
							<span class="text"> Notifications</span>
							<span class="badge badge-sm badge-primary right">
								<% unread_notifications_count = current_user.try(:unread_notifications_count).to_i %>
								<%= (unread_notifications_count > 9999) ? "9999+" : unread_notifications_count %>
							</span>
						</li>
						<li>
							<a href="<%= seller_offers_path %>">
								<span class="ti-tag"></span>
								<span class="text">Offers</span>
								<span class="badge badge-sm badge-danger right"><%= (@offers.count > 9999) ? "9999+" : @offers.count %></span>
							</a>	
						</li>
						<li>
							<a href="<%= seller_questions_path %>">
								<span class="ti-help-alt"></span>
								<span class="text">Questions</span>
								<span class="badge badge-sm badge-info circle right"><%= (@questions.count > 9999) ? "9999+" : @questions.count %></span>
							</a>	
						</li>
						<li>
							<a href="<%= seller_orders_path %>">
								<span class="ti-briefcase"></span>
								<span class="text">My Orders</span>
								<span class="badge badge-sm circle badge-danger right"><%= (@orders.count > 9999) ? "9999+" : @orders.count %></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			
		</div>
		<!-- #end row -->

		</div>

		<div class="col-md-3 col-sm-12 pos-rel no-padding no-row-margin">
			<%= render partial: "right_section" %>
		</div>

	</div> <!-- #end page-wrap -->
</div>
<!-- #end dashboard page -->