<!-- enquiry start -->
<% if enquiry.present? && enquiry.is_a?(EquipmentEnquiry) %>
	<% i = 0 %>
	
	<% enquiry.responses.each_with_index do |enquiry_response,index| %>      
		<% unless enquiry_response.new_record? %>
			<% if enquiry_response.status == 'forwarded' || enquiry_response.user_id == current_user.id %>
			
				<% if i == 0 %>
					<div class="clearfix"></div>									
					<div class="col-sm-12 col-md-12 mb10 text-bold">Responses</div>  
				<% end %>	
									
				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">									
														
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">From</label>
								<div class="col-md-8">
									<%= enquiry_response.user.profile.first_name + ' ' + enquiry_response.user.profile.last_name %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Date</label>
								<div class="col-md-8"><%=format_time(enquiry_response.created_at)%><!-- 10/03/2016 --></div>
							</div>	
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Message</label>
								<div class="col-md-8"><%= enquiry_response.message.to_s.html_safe %></div>
							</div>	
							
						</div>	
					</div>	
				</div>	
				<div class="clearfix"></div>	
								
				 <% i = i + 1 %>	
			<% end %> 
		<% end %> 
	<% end %> 
<!-- enquiry end -->

		<% if enquiry.question? %>
		<%= form_for enquiry.responses.new, url: seller_reply_to_question_path do |f| %>

			<div class="clearfix"></div>									
			<div class="col-sm-12 col-md-12 mb10 text-bold">Reply Message</div>
			
			<div class="col-sm-12 col-md-12">	
				<div class="panel panel-default panel-hovered panel-stacked mb30">
					<div class="panel-body">
						
						<div class="form-group">
							<label class="col-md-12 control-label">Reply Message<sup>*</sup> :</label>
							<div class="col-md-12">
								<%= f.bootsy_area :message, class: 'form-control bootsy-height', id: "message" , placeholder: 'Enter Message', value: params[:enquiry_response].present? ? params[:enquiry_response][:message] : '', editor_options: { image: false } %>
								<span class="error-mess">Please enter maximum 3000 characters </span><br>
								<span class="error-msg"><%= @error%></span>
							</div>
						</div>
						
						<div class="clearfix mt20 right">
							<button type="submit" class="btn btn-success mr5" value="Reply" name="commit">Reply</button>
							<%=link_to "Back", seller_questions_path, class: "btn btn-primary mr5" %>
						</div>
									
					</div>	
				</div>	
			</div>
			
		<% end %>
		<% elsif enquiry.bid? || enquiry.buy? %>
		<% if enquiry.equipment.availble_for >= Date.today %>
			<%= form_for enquiry.responses.new, url: seller_respond_to_offer_path(enquiry), method: :put do |f|%>
			
				<div class="clearfix"></div>									
				<div class="col-sm-12 col-md-12 mb10 text-bold">Reply Message</div>
				
				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
							
							<div class="form-group">
								<label class="col-md-12 control-label">Reply Message<sup>*</sup> :</label>
								<div class="col-md-12">
									<%= f.bootsy_area :message, class: 'form-control bootsy-height', id: "message" , placeholder: 'Enter Message', value: params[:enquiry_response].present? ? params[:enquiry_response][:message] : '', editor_options: { image: false } %>
									<span class="error-mess">Please enter maximum 3000 characters </span><br>
									<span class="error-msg"><%= @error%></span>
								</div>
							</div>
							
							<div class="clearfix mt20 right">
								<% if(enquiry.user_id == current_user.id) %>	
									<button type="submit" class="btn btn-success mr5" value="Reply" name="commit">Reply</button>
									
								<% else %>
									<% if enquiry.replied_as=="Requested" && enquiry.equipment.try(:availble_for).present? && enquiry.equipment.try(:availble_for) >= Date.today %>
										
										<button type="submit" class="btn btn-success mr5" value="Accept" name="commit">Accept</button>
										<button type="submit" class="btn btn-danger mr5" value="Reject" name="commit">Reject</button>
										
									<% else %>
										<button type="submit" class="btn btn-success mr5" value="Reply" name="commit">Reply</button>
									<% end %>
								
								<% end %>
								
								<%=link_to "Back", seller_offers_path, class: "btn btn-primary mr5" %>
							</div>
										
						</div>	
					</div>	
				</div>
			<% end %>
		<% end %>
		<% end %>

		<script type="text/javascript">

		$(document).ready(function(){  
			$.validator.addMethod("regexEmail", function(value, element, regexpr) {
		   
				if(regexpr.test(value)){
					return false;
				}else{
					return true;
				}
			}, "Please remove email from message");
		  
			$.validator.addMethod("regexPhone", function(value, element, regexpr) {

				if(regexpr.test(value)){	
					return false;
				}else{
					return true;
				}
			}, "Please remove phone number from message");
			  
			
			var validator = $("#new_enquiry_response").validate({
			  //debug: true,
			  errorElement: 'div',
			  errorClass: 'error-msg',
			  ignore: "",
			  rules: {    
				'enquiry_response[message]': {
				  required: true,
				  maxlength: 3000,
				  regexPhone: /[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im,
				  regexEmail: /(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))/
				}
			  },
			  messages:{    
				'enquiry_response[message]': {
				  required: "Message can't be blank",
				  maxlength: "Please enter maximum 3000 characters",
				  regexEmail: "Please remove email from message",
				  regexPhone: "Please remove phone number from message"
				}
			  }, 
			  errorPlacement: function(error, element) {
				error.insertAfter(".error-mess");
			  }, 
			  submitHandler: function(form) {  
				//Hack for form submit
				if ($(form).valid()) 
				  form.submit(); 
				return false; // prevent normal form posting
			  }
			});
		 });   
  </script>
<% end %>
