<% if @offer.equipment.availble_for < Date.today %>
	<% unless (@offer.response.present? || @offer.response_status.present?) %>
		<div class="col-sm-12 col-md-12 alert alert-danger">
			<div>You can't respond to this enquiry as this equipment is expired.</div>
		</div>
	<% end %>
<% end %>

<div class="page page-forms-elements page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active">Equipment Offers List Detail</li>
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">Equipment Offers List Detail</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<!-- row -->
		<div class="row">
			<section class="content myprofile-content">
				
				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">				
														
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">Offer Provider Name</label>
								<div class="col-md-8"><%= @offer.name %></div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Offer Provider Location</label>
								<div class="col-md-8"><%= @offer.country.name %></div>
							</div>	
							
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Offered Price</label>
								<div class="col-md-8"><%= raw(@offer.try(:equipment).try(:currency)) %><%= @offer.bidding_price || @offer.equipment.price %></div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Message</label>
								<div class="col-md-8"><%= @offer.message %></div>
							</div>
							
							<% if (@offer.response.present? || @offer.response_status.present?) %>
							
								<div class="clearfix"></div>
								
								<div class="form-group mt20">
									<% if(@offer.user_id == current_user.id) %>
										<label class="col-md-4 control-label text-bold">Seller Response</label>
										<div class="col-md-8"><%= "Seller have #{@offer.replied_as.downcase} this offer."%></div>
									<% else %>
										<label class="col-md-4 control-label text-bold">Your Response</label>
										<div class="col-md-8"><%= "You have #{@offer.replied_as.downcase} this offer."%></div>
									<% end %>
								</div>						
							
							<% end %>
														
						</div>	
					</div>	
				</div>
				
				<%= render partial: "enquiry_responses", locals: {enquiry: @offer} %>				

			</section>
		</div>
	</div>
</div>
