<!-- Banner Start -->
<section class="banner clearfix">
	<div class="container">
		<div class="row">
			<h2 class="text-center text-uppercase"><%= SiteSetting.last.try(:homepage_heading) || 'Trading platform' %></h2>
			<div class="text-center banner-txt text-uppercase">
				<%= SiteSetting.last.try(:homepage_text) || 'for used and surplus of capital power equipment and power generation plants, providing effective sources and logistics solutions to buyers and sellers' %>
			</div>
			
<%= form_tag listing_filter_path, method: :get do %>
			
			<div class="clearfix">
				<div class="col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
					<div class="col-md-3 col-sm-4 col-xs-12 padding">
						<div class="cd-dropdown-wrapper"> 
							
							<div class="cd-dropdown-trigger clearfix">
							  
							  <%= select_tag "filter[category_id]", options_from_collection_for_select(@categories, "id", "name"), include_blank: 'Select Category', class: 'custom-select' %>
							  
							</div>
          
						</div>
					</div>
					
					<div class="col-md-7 col-sm-5 col-xs-12 padding">
						
						<%= search_field_tag "q[name_or_identifier_or_country_name_or_description_or_manufacturer_name_or_sub_category_name_or_sub_sub_category_name_cont]", "", placeholder: "Search Name, Identifier, Manufacturer, Country", title: "Search Name, Identifier, Manufacturer, Country", class: "form-control" %>
        						
					</div>
					<div class="col-md-2 col-sm-3 col-xs-12 padding">
						<button class="btn-orange text-uppercase"><i class="fa fa-search" aria-hidden="true"></i> search </button>
					</div>
				</div>
			</div>
			
<% end %>			
				
		</div>
	</div>
</section>

<div class="clearfix postswrap">
	
	<%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> post an ad'.html_safe, new_seller_equipment_path, class: 'post-btn text-uppercase text-center' %>
	
</div>


<!-- Welcome to Power Cozmo -->
<section class="clearfix welcomewrap">
	<div class="container">
		<div class="row">
				<div class="col-md-4 col-sm-12 col-xs-12" id="about_power_cozmo">
					<div class="welcomeindent clearfix">
						
						<% if @content_data['what_is_powercozmo'] %>
							<%= @content_data['what_is_powercozmo'].html_safe %>
						<% else %>
							<h2 class="marginB10">WELCOME TO <span>POWER COZMO</span> TRADE PLATFORM</h2>
							<h3 class="marginB5">What is power Cozmo?</h3>
							<p>Power Cozmo is online automated platform works as market place for all power plants need, based on connecting sellers &amp; buyers together all over the world, You can...</p>
						<% end %>
						
						<div class="marginB15 paddinT10">
							<center><%= image_tag "welcom-img.jpg", width: '189', height: '179', alt: 'Welcome' %></center>
						</div>
						<div class="text-center text-uppercase marginB15"> 
							<%= link_to "Read More", about_path(anchor: "power_cozmo"),class: "btn-orange" %> 
						</div>
					</div>
				</div>
			
				<div class="col-md-8 col-sm-12 col-xs-12 home-power" id="why_us">
					<div role="tabpanel"> 
      
						<!-- Nav tabs -->
						<ul class="nav marginB30" role="tablist">
							<li role="presentation" class="active"> 
								<a href="#why-one" aria-controls="home" role="tab" data-toggle="tab"> 	
									<span class="whyhome sellhome">
										<center><%= image_tag "sell-icon.png", alt: 'Sell' %></center>
									</span>
									<span class="hidden-xs hidden-sm">Why sell in Power Cozmo?</span> 
								</a> 
							</li>
							
							<li role="presentation"> 
								<a href="#why-two" aria-controls="profile" role="tab" data-toggle="tab"> 
									<span class="whyhome buyhome">
										<center><%= image_tag "buy-icon.png", alt: 'Sell' %></center>
									</span> 
									<span class="hidden-xs hidden-sm">Why Buy from Power Cozmo?</span> 
								</a> 
							</li>
							
							<li role="presentation"> 
								<a href="#why-three" aria-controls="profile" role="tab" data-toggle="tab"> 
									<span class="whyhome protect">
										<center><%= image_tag "buy-icon.png", alt: 'Sell' %></center>
									</span> 
									<span class="hidden-xs hidden-sm">How we protect you?</span> 
								</a> 
							</li>
							
							<li role="presentation"> 
								<a href="#why-four" aria-controls="profile" role="tab" data-toggle="tab"> 
									<span class="whyhome market">
										<center><%= image_tag "buy-icon.png", alt: 'Sell' %></center>
									</span> 
									<span class="hidden-xs hidden-sm">How we market your equipment?</span> 
								</a> 
							</li>
						</ul>
      
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active clearfix" id="why-one">
								<div class="SellPowerCozmo clearfix">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "commission-icon.png", alt: 'commission' %></center>
											</div>
											
											<% if @content_data['why_sell_section1'] %>
												<%= @content_data['why_sell_section1'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">100% commission based structure</div>
												<div class="commission-txt">if we don’t sell your equipment you pay Nothing.</div>
											<% end %>
											
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "easy-icon.png", alt: 'Easy, painless processes' %></center>
											</div>
											
											<% if @content_data['why_sell_section2'] %>
												<%= @content_data['why_sell_section2'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Easy, painless processes.</div>
												<div class="commission-txt">Anyone can list equipment for sale, you just need to create a free account.</div>
											<% end %>
											
											
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "global-icon.png", alt: 'Global Reach' %></center>
											</div>
											
											<% if @content_data['why_sell_section3'] %>
												<%= @content_data['why_sell_section3'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Global Reach.</div>
												<div class="commission-txt">We successfully market equipment worldwide on our filtered database promotion tools.</div>
											<% end %>
											
											
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "secure-icon.png", alt: 'Secure escrow process' %></center>
											</div>
											
											<% if @content_data['why_sell_section4'] %>
												<%= @content_data['why_sell_section4'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Secure escrow process</div>
												<div class="commission-txt">Seller does not release equipment until Power Cozmo has received full.</div>
											<% end %>
											
										</div>
									</div>
									
									<div class="text-center col-md-12 col-sm-12 col-xs-12"> 
										<%= link_to 'Read More', why_us_path, class: "btn-orange text-uppercase" %>
									</div>
								</div>
							</div>
						
							<div role="tabpanel" class="tab-pane clearfix" id="why-two">
								<div class="BuyPowerCozmo clearfix">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "limits-icon.png", alt: 'No limits' %></center>
											</div>
											
											<% if @content_data['why_buy_section1'] %>
												<%= @content_data['why_buy_section1'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">No limits</div>
												<div class="commission-txt">No limit on the number of photos and information provided by sellers.</div>
											<% end %>
											
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "safe-icon.png", alt: 'Secure and safe processes' %></center>
											</div>
											
											<% if @content_data['why_buy_section2'] %>
												<%= @content_data['why_buy_section2'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Secure and safe processes</div>
												<div class="commission-txt">Your money is held by power cozmo and only released to the seller .</div>
											<% end %>
											
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "open-icon.png", alt: 'Open, transparent negotiations' %></center>
											</div>
											
											<% if @content_data['why_buy_section3'] %>
												<%= @content_data['why_buy_section3'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Open, transparent negotiations</div>
												<div class="commission-txt">Our Automated online negotiation system puts the fairness into private sale.</div>
											<% end %>
											
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "convenient-icon.png", alt: 'Convenient services' %></center>
											</div>
											
											<% if @content_data['why_buy_section4'] %>
												<%= @content_data['why_buy_section4'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Convenient services</div>
												<div class="commission-txt">Buyers can take advantage of other power Cozmo services. inspection and other services.</div>
											<% end %>
											
										</div>
									</div>
									
									<div class="text-center col-md-12 col-sm-12 col-xs-12"> 
										<%= link_to 'Read More', why_us_path, class: "btn-orange text-uppercase" %>
									</div>
								</div>
							</div>
						
							<div role="tabpanel" class="tab-pane clearfix" id="why-three">
								<div class="protects clearfix">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "trusted-icon.png", alt: 'Trusted costumer account service' %></center>
											</div>
											
											<% if @content_data['how_we_protect_section1'] %>
												<%= @content_data['how_we_protect_section1'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Trusted costumer account service</div>
											<% end %>
											
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "party-icon.png", alt: 'Third party inspection' %></center>
											</div>
											
											<% if @content_data['how_we_protect_section2'] %>
												<%= @content_data['how_we_protect_section2'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Third party inspection</div>
											<% end %>
											
										</div>
									</div>
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "unlimited-icon.png", alt: 'Unlimited Q &amp; A' %></center>
											</div>
											
											<% if @content_data['how_we_protect_section3'] %>
												<%= @content_data['how_we_protect_section3'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Unlimited Q &amp; A</div>
											<% end %>
											
										</div>
									</div>	
									
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "videos-icon.png", alt: 'Unlimited photos &amp; videos' %></center>
											</div>
											
											<% if @content_data['how_we_protect_section4'] %>
												<%= @content_data['how_we_protect_section4'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Unlimited photos &amp; videos</div>
											<% end %>
											
										</div>
									</div>
									<div class="text-center col-md-12 col-sm-12 col-xs-12">  
										<%= link_to 'Read More', why_us_path, class: "btn-orange text-uppercase" %>
									</div>
								</div>
							</div>
						
							<div role="tabpanel" class="tab-pane clearfix" id="why-four">
								<div class="markets clearfix">
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "listings-icon.png", alt: 'Detailed listings on Powercozmo' %></center>
											</div>	

											<% if @content_data['how_we_market_section1'] %>
												<%= @content_data['how_we_market_section1'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Detailed listings on Powercozmo</div>
											<% end %>
											</div>	
										</div>
									</div>
							
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "email-icon.png", alt: 'Emails shot &amp; Direct mail' %></center>
											</div>
											
											<% if @content_data['how_we_market_section2'] %>
												<%= @content_data['how_we_market_section2'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Emails shot &amp; Direct mail</div>
											<% end %>
											
										</div>
									</div>
							
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "print-icon.png", alt: 'Print &amp; Online Advertising' %></center>
											</div>
											
											<% if @content_data['how_we_market_section3'] %>
												<%= @content_data['how_we_market_section3'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Print &amp; Online Advertising</div>
											<% end %>
											
										</div>
									</div>
							
									<div class="col-md-3 col-sm-6 col-xs-12">
										<div class="commissionb  text-center">
											<div class="marginB15">
												<center><%= image_tag "brochures-icon.png", alt: 'Full-color Brochures' %></center>
											</div>
										
											<% if @content_data['how_we_market_section4'] %>
												<%= @content_data['how_we_market_section4'].html_safe %>
											<% else %>
												<div class="commission-title marginB10">Full-color Brochures</div>
											<% end %>
										
										</div>
									</div>
						
								<div class="text-center col-md-12 col-sm-12 col-xs-12">
									<%= link_to 'Read More', why_us_path, class: "btn-orange text-uppercase" %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Latest Posted Equipment -->
<section class="clearfix latestpostedhome">
	<div class="container">
		<h2 class="text-center">Latest Posted Equipment <i></i></h2>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#LatestAds" aria-controls="home" role="tab" data-toggle="tab">Latest Ads</a></li>
			<li role="presentation"><a href="#PopularAds" aria-controls="profile" role="tab" data-toggle="tab">Popular Ads</a></li>
			<li role="presentation"><a href="#RandomAds" aria-controls="messages" role="tab" data-toggle="tab">Random Ads</a></li>
		</ul>
		
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="LatestAds">
				<div class="row">
					
<% @latest_ads.each do |ad| %>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="postedbox clearfix">
							<div class="clearfix row marginB10">
								<div class="col-md-5 col-sm-5 col-xs-5">
									<a href="<%= equipment_details_path(ad) %>">
										<% if ad.try(:images).try(:first).try(:image) %>
											<%= image_tag ad.try(:images).try(:first).try(:image).try(:card_image).try(:url), class: 'img-responsive' %>
										<% else %>
											<%= image_tag "equipment-noimage.png", class: 'img-responsive' %>
										<% end %>
									</a>
								</div>
								<div class="col-md-7 col-sm-7 col-xs-7 leftpading">
									<div class="latest-title marginB10">
										<a href="<%= equipment_details_path(ad) %>"><%= "#{truncate(ad.name, length: 20)} - #{ad.identifier}" %></a>
									</div>
									<div class="latest-txt marginB10"><%= truncate(ad.description, length: 50) %></div>
									<div class="latest-txt marginB10"><span>Price :</span> <%= number_to_currency(ad.price, unit: raw(ad.currency)) %></div>
									<div class="latest-txt marginB10">
										<% if ad.equipment_type == "equipment"%>
											<span>Manufacturing : </span> <%= ad.manufacture_year%>
										<% else %>
											<span>Power Plant Age : </span> <%= ad.power_plant_age%><
										<% end %>
									</div>
									<div class="latest-txt marginB10">
										<% if ad.equipment_type == "equipment"%>
											<span>Brand : </span><%= truncate(ad.try(:manufacturer).try(:name),length: 15)%>
										<% else %>
											<span>Turbine Brand : </span><%= truncate(ad.turbine_manufacturer_name, length: 12)%>
										<% end %>
									</div>
								</div>
							</div>
						
							<div class="postwrap clearfix">
								<div class="col-md-7 col-sm-6 col-xs-6 rating-post">
									Rating : 							
									<img src="<%= ad.try(:rating).to_i >= 1 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="1">
									<img src="<%= ad.try(:rating).to_i >= 2 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="2">
									<img src="<%= ad.try(:rating).to_i >= 3 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="3">
									<img src="<%= ad.try(:rating).to_i >= 4 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="4">
									<img src="<%= ad.try(:rating).to_i >= 5 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="5">
								</div>
								<div class="col-md-5 col-sm-6 col-xs-6">
									<%= link_to 'MORE INFO', equipment_details_path(ad), class: "btn-orange" %>
								</div>
							</div>
						</div>
					</div>				
<% end %>		
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="PopularAds">
				<div class="row">
					
<% @popular_ads.each do |ad| %>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="postedbox clearfix">
							<div class="clearfix row marginB10">
								<div class="col-md-5 col-sm-5 col-xs-5">
									<a href="<%= equipment_details_path(ad) %>">
										<% if ad.try(:images).try(:first).try(:image) %>
											<%= image_tag ad.try(:images).try(:first).try(:image).try(:card_image).try(:url), class: 'img-responsive' %>
										<% else %>
											<%= image_tag "equipment-noimage.png", class: 'img-responsive' %>
										<% end %>
									</a>
								</div>
								<div class="col-md-7 col-sm-7 col-xs-7 leftpading">
									<div class="latest-title marginB10">
										<a href="<%= equipment_details_path(ad) %>"><%= "#{truncate(ad.name, length: 20)} - #{ad.identifier}" %></a>
									</div>
									<div class="latest-txt marginB10"><%= truncate(ad.description, length: 50) %></div>
									<div class="latest-txt marginB10"><span>Price :</span> <%= number_to_currency(ad.price, unit: raw(ad.currency)) %></div>
									<div class="latest-txt marginB10">
										<% if ad.equipment_type == "equipment"%>
											<span>Manufacturing : </span> <%= ad.manufacture_year%>
										<% else %>
											<span>Power Plant Age : </span> <%= ad.power_plant_age%><
										<% end %>
									</div>
									<div class="latest-txt marginB10">
										<% if ad.equipment_type == "equipment"%>
											<span>Brand : </span><%= truncate(ad.try(:manufacturer).try(:name),length: 15)%>
										<% else %>
											<span>Turbine Brand : </span><%= truncate(ad.turbine_manufacturer_name, length: 12)%>
										<% end %>
									</div>
								</div>
							</div>
						
							<div class="postwrap clearfix">
								<div class="col-md-7 col-sm-6 col-xs-6 rating-post">
									Rating : 							
									<img src="<%= ad.try(:rating).to_i >= 1 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="1">
									<img src="<%= ad.try(:rating).to_i >= 2 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="2">
									<img src="<%= ad.try(:rating).to_i >= 3 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="3">
									<img src="<%= ad.try(:rating).to_i >= 4 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="4">
									<img src="<%= ad.try(:rating).to_i >= 5 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="5">
								</div>
								<div class="col-md-5 col-sm-6 col-xs-6">
									<%= link_to 'MORE INFO', equipment_details_path(ad), class: "btn-orange" %>
								</div>
							</div>
						</div>
					</div>				
<% end %>		
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="RandomAds">
				<div class="row">
					
<% @random_ads.each do |ad| %>
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="postedbox clearfix">
							<div class="clearfix row marginB10">
								<div class="col-md-5 col-sm-5 col-xs-5">
									<a href="<%= equipment_details_path(ad) %>">
										<% if ad.try(:images).try(:first).try(:image) %>
											<%= image_tag ad.try(:images).try(:first).try(:image).try(:card_image).try(:url), class: 'img-responsive' %>
										<% else %>
											<%= image_tag "equipment-noimage.png", class: 'img-responsive' %>
										<% end %>
									</a>
								</div>
								<div class="col-md-7 col-sm-7 col-xs-7 leftpading">
									<div class="latest-title marginB10">
										<a href="<%= equipment_details_path(ad) %>"><%= "#{truncate(ad.name, length: 20)} - #{ad.identifier}" %></a>
									</div>
									<div class="latest-txt marginB10"><%= truncate(ad.description, length: 50) %></div>
									<div class="latest-txt marginB10"><span>Price :</span> <%= number_to_currency(ad.price, unit: raw(ad.currency)) %></div>
									<div class="latest-txt marginB10">
										<% if ad.equipment_type == "equipment"%>
											<span>Manufacturing : </span> <%= ad.manufacture_year%>
										<% else %>
											<span>Power Plant Age : </span> <%= ad.power_plant_age%><
										<% end %>
									</div>
									<div class="latest-txt marginB10">
										<% if ad.equipment_type == "equipment"%>
											<span>Brand : </span><%= truncate(ad.try(:manufacturer).try(:name),length: 15)%>
										<% else %>
											<span>Turbine Brand : </span><%= truncate(ad.turbine_manufacturer_name, length: 12)%>
										<% end %>
									</div>
								</div>
							</div>
						
							<div class="postwrap clearfix">
								<div class="col-md-7 col-sm-6 col-xs-6 rating-post">
									Rating : 							
									<img src="<%= ad.try(:rating).to_i >= 1 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="1">
									<img src="<%= ad.try(:rating).to_i >= 2 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="2">
									<img src="<%= ad.try(:rating).to_i >= 3 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="3">
									<img src="<%= ad.try(:rating).to_i >= 4 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="4">
									<img src="<%= ad.try(:rating).to_i >= 5 ? '/assets/orange-star.png' : '/assets/grey-star.png' %>" alt="5">
								</div>
								<div class="col-md-5 col-sm-6 col-xs-6">
									<%= link_to 'MORE INFO', equipment_details_path(ad), class: "btn-orange" %>
								</div>
							</div>
						</div>
					</div>				
<% end %>		
				</div>
			</div>
			
		</div>
	</div>
</section>

<!-- Get Started -->
<section class="clearfix getstarthome">
	<div class="container text-center">
		<div class="edit-box"><%= image_tag "edit-icon.png", alt: 'Edit' %></div>
		
		<% if @content_data['get_started_text'] %>
			<%= @content_data['get_started_text'].html_safe %>
		<% else %>
			<div class="get-home-title">Are you ready for listing your product with "<span>PowerCozmo</span>"?</div>
			<div class="get-home-txt">Register now to Power Cozmo and get in touch with thousands of buyers all over the world;  buy &amp; trade your used equipment or plants safely here.</div>
		<% end %>
		
		<%= link_to "Get Started", new_user_registration_path, class: "default-btn text-uppercase" %> 
	</div>
</section>


<!--How we Work start -->
<section class="clearfix howweworkwrap" id="how_we_work">
	<div class="container">
		<h2>How we Work? <i></i></h2>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#how-one" aria-controls="home" role="tab" data-toggle="tab">Sell</a></li>
			<li role="presentation"><a href="#how-two" aria-controls="profile" role="tab" data-toggle="tab">Buy</a></li>
			<li role="presentation"><a href="#how-three" aria-controls="messages" role="tab" data-toggle="tab">Pay</a></li>
			<li role="presentation"><a href="#how-four" aria-controls="messages" role="tab" data-toggle="tab">Commission</a></li>
		</ul>
		
		<div class="tab-content marginB30">
			<div role="tabpanel" class="tab-pane active" id="how-one">

				<ul class="hwitwk-process">
					<li>
						<div class="sprites hwitwk-ico1 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_sell_section1'] %>
							<%= @content_data['how_we_work_tabs_sell_section1'].html_safe %>
						<% else %>
							<h4>Register on <br>
							Power Cozmo</h4>
							<p>You simply register in Power Cozmo, Then Go to your awesome dashboard.</p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico2 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_sell_section2'] %>
							<%= @content_data['how_we_work_tabs_sell_section2'].html_safe %>
						<% else %>
							<h4>Start Receiving <br>
							questions &amp; offers</h4>
							<p>When an interested party see your Item. He may at this time ask any questions. </p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico3 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_sell_section3'] %>
							<%= @content_data['how_we_work_tabs_sell_section3'].html_safe %>
						<% else %>
							<h4>Start Finalizing the deal <br>
							-Signing agreements</h4>
							<p>When the Potential Buyer is satisfied and the price is agreed, a seller/buyer. </p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico4 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_sell_section4'] %>
							<%= @content_data['how_we_work_tabs_sell_section4'].html_safe %>
						<% else %>
							<h4>Prepare item for <br>
							shipping</h4>
							<p>While the payment is clearing the bank you will be sent the seller/buyer.</p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico5 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_sell_section5'] %>
							<%= @content_data['how_we_work_tabs_sell_section5'].html_safe %>
						<% else %>
							<h4>Get your money <br>
							in your account.</h4>
							<p>Within 24 hours after the item is received by the buyer you will be sent pay.</p>
						<% end %>
						
					</li>
				</ul>
    
			</div>
  
			<div role="tabpanel" class="tab-pane" id="how-two">
    
				<ul class="hwitwk-process">
					<li>
						<div class="sprites hwitwk-ico6 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_buy_section1'] %>
							<%= @content_data['how_we_work_tabs_buy_section1'].html_safe %>
						<% else %>
							<h4>Search &amp; find <br>
							your equipment</h4>
							<p>First find the plant or the equipment you are interested in on our web site. </p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico7 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_buy_section2'] %>
							<%= @content_data['how_we_work_tabs_buy_section2'].html_safe %>
						<% else %>
							<h4>Make an <br>
							offer</h4>
							<p>Once you get all your questions answered click in "Make an offer button". </p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico8 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_buy_section3'] %>
							<%= @content_data['how_we_work_tabs_buy_section3'].html_safe %>
						<% else %>
							<h4>Start Finalizing the <br>
							deal&ndash;Sign agreements.</h4>
							<p>When an offer is accepted and the price agreed, a seller/buyer agreement. </p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico9 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_buy_section4'] %>
							<%= @content_data['how_we_work_tabs_buy_section4'].html_safe %>
						<% else %>
							<h4>Prepare item <br>
							for shipping</h4>
							<p>While the payment is clearing the bank you will be sent the seller/buyer contract. </p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico10 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_buy_section5'] %>
							<%= @content_data['how_we_work_tabs_buy_section5'].html_safe %>
						<% else %>
							<h4>Get your shipping doc. <br>
							and receive the Item.</h4>
							<p>Power Cozmo will send you shipping documents within materials expected arrival. </p>
						<% end %>
						
					</li>
				</ul>
    
			</div>
  
			<div role="tabpanel" class="tab-pane text-center" id="how-three">
				<ul class="hwitwk-process">
					<li>
						<div class="sprites hwitwk-ico11 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_pay_section1'] %>
							<%= @content_data['how_we_work_tabs_pay_section1'].html_safe %>
						<% else %>
							<h4>T\T</h4>
							<p>T\T cash transfer to our Trusted costumer account.</p>
						<% end %>
						
					</li>
					<li>
						<div class="sprites hwitwk-ico12 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_pay_section2'] %>
							<%= @content_data['how_we_work_tabs_pay_section2'].html_safe %>
						<% else %>
							<h4>L\C</h4>
							<p>Transferable Irrevocable Confirmed L\C for big projects.</p>
						<% end %>
						
					</li>
				</ul>
			</div>
  
			<div role="tabpanel" class="tab-pane text-center" id="how-four">
    
				<ul class="hwitwk-process">
					<li>
						<div class="sprites hwitwk-ico13 MB20"></div>
						
						<% if @content_data['how_we_work_tabs_commission_heading_text'] %>
							<%= @content_data['how_we_work_tabs_commission_heading_text'].html_safe %>
						<% else %>
							<h4>Commission rate</h4>
							<!--<p>The commission due from you and payable by you to us shall be calculated by </p> -->
						<% end %>
						
					</li>
				</ul>
    
				<div class="clearfix">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="commission-rate clearfix">
							
							<% if @content_data['how_we_work_tabs_commission_section1'] %>
								<%= @content_data['how_we_work_tabs_commission_section1'].html_safe %>
							<% else %>
								<div class="commission-rate-l">10%</div>
								<div class="commission-rate-r">$0 to $249,999</div>
							<% end %>
							
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="commission-rate clearfix">
							
							<% if @content_data['how_we_work_tabs_commission_section2'] %>
								<%= @content_data['how_we_work_tabs_commission_section2'].html_safe %>
							<% else %>
								<div class="commission-rate-l">8%</div>
								<div class="commission-rate-r">$250,000 to $499,999</div>
							<% end %>
							
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="commission-rate clearfix">
							
							<% if @content_data['how_we_work_tabs_commission_section3'] %>
								<%= @content_data['how_we_work_tabs_commission_section3'].html_safe %>
							<% else %>
								<div class="commission-rate-l">6%</div>
								<div class="commission-rate-r">$500,000 to $1,000,000</div>
							<% end %>
							
						</div>
					</div>
					
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="commission-rate clearfix">
							
							<% if @content_data['how_we_work_tabs_commission_section4'] %>
								<%= @content_data['how_we_work_tabs_commission_section4'].html_safe %>
							<% else %>
								<div class="commission-rate-l">20%</div>
								<div class="commission-rate-r">Discount for Exclusive Sellers</div>
							<% end %>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center"><%= link_to 'Read More', how_we_work_path, class: "btn-orange text-uppercase" %></div>
	</div>
</section>


<!-- Categories Start -->

<% if @categories.present? %>

<section class="categoriewrap clearfix" id="categories">
	<div class="container">
		<h2 class="text-center">Categories <i></i></h2>
		<div class="cate-txt text-center">
				
			<% if @content_data['categories_text'] %>
				<%= @content_data['categories_text'].html_safe %>
			<% else %>
				We are not only brokers we are service provider select your machine and find out what services we can do for you.
			<% end %>

		</div>
		<div class="slider Categories owl-carousel" id="pr-category">
						
<% @categories.each do |category| %>			
			
			<div class="categoriebox text-center text-uppercase item"> 
				<a href="<%= listing_filter_path(filter: {category_id: category.id}) %>"> 
					<span class="cate-icon">
						<center>
							<% if category.image.present? && category.image.image.present?%>
								<%= image_tag category.image.image.home_blog.url, class: 'img-responsive', style: 'width: 100px;' %>
							<% else %>
								<%= image_tag "category-noimage.png", class: 'img-responsive', style: 'width: 100px;' %>
							<% end %>
						</center>
					</span>
					<span><%= category.name %></span> 
				</a>
			</div>
			
<% end %>	
			
		</div>
		
		<div class="clearfix text-center">
			<%=link_to 'View All Categories', listings_path, class: "btn-orange" %>
		</div>
	</div>
</section>

<% end %>

<script type="text/javascript">
	$(document).ready(function($) {
				
		// Welcome Js
		$('.home-power .nav li a, .latestpostedhome .nav-tabs > li > a, .howweworkwrap .nav-tabs > li > a').hover(function (e) {
			e.preventDefault()
			$(this).tab('show');
		});

		$('.home-power .nav li a, .latestpostedhome .nav-tabs > li > a, .howweworkwrap .nav-tabs > li > a').click(function (e) {
			return true;
		});
	
		$("#pr-category").owlCarousel({
			loop:true,
			margin:0,
			nav:true,
			autoplay:true,
			autoplayHoverPause:true,
			items : 4,
			responsiveClass:true,
			responsive:{
				0:{
					items:1
				},
				700:{
					items:2
				},
				1000:{
					items:4
				}
			}
		});

	  /* custom on click and onload event for anchor tag navigation.
		 To prevent browsers default navaigation for anchor field,
		 mark the anchor tag with class 'anchor', and id as '_foo' to
		 navigate to url like www.yoururl.com/#foo
	  */
	  var anchor = window.location.hash.replace('#', '')
	  var ele = $('#_' + anchor);
	  var tab = $("li a[href='#"+anchor+"']").length;
	  if(ele.length > 0)
		jump_to(ele);
	  else if(tab > 0){
		setTimeout(function() {
		  jump_to_tab(anchor);
		}, 1);
	  }

	  $('.anchor').on('click', function(event){	  
		id = $(this).attr('href').split('#').pop();
		element = $('#_'+id);
			
		tab_present = $("li a[href='#"+id+"']").length;
		if(element.length > 0){   
		  jump_to(element);
		}
		else if(tab_present > 0)
		{
			jump_to_tab(id);
			event.preventDefault();
		}
	  })
  
	  function jump_to(elem){
		if(elem) {
		  var offset = elem.offset();
		  var scrollto = offset.top - $('.navbar').outerHeight();
		  $('html, body').animate({scrollTop:scrollto}, 0);
		}
	  }
	  
	  function jump_to_tab(id){
		// for how-we-work tab navigation
		if(id && (id.indexOf('how') >= 0)){
			change_to = $("#how_we_work li a[href='#"+id+"']");
			change_to.removeClass('active'); // will remove active class from 'a' only
			change_to.addClass('active'); // will add active class to both 'li' and 'a'
			change_to.tab('show');
		  
			var offset = $('#how_we_work').offset();
			var scrollto = offset.top - $('.navbar').outerHeight();
			$('html, body').animate({scrollTop:scrollto}, 0);

		}
		// for why-us tab navigation
		else if(id && (id.indexOf('why') >= 0)){		
			change_to = $("#why_us li a[href='#"+id+"']");
			change_to.removeClass('active'); // will remove active class from 'a' only
			change_to.addClass('active'); // will add active class to both 'li' and 'a'
			change_to.tab('show');
		  
			var offset = $('#why_us').offset();
			var scrollto = offset.top - $('.navbar').outerHeight();
			$('html, body').animate({scrollTop:scrollto}, 0);
		}
	  }
})
</script>
