<% if @system_email.present? && @system_email.try(:content).present? %>
	<%= @system_email.content.to_s.gsub("::REQUESTER_NAME::",@buying_request.name.to_s).gsub("::REQUESTER_EMAIL::",@buying_request.email.to_s).gsub("::BUYING_REQUEST_NAME::",@buying_request.title.to_s).gsub("::REQUESTER_COUNTRY::",@buying_request.country.try(:name).to_s).gsub("::DATE_OF_EXPIERY::",format_date(@buying_request.expiration_date)).html_safe %>
<% else %>
	<p>HELLO <strong><%= @buying_request.name.to_s %></strong></p>

	<p>Your buying request <strong><%= @buying_request.title.to_s %></strong>, Expired and it is not active now. if you still looking for proposal for your request please reply to this Email with your new expiry date to activate your buying request. Please print this page for your record.</p>

	<p>Name: <strong><%= @buying_request.name.to_s %></strong></p>

	<p>E-mail: <strong><%= @buying_request.email.to_s %></strong></p>

	<p>Country: <strong><%= @buying_request.country.try(:name).to_s %></strong></p>

	<p>Buying request name:&nbsp;<strong><%= @buying_request.title.to_s %></strong></p>

	<p>Expiration date: <strong><%= format_date(@buying_request.expiration_date) %></strong></p>

	<p>&nbsp;</p>

	<p>Best Regards</p>

	<p>Power Cozmo Team</p>
<% end %>
