<% if conversations.present? %>
	<% conversations.each do |conversation| %>
		<li>
			<% sender = conversation.receipts.sentbox.where.not("receiver_id = ? AND receiver_type = ?",current_user.id,current_user.class.name).last.try(:receiver) %>
			<%= link_to(buyer_message_path(conversation)) do %>
				<div class="pull-left">
					<% if sender.try(:image).present? %>
						<%= image_tag(sender.try(:image).try(:image).try(:thumb).try(:url),class: "img-circle",alt: "") %>
					<% else %>
						<%= image_tag("profile-noimage.jpg",class: "img-circle",alt: "") %>
					<% end %>
				</div>
				<h4><%= sender.try(:name).to_s %> <small><i class="fa fa-clock-o"></i><%= time_ago_in_words(conversation.updated_at) %></small> </h4>
				<p><%= conversation.subject %></p>
			<% end %>
    </li>        
	<% end %>
<% else %>
	<li>No messages</li>
<% end %>
