<% if @question.equipment.availble_for < Date.today %>
  <% unless @question.response.present? %>
    <div class="alert alert-danger">
      <div>You can't respond to this enquiry as this equipment is expired.</div>
    </div>
  <% end %>
<% end %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Equipment Question List Detail </h1>
      <ol class="breadcrumb">
        <li><a href="<%= buyer_dashboard_path %>">Home</a></li>
        <li class="active">Equipment Question List Detail</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content new-msg-content">
        <!-- /.row -->
        <div class="row">
          <div class="col-lg-12 msg-info-area">
            <div class="new-msg-form-box">
           	  <div class="detail-list-row">
              	<div class="detail-list-l">Owner Name</div>
                  <div class="detail-list-r"><%=@question.equipment.owner_name%></div>
                  <div class="clearfix"></div>
                </div>
                <div class="detail-list-row">
                	<div class="detail-list-l">Location</div>
                    <div class="detail-list-r"><%=@question.try(:country).try(:name)%></div>
                    <div class="clearfix"></div>
                </div>
                <div class="detail-list-row">
                	<div class="detail-list-l">Message</div>
                    <div class="detail-list-r"><%=@question.message%></div>
                    <div class="clearfix"></div>
                </div>
                <div class="detail-list-row">
                	<div class="detail-list-l">Date</div>
                    <div class="detail-list-r"><%=format_time(@question.created_at)%><!-- 10/03/2016 --></div>
                    <div class="clearfix"></div>
                </div>
             </div>
          </div>
        </div>
      <!-- /.row -->      
      <%= render partial: "enquiry_responses", locals: {enquiry: @question} %>

    </section>
  </div>
    <!-- /.content -->
