<% if @system_email.present? && @system_email.try(:content).present? %>
	<%= @system_email.content.to_s.gsub("::ADMIN_USERNAME::",@admin_user.name.to_s).gsub("::SELLER_NAME::",@user.name.to_s).gsub("::BUYER_NAME::",@enquiry.name.to_s).gsub("::ITEM_NAME::",@equipment.name.to_s).gsub("::USER_EMAIL::",@user.email.to_s).gsub("::EQIPMENT_SERIALNUMBER::",@equipment.identifier.to_s.upcase).gsub("::EQUIPMENT_NAME::",@equipment.name.to_s).gsub("::EQUIPMENT_PRICE::",number_to_currency(@equipment.price, unit: raw(@equipment.currency))).gsub("::SELLER_RESPONCE_MEASSGE_BODY::",@enquiry_response.try(:message).to_s).html_safe %>
<% else %>
	<p>HELLO <strong><%= @admin_user.name %></strong>!</p>

	<p><strong><%= @user.name %></strong> has answered to <strong><%= @enquiry.name %></strong> enquiry for <strong><%= @equipment.name.to_s %></strong> SN.&nbsp;<strong><%= @equipment.identifier.to_s.upcase %></strong>, Please check the content of message and make sure no contacts details mentioned on it, then Forward immediately to the potential buyer, please follow up with potential buyer in case of not getting answer within 24 hours.</p>

	<p>Name: <strong><%= @user.name %></strong></p>

	<p>User ID: <strong><%= @user.email %></strong></p>

	<p>Equipment name:&nbsp;<strong><%= @equipment.name.to_s %></strong></p>

	<p>SN:&nbsp;<strong><%= @equipment.identifier.to_s.upcase %></strong></p>

	<p>Price: <strong><%= number_to_currency(@equipment.price, unit: raw(@equipment.currency)) %></strong></p>

	<p>Seller Response:</p>

	<p><%= @enquiry_response.try(:message).to_s.html_safe %></p>

	<p>&nbsp;</p>

	<p>Best Regards</p>

	<p>Power Cozmo Team</p>
<% end %>