<p>Hello <strong><%= @user_data.profile.first_name + ' ' + @user_data.profile.last_name %></strong></p>

<p>From your recent serch you may interest in below equipments:<p>

<table cellspacing="0" cellpadding="0" style="width: 100%; border: 1px solid #e3e6e8; font-size:14px; color: #666666;">
	
	<thead>
		<tr>
			<th style="padding: 5px 5px 15px 5px; text-align:left;">Identifier</th>	
			<th style="padding: 5px 5px 15px 5px; text-align:left;">Name</th>	
			<th style="padding: 5px 5px 15px 5px; text-align:left;">Description</th>	
			<th style="padding: 5px 5px 15px 5px; text-align:center;">Image</th>	
		</tr>
	</thead>
	
	<tbody>
		
		<% @equipment_result.each_with_index do |equipment,index| %>
		
			<tr>
				<td style="padding: 5px 5px 15px 5px;"><%= link_to equipment.identifier, equipment_details_url(equipment), style: 'color:#666666;' %></td>	
				<td style="padding: 5px 5px 15px 5px;"><%= link_to equipment.name, equipment_details_url(equipment), style: 'color:#666666;' %></td>	
				<td style="padding: 5px 5px 15px 5px;"><%=truncate(equipment.description, :length => 50) %></td>	
				<td style="padding: 5px 5px 15px 5px; text-align:center;">
					<% if equipment.images.present? %>
					  <%= image_tag(equipment.images.first.try(:image), width: '50', height: '50', alt: equipment.name) %>
					<% end %>
				</td>
			</tr>
			
		<% end %>
	</tbody>
	
</table>
		
<p>&nbsp;</p>

<p>Best Regards</p>

<p>Power Cozmo Team .</p>
