<p>Hello <strong><%= @user_data.profile.first_name + ' ' + @user_data.profile.last_name %></strong></p>

<p>From your recent serch you may interest in below equipments:<p>

<table cellspacing="0" cellpadding="0" style="width: 100%;">
	
	<thead>
		<tr>
			<th>Identifier</th>	
			<th>Name</th>	
			<th>Description</th>	
			<th align="center">Image</th>	
		</tr>
	</thead>
	
	<tbody>
		
		<% @equipment_result.each_with_index do |equipment,index| %>
		
			<tr>
				<td><%= link_to equipment.identifier, equipment_details_url(equipment) %></td>	
				<td><%= link_to equipment.name, equipment_details_url(equipment) %></td>	
				<td><%=truncate(equipment.description, :length => 50) %></td>	
				<td align="center">
					<% if equipment.images.present? %>
					  <%= image_tag(equipment.images.first.try(:image), width: '50', height: '50', alt: equipment.name) %>
					<% end %>
				</td>
			</tr>
			
		<% end %>
	</tbody>
	
</table>
		
<p>&nbsp;</p>

<p>Best Regards</p>

<p>Power Cozmo Team .</p>
