<!-- /.row -->
<div class="row">
  <%= form_tag(remove_seller_messages_path, method: :post, id: 'remove_seller_messages_form')  do %>
    <div class="col-lg-12 msg-info-area">
      <div class="lstg-btn">
      <%= link_to 'Delete','javascript:;',:class=>'btn-delete',:id=>'delete_seller_message', style:'display:none' %>
      </div>
      <div class="box box-info dsh-table-details">
      <!-- /.box-header -->
      <div class="box-body">
      <% if conversations.present? %>
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th width="6%">
                  <%= check_box_tag "seller_messages_all",'all',false,:class=>"input-checkbox group_name hide-ck",:id=>"seller_messages_all" %>
                </th>
                <th width="3%">&nbsp;</th>
                <th width="20%"><%= params[:action]=='inbox' ? 'From' : 'To' %></th>
                <th>Subject</th>
                <th width="20%" style="text-align:center;">Date &amp; time</th>
              </tr>
            </thead>
            <tbody>
              <% conversations.each do |conversation| %>
                <tr style="<%='font-weight: bold;' unless conversation.is_read?(current_user) %>">
                  <td>
                  <%= check_box_tag "seller_message_ids[]",conversation.id, false , class: "input-checkbox segment_name program_ids_active" , id: "seller_message_#{conversation.id}>" %>
                  </td>
                  <th><%= has_attachment?(conversation) ? "<i class='fa fa-paperclip'></i>".html_safe : "&nbsp".html_safe %></th>
                  <td><%= params[:action]=='inbox' ? last_message_from(conversation,current_user) : last_message_to(conversation,current_user) %></td>
                  <td><%= link_to conversation.subject, seller_message_path(conversation.id) %></td>
                  <td align="center"><%= message_time_format(conversation.updated_at) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive --> 
        <% else %>
          <% if params[:action]=='inbox' %>
            <p style="text-align:center;margin-top: 8px;font-size:16px;">No Messages Received Yet</p>
          <% else %>
            <p style="text-align:center;margin-top: 8px;font-size:16px;">No Messages Sent Yet</p>
          <% end %>
        <% end %>
      </div>
      <!-- /.box-body -->
      <!-- /.box-footer --> 
    </div>
  <% end %>
  <%= paginate @conversations, :theme => 'listing_page_theme' %>
  </div>
</div>
<!-- /.row --> 