<%= form_for :conversation, url: :seller_messages , :html => {id: "seller_message_form", multipart: true} do |f| %>

	<div class="col-sm-12 col-md-12">	
		<div class="panel panel-default panel-hovered panel-stacked mb30">
			<div class="panel-body">									
											
				<div class="form-group">
					<label class="col-md-12 control-label">To<sup>*</sup> :</label>
					<div class="col-md-12">
						<% params[:conversation] ||= {} %>
						<%= f.text_field :recipients, class: 'form-control autocomplete', id: "mailto", placeholder: 'Type user name or email', value: params[:conversation][:recipients], disabled: true, readonly: true, value: "info@powercozmo.com" %>
						 <% if defined? @recipients %>          
							<%= "<div class='error-msg'>To can't be blank</div>".html_safe if @recipients.blank? %>
						 <% end %>
					</div>
				</div>
				
				<div class="clearfix"></div>
				
				<div class="form-group mt20">
					<label class="col-md-12 control-label">Subject<sup>*</sup> :</label>
					<div class="col-md-12">
						<%= f.text_field :subject, class: 'form-control', id: "subject", placeholder: "Enter Subject", value: params[:conversation][:subject] %>
						<%= form_error_msg_for(@receipt,'notification.subject', 'Subject') if @receipt.present? %>
					</div>
				</div>	
				
				<div class="clearfix"></div>
				
				<div class="form-group mt20">
					<label class="col-md-12 control-label">Message<sup>*</sup> :</label>
					<div class="col-md-12">
						<%= f.bootsy_area :body, class: 'form-control bootsy-height', id: "message" , placeholder: 'Enter Message', value: params[:conversation][:body], editor_options: { image: false } %>
						<%= form_error_msg_for(@receipt,'notification.body', 'Message') if @receipt.present? %>    
					</div>
				</div>	
				
				<div class="clearfix"></div>
				
				<div class="form-group mt20">
					<div class="col-md-12">
						<div class="file-upload message_file">                        
							<%= f.file_field :attachment %>
							<span class="label label-primary attch-btn"><i class="fa fa-paperclip"></i> Attachment</span>
							<span class="max-limit">Max.32MB</span>
							<% if defined? @attachment_size %>          
								<%= "<div class='error-msg'>The attached file size is #{@attachment_size.to_f}MB but it should not exceed 32MB</div>".html_safe if @attachment_size.to_f > 32 %>
							<% end %>
						</div>
					</div>
				</div>	
				
				<div class="clearfix mt20 right">
						  						
					<button onclick='history.back()' class="btn btn-primary mr5">Back</button>
					
					<%= f.button :submit, class: "btn btn-success mr5 sent-mail-btn" do %>
					  Send Message
					<% end %>
				   
				   <%= f.submit 'Submit', :class => 'submit_message_form hide' %>
				</div>
					
			
			</div>	
		</div>	
	</div>	

<% end %>

<%= javascript_include_tag "seller/messages" %>
