<div class="page page-ui-tables page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li class="active">Message Detail</li>	
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">Message Detail</h4>
					</div>
				</div>
			</div>
		</div> <!-- #end row -->
		
<% @conversation.messages.each_with_index do |message,index| %>
	<% @message = message %>

	<% if index > 0 %>
		<div class="col-sm-12 col-md-12 mb10 text-bold">Reply Message</div>
	<% end %>
		<div class="col-sm-12 col-md-12">	
			<div class="panel panel-default panel-hovered panel-stacked mb30">
				<div class="panel-body">									
												
					<div class="form-group">
						<label class="col-md-4 control-label text-bold">From</label>
						<div class="col-md-8">
							<%= @message.receipts.try(:sentbox).try(:first).try(:receiver).try(:name) %>
						</div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">To</label>
						<div class="col-md-8">
							<%= @message.receipts.try(:inbox).try(:first).try(:receiver).try(:name) %>                
						</div>
					</div>	
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">Subject</label>
						<div class="col-md-8"><%= @message.subject %></div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">Message</label>
						<div class="col-md-8"><%= @message.body.to_s.html_safe  %></div>
					</div>
					
					<div class="clearfix"></div>
					
					<div class="form-group mt20">
						<label class="col-md-4 control-label text-bold">Date &amp; time</label>
						<div class="col-md-8"><%= message_time_format(@message.created_at) %></div>
					</div>
					
					<% if @message.attachment? %>
					
						<div class="clearfix"></div>
						
						<div class="form-group mt20">
							<label class="col-md-4 control-label text-bold">Attachment</label>
							<div class="col-md-8">
								<%= link_to "<i class='fa fa-paperclip'></i> #{@message.attachment.try(:url).to_s.split('/').last}".html_safe, @message.attachment.url,target: '_blank'  %>
							</div>
						</div>
	   
					<% end %> 
				
				</div>	
			</div>	
		</div>	
		<div class="clearfix"></div>

<% end %>
		
<% if @receipt.present? %>
		
	<%= form_for :message, url: reply_seller_message_path(@conversation) , :html => {id: "reply_seller_message_form", multipart: true} do |f| %>
		<% params[:message] ||= {} %>
		<%= f.hidden_field :subject, value: @message.subject %>
		<%= hidden_field_tag :message_id, @message.id %>		
		
			<div class="col-sm-12 col-md-12">	
				<div class="panel panel-default panel-hovered panel-stacked mb30">
					<div class="panel-body">									
													
						<div class="form-group">
							<label class="col-md-12 control-label text-bold mb10">Reply Message<sup>*</sup> :</label>
							<div class="col-md-12">
								<%= f.bootsy_area :body, class: 'form-control bootsy-height', id: "message" , placeholder: 'Enter Message', value: params[:message][:body], editor_options: { image: false } %>
								<%= form_error_msg_for(@receipt,'notification.body', 'Message') if @receipt.present? %>   
							</div>
						</div>
						
						<div class="clearfix"></div>
					
						<div class="form-group mt20">
							<div class="col-md-12">
								<div class="file-upload message_file">            
									<%= f.file_field :attachment %>
									<span class="label label-primary"><i class="fa fa-paperclip"></i> Attachment</span>
									<span class="max-limit">Max.32MB</span>
									<% if defined? @attachment_size %>          
										<%= "<div class='error-msg'>The attached file size is #{@attachment_size.to_f}MB but it should not exceed 32MB</div>".html_safe if @attachment_size.to_f > 32 %>
									<% end %>
								</div>
							</div>
						</div>
						
						<div class="clearfix mt20 right">
						  						   
							<button type="button" onclick="window.location = '<%= inbox_seller_messages_path %>'" class="btn btn-primary mr5">Back</button>
							<%= f.button :submit, class: "btn btn-success mr5 sent-mail-btn" do %>
							  Reply
							<% end %>
						   
						   <%= f.submit 'Submit', :class => 'submit_message_form hide' %>
						</div>
						
					</div>	
				</div>	
			</div>
		
	<% end %>
<% end %>
		
	</div>
</div>

<%= javascript_include_tag "seller/messages" %>
