<section id="md" class="lst-midd-cnt">
	<div class="wht-bg dtl-blc">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					
					<% if @order.present? %>
					
					<h2><strong>Order No. : <%= @order.id %></strong> - <em><%= @order.equipment.name %></em></h2>
			
					<div class="col-lg-4 dtl-blc-rt pull-right" style="position: absolute; width: 100%; margin-left: -15px">
						
						<div class="prdct-avlbl" style="margin-top: 0; padding: 10px; width: 100%;">
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Order Status</div>
								<div style="width: 60%; float: left; "><%= @order.status %></div>
							</div>
							<div style="clear: both; padding: 2px;"></div>
							
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Price</div>
								<div style="width: 60%; float: left; "><%= raw(@order.equipment.currency) + @order.price.to_s %></div>
							</div>
							<div style="clear: both; padding: 2px;"></div>
							
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Contact Name</div>
								<div style="width: 60%; float: left; ">
									<% if current_user.id == @order.equipment.user_id %>
										<%= @order.seller.profile.first_name + ' ' + @order.seller.profile.last_name %>
									<% else %>
										<%= @order.user.profile.first_name + ' ' + @order.user.profile.last_name %>
									<% end %>
								</div>
							</div>
							<div style="clear: both; padding: 2px;"></div>
							
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Contact Company</div>
								<div style="width: 60%; float: left; ">
									<% if current_user.id == @order.equipment.user_id %>
										<%= @order.seller.profile.company_name %>		
									<% else %>
										<%= @order.user.profile.company_name %>		
									<% end %>
								</div>
							</div>
							<div style="clear: both; padding: 2px;"></div>
							
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Shipping Method</div>
								<div style="width: 60%; float: left; "><%= @order.shipping_method %></div>
							</div>
							
							<div style="clear: both;"></div>
							
						</div>
						
						<h3 style="margin-bottom: 10px;"><em style="font-size: 20px;">Equipment</em></h3>
												
						<div class="prdct-avlbl" style="margin-top: 0; padding: 10px; width: 100%;">
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Equipment Name</div>
								<div style="width: 60%; float: left; "><%= @order.equipment.name %></div>
							</div>
							<div style="clear: both; padding: 2px;"></div>
							
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Equipment SN.</div>
								<div style="width: 60%; float: left; "><%= @order.equipment.identifier %></div>
							</div>
							<div style="clear: both; padding: 2px;"></div>
							
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Equipment Condition</div>
								<div style="width: 60%; float: left; "><%= @order.equipment.condition %></div>
							</div>
							<div style="clear: both; padding: 2px;"></div>
							
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Equipment Link On Site</div>
								<div style="width: 60%; float: left; "><%= link_to equipment_details_url(@order.equipment.id), equipment_details_path(@order.equipment.id) %></div>
							</div>
														
							<div style="clear: both;"></div>
							
						</div>
						
						
						<h3 style="margin-bottom: 10px;"><em style="font-size: 20px;">Packages</em></h3>
						
						<div class="prdct-avlbl" style="margin-top: 0; margin-bottom: 10px; padding: 10px; width: 100%;">
							
							<div style="width: 100%;">
								<div style="width: 40%; float: left; font-weight: bold">Number Of Packages</div>
								<div style="width: 60%; float: left; "><%= @order.no_of_packages %></div>
							</div>
							<div style="clear: both; padding: 2px;"></div>
							
							
							<div style="clear: both; padding: 5px; margin-bottom: 5px; border-bottom: 1px solid #e5e5e5;"></div>
							
							<% if @order.shipping_package %>
							
								<div style="width: 100%;">
									<div style="width: 20%; float: left; font-weight: bold;">&nbsp;</div>
									<div style="width: 20%; float: left; font-weight: bold;">Length</div>
									<div style="width: 20%; float: left; font-weight: bold;">Width</div>
									<div style="width: 20%; float: left; font-weight: bold;">Height</div>
									<div style="width: 20%; float: left; font-weight: bold;">Weight</div>
								</div>
								<div style="clear: both; padding: 2px;"></div>
							
								<% i = 0 %>
								<% @order.shipping_package.each_with_index do |s_package,index| %>
									<% i = i + 1 %>
									
									<div style="width: 100%;">
										<div style="width: 20%; float: left;">Package <%= i %></div>
										<div style="width: 20%; float: left;"><%= s_package.length %></div>
										<div style="width: 20%; float: left;"><%= s_package.width %></div>
										<div style="width: 20%; float: left;"><%= s_package.height %></div>
										<div style="width: 20%; float: left;"><%= s_package.weight %></div>
									</div>
									<div style="clear: both; padding: 2px;"></div>
							
								<% end %>
							
							<% end %>			
							
							<div style="clear: both;"></div>
							
						</div>
						
						
						
					
						<div class="dtl-blc-adrs">
							<div class="hd-graylft">
								<i class="fa fa-phone"></i> Phone : <em>+(646) 45321069</em> <span class="email"><i class="fa fa-envelope"></i> Email : <a href="mailto:info@powercozmo.com">info@powercozmo.com </a></span>
							</div>
						</div>	
					</div>
					
					<% else %>
						<div class="prdct-avlbl" style="margin-top: 10; padding: 10px; width: 100%;">
							<p style="text-align:center;margin-top: 8px;font-size:16px;">No order found.</p>
						</div>	
					<% end %>
					
				</div>
			</div>
		</div>
	</div>
</section>
