<div class="page page-ui-tables page-dashboard">
 
	
	<div class="page-wrap">

	<div class="row no-margin no-padding">
			<!-- dashboard header -->
			<div class="col-md-12 no-padding">
				<div class="dash-head clearfix mb20 margin-bt">
					<div class="left">
						<h4 class="mb5 text-light">Welcome to Power Cozmo</h4>
					</div>
				</div>
			</div>
		</div>



		<div class="row no-marging">
			<!-- Basic Table -->
			<div class="col-md-12">
				<div class="main-box">
					
				<div class="main-heding no-t-padding"><i class="fa fa-list" aria-hidden="true"></i> <p>My Invoices</p> 
				</div>
					 <div class="panel-body padding0 dashboard-table">

<% if @orders.present? %>
							<table class="table">
								<thead>
									<tr>
										<th>Order S.NO.</th>
										<th>Equipment S.NO.</th>
										<th>Equipment Name</th>
										<th>Seller</th>
										<th>Buyer</th>
										<th>Price</th>
										<th>Status</th>
										<th class="text-center">Action</th>
									</tr>
								</thead>
								
								<tbody>
									<% @orders.each_with_index do |order,index| %>
										<tr>
											<td><%= order.id %></td>
											<td><%= order.equipment.identifier %></td>
											<td><%= order.equipment.name %></td>
											<td><%= order.equipment.owner_name + ', ' + order.equipment.country.name %></td>
											<td><%= order.name + ', ' + order.country.name %></td>
											<td><%= raw(order.equipment.currency) + order.price.to_s %></td>
											<td><%= order.status %></td>
											<td class="text-center">
												<%= link_to '<span class="ti-download"></span> Download'.html_safe, seller_order_invoice_path(order, format: :pdf), class: "down-load" %>
											</td>				
																					
										</tr>
									<% end %>
								</tbody>
							</table>
							<%= paginate @orders, :theme => 'listing_page_theme' %>
						 <% else %>
							<p class="no-result">No Invoices Found</p>
						 <% end %>	
</div>
					
				</div>
			</div>
		</div>



		
		 
		
		 
	</div>
</div>
