<div class="page page-forms-elements page-dashboard">
	<ol class="breadcrumb breadcrumb-small">
		<li><a href="<%= seller_dashboard_path %>">Home</a></li>
		<li><a href="<%= seller_orders_path %>">Orders</a></li>
		<li class="active">Order Details</li>
	</ol>
	
	<div class="page-wrap">
		
		<div class="row">
			<!-- dashboard header -->
			<div class="col-md-12">
				<div class="dash-head clearfix mb20">
					<div class="left">
						<h4 class="mb5 text-light">Order Details</h4>
					</div>
					<%= link_to "<i class='fa fa-download'></i> Download PDF".html_safe, seller_order_path(@order, format: :pdf), class: "pull-right" %>	
					
					<% if current_user.id == @order.user_id %>
						<%= link_to "<i class='fa fa-download'></i> Download Invoice".html_safe, seller_order_invoice_path(@order, format: :pdf), class: "pull-right", style: "margin-right: 25px;" %>
					<% end %>
				</div>
			</div>
		</div> <!-- #end row -->
		
		<!-- row -->
		<div class="row">
			<section class="content myprofile-content">
	
<!-- Status start -->								
				<div class="col-sm-12 col-md-6">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
							
							<div class="form-group">
								<label class="col-md-6 control-label text-bold">Order Status</label>
								<div class="col-md-6">
									<%= @order.status %>
								</div>
							</div>
							
							<% if current_user.id == @order.user_id && @order.status == 'Seller Confirmed' %>
								<div class="clearfix mt20 right">
								
									<%= form_for(@order, url: seller_orders_update_path(@order), html: { method: :put, :id => "update_status" }) do |f| %>
								
										<button type="submit" class="btn btn-success mr5" value="Accept" name="commit">Accept</button>
										<button type="submit" class="btn btn-danger mr5" value="Reject" name="commit">Reject</button>
									<% end %>
								
								</div>
							<% end %>
										
						</div>	
					</div>	
				</div>			
<!-- Status end -->				
				
				<div class="clearfix"></div>
<!-- Contacts start -->			

				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
							
							<div class="col-sm-12 col-md-12 text-bold mb20">Contacts :</div>
							
<% if current_user.id == @order.equipment.user_id %>
	<!-- If order page opened at seller end shown seller details -->
	<%= form_for(@order.seller, url: seller_orders_update_path(@order), html: { method: :put, :id => "update_profile" }) do |f| %>
		<%= f.fields_for :profile do |profile_form| %>
					
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">Contact Name<sup>*</sup></label>
								<div class="col-md-8">
									<%= profile_form.text_field :first_name, autocomplete: "off", class: 'form-control', style: '    float: left; width: 45%; margin-right: 10px;', id: 'firstname', placeholder: 'Enter First Name' %>
									
									<%= profile_form.text_field :last_name, autocomplete: "off", class: 'form-control', style: '    float: left; width: 45%;', id: 'lastname', placeholder: 'Enter Last Name' %>
									
									<% if @user %>
										<div class="clearfix"></div>
										<div style="float: left; width: 45%; margin-right: 10px;">
											<label class="error"><%= @user.errors[:first_name].first if @user.errors.any? %></label>
										</div>
										<div style="float: left; width: 45%;">
											<label class="error"><%= @user.errors[:last_name].first if @user.errors.any? %></label>
										</div>
									<% end %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Company Name<sup>*</sup></label>
								<div class="col-md-8">
									<%= profile_form.text_field :company_name, autocomplete: "off", class: 'form-control', id: 'companyname', placeholder: 'Enter Company Name' %>
									
									<% if @user %>
										<div class="clearfix"></div>
										<div>
											<label class="error"><%= @user.errors[:company_name].first if @user.errors.any? %></label>
										</div>
									<% end %>
								</div>
							</div>
							
							<div class="clearfix mt20 right">
							   <button type="submit" class="btn btn-primary mr5" value="Update" name="commit">Update</button>
							</div>
							
		<% end %>
	<% end %>
								
<% else %>
	<!-- If order page opened at buyer end shown buyer details -->			
	<%= form_for(@order.user, url: seller_orders_update_path(@order), html: { method: :put, :id => "update_profile" }) do |f| %>
		<%= f.fields_for :profile do |profile_form| %>
		
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">Contact Name<sup>*</sup></label>
								<div class="col-md-8">
									<%= profile_form.text_field :first_name, autocomplete: "off", class: 'form-control', style: 'float: left; width: 45%; margin-right: 10px;', id: 'firstname', placeholder: 'Enter First Name' %>
									
									<%= profile_form.text_field :last_name, autocomplete: "off", class: 'form-control', style: ' float: left; width: 45%;', id: 'lastname', placeholder: 'Enter Last Name' %>
									
									<% if @user %>
										<div class="clearfix"></div>
										<div style="float: left; width: 45%; margin-right: 10px;">
											<label class="error"><%= @user.errors[:first_name].first if @user.errors.any? %></label>
										</div>
										<div style="float: left; width: 45%;">
											<label class="error"><%= @user.errors[:last_name].first if @user.errors.any? %></label>
										</div>
									<% end %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Company Name<sup>*</sup></label>
								<div class="col-md-8">
									<%= profile_form.text_field :company_name, autocomplete: "off", class: 'form-control', id: 'companyname', placeholder: 'Enter Company Name' %>
									
									<% if @user %>
										<div class="clearfix"></div>
										<div>
											<label class="error"><%= @user.errors[:company_name].first if @user.errors.any? %></label>
										</div>
									<% end %>
								</div>
							</div>
							
							<div class="clearfix mt20 right">
							   <button type="submit" class="btn btn-primary mr5" value="Update" name="commit">Update</button>
							</div>
							
									
		<% end %>
	<% end %>
				
<% end %>				
							
										
						</div>	
					</div>	
				</div>
	
<!-- Contacts end -->	

				<div class="clearfix"></div>
<!-- Equipment Details start -->			

				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
														
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">Equipment Name</label>
								<div class="col-md-8"><%= @order.equipment.name %></div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Equipment S.NO.</label>
								<div class="col-md-8"><%= @order.equipment.identifier %></div>
							</div>	
							
							<div class="clearfix"></div>
														
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Equipment Condition</label>
								<div class="col-md-8"><%= @order.equipment.condition %></div>
							</div>
							
							<div class="clearfix"></div>	
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Equipment Link On Site</label>
								<div class="col-md-8"><%= link_to equipment_details_url(@order.equipment.id), equipment_details_path(@order.equipment.id) %></div>
							</div>	
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Equipment Description</label>
								<div class="col-md-8"><%= @order.equipment.description %></div>
							</div>		
					
						</div>	
					</div>	
				</div>
	
<!-- Equipment Details end -->

				<div class="clearfix"></div>
<!-- Price Details start -->			

				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">
												
							<div class="col-sm-12 col-md-12 text-bold mb20">Price :</div>					
														
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">Amount Will Be Paid From Buyer</label>
								<div class="col-md-8"><%= raw(@order.equipment.currency) + @order.price.to_s %></div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Power Cozmo Commission</label>
								<div class="col-md-8">
									<% commission = (@order.price * @order.commission) / 100 %>
									<%= raw(@order.equipment.currency) + commission.to_s %>
								</div>
							</div>	
							
							<div class="clearfix"></div>
														
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Amount Will Be Paid To Seller</label>
								<div class="col-md-8">
									<% seller_amount = @order.price - commission %>
									<%= raw(@order.equipment.currency) + seller_amount.to_s %>
								</div>
							</div>
							
						</div>	
					</div>	
				</div>
	
<!-- Price Details end -->	
				
				<div class="clearfix"></div>
				
				<div class="col-sm-12 col-md-12 mb10">	
					<span class="text-bold">Shipping Details</span>  
					<%= link_to "<i class='fa fa-edit'></i>Update Shipping".html_safe, seller_update_shipping_path(@order), class: 'right' %>
				</div>	
				
				<div class="clearfix"></div>
<!-- Shipping Details start -->			

				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">				
														
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">Number Of Packages</label>
								<div class="col-md-8">
									<% if @order.no_of_packages != 0 %>
										<%= @order.no_of_packages %>
									<% end %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Shipping Method</label>
								<div class="col-md-8"><%= @order.shipping_method %></div>
							</div>	
							
						</div>	
					</div>	
				</div>

<!-- Packages Dimensions start -->	
				
				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30 basic-table">
						
						<div class="panel-body">				
									
							<div class="col-sm-12 col-md-12 text-bold mb20">Packages Dimensions :</div>	
							
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>Length</th>
										<th>Width</th>
										<th>Height</th>
										<th>Weight</th>										
									</tr>
								</thead>
								
								<tbody>
									<% i = 0 %>
									<% @order.shipping_package.each_with_index do |s_package,index| %>
										<% i = i + 1 %>
										<tr>
											<td>Package <%= i %></td>
											<td><%= s_package.length %></td>
											<td><%= s_package.width %></td>
											<td><%= s_package.height %></td>
											<td><%= s_package.weight %></td>				
										</tr>
									<% end %>
								</tbody>
							</table>		
						</div>	
					</div>	
				</div>
<!-- Packages Dimensions end -->

				<div class="clearfix"></div>
<!-- Pickup Details start -->			

				<div class="col-sm-12 col-md-6">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">				
												
							<div class="col-sm-12 col-md-12 text-bold mb20">Pickup Location :</div>						
														
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">Country</label>
								<div class="col-md-8">
									<% if @order.pickup_country %>
										<%= @order.pickup_country.name %>
									<% end %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">City</label>
								<div class="col-md-8"><%= @order.pickup_city %></div>
							</div>	
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Port</label>
								<div class="col-md-8"><%= @order.pickup_port %></div>
							</div>	
							
						</div>	
					</div>	
				</div>	
<!-- Pickup Details end -->		

<!-- Delivery Details start -->			

				<div class="col-sm-12 col-md-6">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">				
												
							<div class="col-sm-12 col-md-12 text-bold mb20">Delivery Location :</div>						
														
							<div class="form-group">
								<label class="col-md-4 control-label text-bold">Country</label>
								<div class="col-md-8">
									<% if @order.delivery_country %>
										<%= @order.delivery_country.name %>
									<% end %>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">City</label>
								<div class="col-md-8"><%= @order.delivery_city %></div>
							</div>	
							
							<div class="clearfix"></div>
							
							<div class="form-group mt20">
								<label class="col-md-4 control-label text-bold">Port</label>
								<div class="col-md-8"><%= @order.delivery_port %></div>
							</div>	
							
						</div>	
					</div>	
				</div>	
<!-- Delivery Details end -->
	
<!-- Shipping Details end -->

<!-- enquiry start -->

<% if @enquiry %>
				<div class="clearfix"></div>
				
				<div class="col-sm-12 col-md-12 mb10 text-bold">Responses</div>		
	<% @enquiry.responses.each_with_index do |enquiry_response,index| %>
	
				<% if enquiry_response.user_id == current_user.id 
					msg_style = 'my-msg'
				else
					msg_style = 'response-msg'
				end %>
	
				<div class="<%= (enquiry_response.user_id == current_user.id) ? 'pull-right' : 'pull-left' %> conversation-section">	
					
					<div class="panel panel-default panel-hovered panel-stacked mb30 pos-rel">
						
						<% if enquiry_response.user_id == current_user.id %>
							<div class="RightArrow"><i class="fa fa-caret-right fa-2x" aria-hidden="true"></i></div>
						<% else %>
							<div class="LeftArrow"><i class="fa fa-caret-left fa-lg" aria-hidden="true"></i></div>
						<% end %>
						
						<div class="panel-body <%= msg_style %>">									
														
							<div class="col-md-12">
								<span class="text-bold marginR15"><%= enquiry_response.user.profile.first_name + ' ' + enquiry_response.user.profile.last_name %></span>
								<span><%=format_time(enquiry_response.created_at)%><!-- 10/03/2016 --></span>								
							</div>
							<div class="clearfix"></div>
							<div class="col-md-12 marginT15"><%= enquiry_response.message.to_s.html_safe %></div>
							
						</div>	
					</div>	
				
				</div>	
				<div class="clearfix"></div>	
	
		
	<% end %>
<% end %> 
<!-- enquiry end -->
				<div class="clearfix"></div>	
<!-- Remarks start -->
<%= form_for(@order, url: seller_orders_update_path(@order), html: { method: :put, :id => "update_remark" }) do |f| %>

				<div class="col-sm-12 col-md-12">	
					<div class="panel panel-default panel-hovered panel-stacked mb30">
						<div class="panel-body">									
														
							<div class="form-group">
								<div class="col-md-12">
									<label class="control-label text-bold">Terms</label>
									<div class="clearfix marginT5"></div>
									<% if current_user.id == @order.equipment.user_id %>	
											
										<%= f.text_area :seller_remark, autocomplete: "off", class: 'form-control height200', id: 'seller_remark', placeholder: 'Enter Remarks' %>
																	
									<% else %>
									
										<%= f.text_area :buyer_remark, autocomplete: "off", class: 'form-control height200', id: 'buyer_remark', placeholder: 'Enter Remarks' %>
										
									<% end %>	
								</div>
							</div>
							
							<div class="clearfix mt20 right">
							   <button type="submit" class="btn btn-primary mr5" value="Submit" name="commit">Submit</button>
							</div>
							
						</div>	
					</div>	
				</div>

<% end %>	
<!-- Remarks end -->

<!-- Signature start -->

<% if current_user.profile.digital_signature %>
			
				<div class="clearfix"></div>
				
				<div class="col-sm-12 col-md-12 mb20">															
					<div class="pull-right text-center">
						<img style="width: 200px;" src="<%= current_user.profile.digital_signature %>" />
						<br />
						<%= current_user.profile.first_name + ' ' + current_user.profile.last_name %>
					</div>
				</div>	
			
<% end %>
<!-- Signature end -->

			</section>
		</div>
	</div>
</div>
