<div class="page page-forms-elements page-dashboard">
 
	
	<div class="page-wrap">
		
<div class="row no-marging">
			<!-- dashboard header -->
			<div class="col-md-12 no-padding">
				<div class="dash-head clearfix mt15 mb20">
					<div class="left">
						<h4 class="mb5 text-light">Welcome to Power Cozmo</h4>
					</div>
				</div>
			</div>
		</div>



		<div class="row no-marging">
			<div class="col-md-12">
		<div class="main-box top-margin-15">
			<div class="main-heding no-t-padding"><i class="fa fa-list" aria-hidden="true"></i> <p>Submit Proposal</p> 
				</div>


				<div class="panel-body padding0 dashboard-table">
					
					 
						<section class="content myprofile-content group-forms-">
		
<%= form_for @buying_proposal, url: seller_buying_proposals_path do |f|%>
	<%= f.hidden_field :status, value: 'New'%>
    <%= f.hidden_field :user_id, value: current_user.id%>
    <%= f.hidden_field :buying_request_id, value: @buying_request.id%>
				
				 
					 
							
							<div class="form-group">
								<label class="col-md-3 control-label text-bold">Buying Request Name<sup>*</sup></label>
								<div class="col-md-8">
									<input type="text" class="form-control" value="<%= @buying_request.title%>" disabled>
								</div>
							</div>
														
							 
							
							<div class="form-group mt20">
								<label class="col-md-3 control-label text-bold">Buying Request Serial Number<sup>*</sup></label>
								<div class="col-md-8">
									<input type="text" class="form-control" value="<%= @buying_request.identifier%>" disabled>
								</div>
							</div>							
							
							 
							
							<div class="form-group mt20">
								<label class="col-md-3 control-label text-bold">Price<sup>*</sup></label>
								<div class="col-md-8">
									<%= f.text_field :price, placeholder: 'Enter Price', class: 'form-control'%>
									<%= error_message(@buying_proposal, :price)%>
								</div>
							</div>
														
							 
							
							<div class="form-group mt20">
								<label class="col-md-3 control-label text-bold">Currency<sup>*</sup></label>
								<div class="col-md-8">
									<% currency_id = f.object.currency_id %>
									<%= f.select :currency_id, options_for_select(Currency.active.select(:symbol, :id, :name).map{|x| [raw(x.symbol)+" (#{x.name})", x.id]}, currency_id), prompt: 'Select Currency*'%>
									<%= error_message(@buying_proposal, :currency_id)%>
								</div>
							</div>	
							
							 
							
							<div class="form-group mt20">
								<label class="col-md-3 control-label text-bold">Delivery Time<sup>*</sup></label>
								<div class="col-md-8">
									<%= f.select :delivery_time, options_for_select([['Select Delivery time*','']]+(1..3).collect { |week| [week.to_s+" Week".pluralize(week)]  }+(1..24).collect { |month| [month.to_s+" Month".pluralize(month)]  }, selected: f.object.delivery_time) %>
									<%= error_message(@buying_proposal, :delivery_time)%>
								</div>
							</div>
							
							 
							
							<div class="form-group mt20">
								<label class="col-md-3 control-label text-bold">Proposal<sup>*</sup></label>
								<div class="col-md-8">
									<%= f.text_area :proposal, placeholder: 'Proposal', class: 'form-control'%>
									<%= error_message(@buying_proposal, :proposal)%>
								</div>
							</div>
							
							 
							
							<div class="form-group mt20 atach-fil">
								<label class="col-md-3 control-label text-bold">&nbsp</label>
								<div class="col-md-8">
									<a href="javascript:void(0)">
									  <span class="label label-primary attch-btn" id="attach-btn"><i class="fa fa-paperclip"></i> Attachment</span>
										<%= f.file_field :attachment , style: "display:none;", id: "hidden-attach"%>
										<%= f.hidden_field :attachment_cache %>
									 </a>
									 <span id="propsal-file"><%=@buying_request.attachment? ? @buying_request.attachment.filename : "" %></span>
									 <span class="max-limit">Max.32MB</span>
								</div>
								 
							</div>
													
							<div class="col-md-12 mt20 text-right">
							<div class="form-group">
							   <button type="submit" class="orang-gradient" value="Submit" name="commit">Submit</button>
							   </div>
							</div>
										
						 
				 
<% end %>		
				
			</section>	
							
					 
				</div>
				</div>
			</div>
		</div>



		 
		
	 
	</div>
</div>

<style type="text/css">
  .error-msg{
    color: #cc0000;
    font-size: 12px;
  }

  #filePhoto{
    opacity: 0;
    width: 100px;
    height: 100px;
    margin-top: -100px;
  }
  .add-propose-img{
    width: 100px;
    float: left;
    height: 100px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('.upload-photo').click(function(){
      $('#filePhoto').trigger('click');
    })
    $("input[name='buying_proposal[attachment]']").change(function(e){
      var fileName = e.target.files[0].name;
      $("#propsal-file").text(fileName);
    });
    if($("#buying_proposal_attachment_cache").val()){
      arr = $("#buying_proposal_attachment_cache").val().split('/');
      fileName = arr[arr.length - 1];
      $("#propsal-file").text(fileName);
    }

    // $('#buying_proposal_delivery_time').datetimepicker({
    //   format: 'DD-MM-YYYY hh:mm a',
    //   useCurrent: false,
    //   minDate: moment().valueOf()
    // });
    $( "#attach-btn" ).on( "click", function() {
      $('#hidden-attach').click();
    });
  })

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#buy_image').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
