<% if params[:action] == 'received_proposals_show'  %>
	<% title = 'Received Buying Proposal Details' %>
<% else %> 
	<% title = 'Buying Proposal Details' %>
<% end %>

<div class="page page-dashboard">
	
	
	<div class="page-wrap">
		<div class="row no-marging">
			<!-- dashboard header -->
			<div class="col-md-12 no-padding">
				<div class="dash-head clearfix mt15 mb20 margin-bt">
					<div class="left">
						<h4 class="mb5 text-light">Welcome to Power Cozmo</h4>
					</div>
				</div>
			</div>
		</div>


		<div class="row no-marging">
			<!-- Basic Table -->
			<div class="col-md-12">
				<div class="panel panel-lined panel-hovered mb20 table-responsive basic-table">
					
					<div class="main-box">

					<div class="main-heding no-t-padding"><i class="fa fa-list" aria-hidden="true"></i> <p><%= title %></p> 				
				</div>

					<div class="panel-body padding0 dashboard-table so-lisitn">
					 
							
							
<table class="table table-bordered table-striped">
								
						<tbody>
							<tr>
								<th class="text-nowrap" scope="row" style="width: 40%;">Buying Request S.NO.</th>
								<td><%=@buying_proposal.try(:buying_request).try(:identifier) %></td>
							</tr>
							
							<tr>
								<% if params[:action] == 'received_proposals_show'  %>
									<th class="text-nowrap" scope="row">Proposal Sender Name</th>
									<td><%= @buying_proposal.try(:user).try(:profile).try(:first_name) + ' ' + @buying_proposal.try(:user).try(:profile).try(:last_name) %></td>
								<% else %> 
									<th class="text-nowrap" scope="row">Buying Request Name</th>
									<td><%=@buying_proposal.try(:buying_request).try(:name)%></td>
								<% end %>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Price</th>
								<td><%=number_to_currency(@buying_proposal.price, unit: raw(@buying_proposal.currency.symbol)) %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Currency</th>
								<td><%= @buying_proposal.currency.name %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Delivery Time</th>
								<td><%= @buying_proposal.delivery_time.to_s %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Proposal</th>
								<td><%= @buying_proposal.proposal.to_s.html_safe %></td>
							</tr>
							
							<tr>
								<th class="text-nowrap" scope="row">Sent At</th>
								<td><%= @buying_proposal.created_at%></td>
							</tr>
							
							<% if @buying_proposal.attachment.present? %>
								<tr>
									<th class="text-nowrap" scope="row">Attachment</th>
									<td>
										<% if @buying_proposal.attachment.file.extension.downcase == 'pdf' %>
											<%= link_to @buying_proposal.attachment.url, target: "blank" do %>
												<i class="fa fa-paperclip"></i> <%= @buying_proposal.attachment.file.filename%>
											<% end %>
										<% else %>
											<%= image_tag @buying_proposal.attachment.url, height: 50, width: 50 %>
										<% end %>
									</td>
								</tr>
							<% end %>
							
							<tr>
								<td colspan="2" class="text-right">
									<% if params[:action] == 'received_proposals_show'  %>
										<%=link_to "Back", seller_received_proposals_path, class: "tab-next-lnk orang-gradient pull-right" %>
									<% else %> 
										<%=link_to "Back", seller_buying_proposals_path, class: "tab-next-lnk orang-gradient pull-right" %>
									<% end %>
								</td>
							</tr>
							
						</tbody>
					</table>
							
							

						 </div>
						 


					</div>
					</div>
				</div>
			</div>


		 
		
		 
	</div>
</div>
