<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Buying Proposal Details</h1>
    <ol class="breadcrumb">
      <li><a href="<%= seller_dashboard_path%>">Home</a></li>
      <li class="active">Buying Proposal Details</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content myprofile-content buy-req-more">
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-7 col-xs-12 myprofile-left">
          <div class="mp-form-box">
            <div class="form-group">
              <label for="fname">Buying request SNO</label>
              <%=@buying_proposal.try(:buying_request).try(:identifier) %>
            </div>

            <div class="form-group">
              <label for="fname">Buying request name</label>
              <%=@buying_proposal.try(:buying_request).try(:name)%>
            </div>

            <div class="form-group">
              <label for="select">Price</label>
              <%=number_to_currency(@buying_proposal.price, unit: raw(@buying_proposal.currency.symbol)) %>
            </div>

            <div class="form-group">
              <label for="select">Currency</label>
              <%= @buying_proposal.currency.name %>
            </div>

            <div class="form-group">
              <label for="select">Delivery time</label>
              <%= @buying_proposal.delivery_time.to_s %>
            </div>

            <div class="form-group">
              <label for="select">Proposal</label>
               <%= @buying_proposal.proposal.to_s.html_safe %>
            </div>

            <div class="form-group">
              <label for="select">Sent At</label>
              <%= @buying_proposal.created_at%>
            </div>

            <% if @buying_proposal.attachment.present? %>
              <div class="form-group">
                <label for="fname">Attachment</label>
                <% if @buying_proposal.attachment.file.extension.downcase == 'pdf' %>
                  <%= link_to @buying_proposal.attachment.url, target: "blank" do %>
                    <i class="fa fa-paperclip"></i> <%= @buying_proposal.attachment.file.filename%>
                  <% end %>
                <% else %>
                  <%= image_tag @buying_proposal.attachment.url, height: 50, width: 50 %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%=link_to "back", seller_buying_proposals_path, class: "btn btn-default custom-btn fnone" %>
          </div>
        </div>        
      </div>

    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->