<!doctype html>
<html itemscope itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="format-detection" content="telephone=no">
		
		<%= yield :head %>
		<title>PowerCozmo</title>
		
		<%= stylesheet_link_tag 'application', media: 'all'%>
		<%= javascript_include_tag 'application'%>
		<%= csrf_meta_tags %>
		
	</head>
	
	<body>
		<div class="homepage clearfix">
<!-- TopBar Start -->
			<section class="clearfix topbar hidden-xs">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 topleft"> 
							<span><i class="fa fa-phone" aria-hidden="true"></i> <%= SiteSetting.last.try(:header_phone) || '+(646) 45321069' %></span>
							<span class="hidden-xs hidden-sm">
								<i class="fa fa-envelope-o" aria-hidden="true"></i> 
								<a href="mailto:<%= SiteSetting.last.try(:header_email) || 'info@powercozmo.com'%>"><%= SiteSetting.last.try(:header_email) || 'info@powercozmo.com'%></a>
							</span> 
							<span><a href="<%= contacts_new_path%>">Contact Us</a></span> 
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 topright"> 
							
							<% if user_signed_in? %>
							
								<% unread_inbox_count = current_user.try(:unread_inbox_count).to_i %>
								<% if unread_inbox_count > 0 %>
									<span><%= link_to "<i class='fa fa-envelope-o'></i> <span class='label label-warning'>#{unread_inbox_count}</span>".html_safe, seller_dashboard_path(message_notification: :true) %></span>
								<% else %>
									<span><%= link_to "<i class='fa fa-envelope-o'></i>".html_safe, seller_dashboard_path, class: "dropdown-toggle" %></span>
								<% end %>
								
								<% unread_notifications_count = current_user.try(:unread_notifications_count).to_i %>
								<% if unread_notifications_count > 0 %>
									<span><%= link_to "<i class='fa fa-bell-o'></i> <span class='label label-warning'>#{unread_notifications_count}</span>".html_safe, seller_dashboard_path %></span>
								<% else %>
									<span><%= link_to "<i class='fa fa-bell-o'></i>".html_safe, seller_dashboard_path, class: "dropdown-toggle" %></span>
								<% end %>
															
								<span><%= link_to('<i class="fa fa-table"></i> Dashboard'.html_safe, seller_dashboard_path) %></span>
								<span><%= link_to "<i class='fa fa-heart'></i> My Favourites".html_safe, seller_favourites_path %></span>
								<span><%= link_to('<i class="fa fa-user"></i> My Profile'.html_safe, edit_seller_profile_path(current_user)) %></span>
								<span><%= link_to('<i class="fa fa-sign-out"></i> Logout'.html_safe, destroy_user_session_path, :method => :delete) %></span>
								
							<% else %>
								<span><%= link_to('<i class="fa fa-users" aria-hidden="true"></i> Register'.html_safe, new_user_registration_path) %></span>
								
								<span><a href="#" data-toggle="modal" data-target="#login" id="login-popup-link"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></span>
							<% end %>
							
						</div>
					</div>
				</div>
			</section>

<% if !user_signed_in? %>
<!-- Modal -->
			<div id="login" class="modal fade" role="dialog">
				<div class="modal-dialog">

<!-- Modal content-->
					<div class="modal-content">
						<button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></button>
						<div class="modal-header">

							<h4 class="modal-title">LOGIN TO POWER COZMO</h4>
						</div>
						<div class="modal-body">
							
							<div class="col-md-12 signin-alert"></div>
						
	
	<%= form_for(resource, :as => resource_name, :html => {:id => 'log_in_form_popup'}, :url => user_session_path, :remote => :true, :format => :json) do |f| %>

							<div class="form-group">
								<label for="email">Email Address:</label>
								<%= f.email_field :email, :autofocus => true, :placeholder => "email", :id => 'login_email', class:"form-control" %>
							</div>
							
							<div class="form-group">
								<label for="pwd">Password:</label>
								<%= f.password_field :password, :placeholder => "password", :id => 'login_password', class:"form-control" %>
							</div>
							
							<div class="checkbox">
								<div class="checkbox-btn">
									
									<%= f.check_box :remember_me %>
									<%= f.label :remember_me %>
									
									<%= link_to "Forgot password?", new_user_password_path(resource_name), class: "pull-right forgot-txt" %>
								</div>
							</div>
							
							<%= f.submit "Login", class: "btn-orange text-uppercase" %>
	<% end %>

							<div class="ortext">
								<span class="or-txt text-uppercase">or</span>
							</div>

							<div class="free-account text-center">
								New to our site? Create a free account. it's fast, free and 
								gives you full access to our website features. 
							</div>

							<%= link_to('Sign Up', new_user_registration_path, class: "btn-signup text-uppercase") %>

			
	<script type="text/javascript">
				
		$(document).on('submit', '#log_in_form_popup', function(e) {
			
			//do stuff here
		}).on('ajax:success', '#log_in_form_popup', function(e, data, status, xhr) {
		
			if(status == 'success'){
				window.location.href = '<%= seller_dashboard_path %>';
			}else{
				$('.signin-alert').html('Invalid email or password.');
				$('.signin-alert').show();
			}
		
		}).on('ajax:error', '#log_in_form_popup', function(e, data, status, xhr) {
			
			$('.signin-alert').html('Invalid email or password.');
			$('.signin-alert').show();
			
		});
		
		$(document).ready(function(){
			
			$('#login-popup-link').click(function(){
				$('.signin-alert').html('');
				$('.signin-alert').hide();
			});
			
			$("#log_in_form_popup").validate({
				rules: {
					"user[email]": {
						required: true,
						email: true
					}, 
					"user[password]": "required"
				},
				messages: {    
					"user[email]": {
						required: "Email can't be blank",
						email: "Please enter a valid email address"
					},
					"user[password]": {
						required: "Password can't be blank"
					}
				},
				errorPlacement: function(error, element) {
					error.insertAfter(element);
				}
			});
		});
				
	</script>
						</div>

					</div>

				</div>
			</div>
<% end %>			
			

<!-- Header Start -->
			<header>
				<div class="container">
					<nav class="navbar " role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
								<span class="sr-only">Toggle navigation</span> 
								<span class="icon-bar"></span> 
								<span class="icon-bar"></span> 
								<span class="icon-bar"></span> 
							</button>
														
							<%= link_to root_path, class: "navbar-brand" do %>
								<!-- logo for regular state and mobile devices -->
								<%= image_tag "logo.png" %>
							<% end %>
							
						</div>
<!--/.navbar-header-->
		  
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								
								<li class="dropdown"> 
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li><%= link_to "What is power Cozmo?", root_path(anchor: "about_power_cozmo"), class: "anchor" %></li>
										<li><%= link_to "Who we are?", about_path(anchor: "about_us"), class: "anchor" %></li>
										<li><%= link_to "FAQ", faq_path %></li>
									</ul>
								</li>
								
								<li class="dropdown"> 
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="dropdown-menu cat-drp">
										<% root_categories.each do |category| %>
											<li>
												<%=link_to truncate(category.name, length: 45),listing_filter_path(filter: {category_id: category.id}) %>
											</li>
										<% end %>
									</ul>
								</li>
								
								<li class="dropdown"> 
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Buy <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li><a href="<%= new_buying_request_path%>">Post buying request</a></li>
										<li><a href="<%= buying_requests_path %>">Buying request list</a></li>
										<li><%= link_to "Browse categories", root_path(anchor: "categories"), class: "anchor" %></li>
										<li><%= link_to "How to buy?", root_path(anchor: "how-two"), class: "anchor" %></li>
										<li><%= link_to "How to pay?", root_path(anchor: "how-three"), class: "anchor" %></li>
										<li><%= link_to "Tips for buyers", good_to_know_path(anchor: "tips-for-buyer"), class: "anchor" %></li>
										<li><%= link_to "How we protect you?", root_path(anchor: "why-three"), class: "anchor" %></li>
									</ul>
								</li>
								
								<li class="dropdown"> 
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sell <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li><%= link_to "List your equipment", new_seller_equipment_path %></li>
										<li><%= link_to "How to sell?", root_path(anchor: "how-one"), class: "anchor" %></li>
										<li><%= link_to "How we market your equipment?", root_path(anchor: "why-four"), class: "anchor" %></li>
										<li><%= link_to "Tips for sellers", good_to_know_path(anchor: "tips-for-seller"), class: "anchor" %></li>
										<li><%= link_to "How we protect you?", root_path(anchor: "why-three"), class: "anchor" %></li>
									</ul>
								</li>
								
								<li class="dropdown"> 
									<%= link_to our_services_path, class: "dropdown-toggle",:data => { :toggle => 'dropdown' } do %>
										<span>Services </span><i class="fa fa-angle-down"></i>
									<% end %>
									<ul class="dropdown-menu">
										<li><%= link_to 'Overhaul and rehabilitation', our_services_path %></li>
										<li><%= link_to 'Spare parts', our_services_path(anchor: 'spare_parts'),class: "anchor" %></li>
										<li><%= link_to 'Third party inspection', our_services_path(anchor: 'inspection'),class: "anchor" %></li>
										<li><%= link_to 'Shipping', our_services_path(anchor: 'shipping'),class: "anchor" %></li>
										<li><%= link_to 'Our meeting Room', our_services_path(anchor: 'meeting_room'),class: "anchor" %></li>
									</ul>
								</li>
								
								<li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Why Us <i class="fa fa-angle-down" aria-hidden="true"></i></a>
									<ul class="dropdown-menu">
										<li><%= link_to "Why buy from power Cozmo?", root_path(anchor: "why-two"), class: "anchor" %></li>
										<li><%= link_to "Why sell on power Cozmo?", root_path(anchor: "why-one"), class: "anchor" %></li>
										<li><%= link_to "Why buy used equipment?", good_to_know_path(anchor: "why-buy-used"), class: "anchor" %></li>
									</ul>
								</li>
								
								<li class="hidden-xs hidden-sm">
<%= form_tag listing_filter_path, method: :get do %>									
									<div class="search-header clearfix">
										<%= search_field_tag "q[name_or_identifier_or_country_name_or_description_or_manufacturer_name_or_sub_category_name_or_sub_sub_category_name_cont]", "", class: "form-control" %>
									</div>
<% end %>
								</li>
								
								<li class="hidden-sm hidden-md hidden-lg">
									<a href="#" data-toggle="modal" data-target="#login"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
								</li>
							</ul>
						</div>
<!--/.navbar-collapse--> 
					</nav>
				</div>
			</header>
			
			<% if flash[:alert] %>
				<div class="alert alert-danger marginB">
					<div><%= flash[:alert] %></div>
					<% flash.discard(:alert) %>
				</div>
			<% end %>
			<% if flash[:notice] %>
				<div class="alert alert-success marginB">
					<div class="notice"><%= flash[:notice] %></div>
					<% flash.discard(:notice) %>
				</div>
			<% end %>
			<% if flash[:error] %>
				<div class="alert alert-danger marginB">
					<div class="error"><%= flash[:error] %></div>
					<% flash.discard(:error) %>
				</div>
			<% end %>
			<% flash.discard %>
			
<%= yield %>

<!-- Footer Start -->
			<footer>
				<div class="container">
					<div class="footer clearfix">
						<h2 class="text-uppercase">Our Company</h2>
						<ul>							
							<li><%= link_to "What is Power Cozmo?", root_path(anchor: "about_power_cozmo"), class: "anchor" %></li>
							<li><%= link_to "Who We Are?", about_path(anchor: "us"), class: "anchor" %></li>
							<li><%= link_to "Why Power Cozmo?", root_path(anchor: "why_us"), class: "anchor" %></li>
							<li><%= link_to "Commission Rate", root_path(anchor: "how-four"), class: "anchor" %></li>
						</ul>
					</div>
					
					<div class="footer clearfix">
						<h2 class="text-uppercase">How we work?</h2>
						<ul>
							<li><%= link_to "How to sell?", root_path(anchor: "how-one"), class: "anchor" %></li>
							<li><%= link_to "How to buy?", root_path(anchor: "how-two"), class: "anchor" %></li>
							<li><%= link_to "How to pay?", root_path(anchor: "how-three"), class: "anchor" %></li>
							<li><%= link_to "How we protect you?", root_path(anchor: "why-three"), class: "anchor" %></li>
							<li><%= link_to "How we market your equipment?", root_path(anchor: "why-four"), class: "anchor" %></li>
						</ul>
					</div>
					
					<div class="footer clearfix">
						<h2 class="text-uppercase">More</h2>
						<ul>
							<li><%= link_to "Why buy used?", good_to_know_path(anchor: "why-buy-used") %></li>
							<li><%= link_to "Tips for buyers", good_to_know_path(anchor: "tips-for-buyer") %></li>
							<li><%= link_to "Tips for sellers", good_to_know_path(anchor: "tips-for-seller") %></li>
							<li><%= link_to "Frequencies by countries", country_frequency_path %></li>
							<li><%= link_to "FAQ", faq_path %></li>
						</ul>
					</div>
					
					<div class="footer clearfix">
						<h2 class="text-uppercase">Services</h2>
						<ul>
							<li><%= link_to 'Overhaul and rehabilitation', our_services_path %></li>
							<li><%= link_to 'Spare parts', our_services_path(anchor: 'spare_parts') %></li>
							<li><%= link_to 'Third party inspection', our_services_path(anchor: 'inspection') %></li>
							<li><%= link_to 'Shipping', our_services_path(anchor: 'shipping') %></li>
							<li><%= link_to 'Our meeting Room', our_services_path(anchor: 'meeting_room') %></li>
						</ul>
					</div>
					
					<div class="footer clearfix">
						<h2 class="text-uppercase">Legal</h2>
						<ul>
							<li><%= link_to "User Agreement", user_agreement_path %></li>
							<li><%= link_to "Terms and conditions", terms_conditions_path %></li>
							<li><%= link_to "Our policy", our_policy_path %></li>
						</ul>
					</div>
				</div>
		
				<div class="clearfix copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-4 col-sm-4 col-xs-12 foot-logo">				
								<%= link_to root_path do %>
									<!-- logo for regular state and mobile devices -->
									<%= image_tag "footer-logo.png" %>
								<% end %>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 text-center copy-txt">
								<%= SiteSetting.last.copy_right_text.html_safe%>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 social-footer"> 
								<a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
								<a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
								<a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
								<a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a> 
								<a href="https://plus.google.com/collections/featured" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a> 
							</div>
						</div>
					</div>
				</div>
				
				<div class="footer-company text-center">
					<div class="container"> 
						<%= SiteSetting.last.try(:footer_text) || "We aren't a dot-com company. Our company's founders &amp; CEO are electrical and mechanical engineers and business men." %>
					</div>
				</div>
			</footer>

		</div>
	</body>
</html>
